<link href="~/Content/destinations.css" rel="stylesheet" />
@using Microsoft.AspNet.Identity
@model TravelCat.ViewModels.destinationsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/web-Layout.cshtml";

    string memberId;
    if (Session["memberID"] == null || string.IsNullOrWhiteSpace(Session["memberID"].ToString()))
    {
        memberId = null;
    }
    else
    {
        memberId = Session["memberID"].ToString();
    }
    
}


<div class=" justify-content-center align-items-center">
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item header-carousel-item bg-cover active " style="background-image:url( https://www.blacktomato.com/wp-content/uploads/2016/02/Amalfi-coast_Shutterstock-9.jpg)">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@Model.activity.activity_title</h5>
                    </div>
                </div>
                <div class="carousel-item header-carousel-item bg-cover " style="background-image:url(https://www.blacktomato.com/wp-content/uploads/2016/02/Positano-italy.jpg)">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@Model.activity.activity_title</h5>
                    </div>
                </div>
                <div class="carousel-item header-carousel-item bg-cover " style="background-image:url(https://www.blacktomato.com/wp-content/uploads/2016/02/Amazing-Amalfi-coast.jpg)">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@Model.activity.activity_title</h5>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>

    <!--景點資料-->
    <section class="bg-white py-5  text-center">
        <div class="container col-md-10 ">
            <!--加入收藏-->


            @if (@Model.collections_detail.Where(m => m.member_id == @memberId).Count() > 0)
            {
                <input type="submit" name="delete_bucket_list" class="delete_bucket_list btn btn-outline-info" value="取消收藏" />
            }
            else
            {
                <form action="/web_activities/Postcollections_detail" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="member_id" value="@Session["memberID"]" />
                    <input type="hidden" name="privacy" value="True" />
                    <input type="hidden" name="tourism_id" value="@ViewBag.tourismId" />
                    <input type="hidden" name="collection_type_id" value="1" />
                    <input type="submit" name="add_to_bucket_list" class="add_to_bucket_list btn btn-outline-info" value="加入收藏" />
                </form>
            }

            <h2>
                @Html.DisplayNameFor(model => model.activity.activity_intro)
            </h2>
            <p class="intro">
                @Html.DisplayFor(model => model.activity.activity_intro)
            </p>
            <i class="fas fa-angle-double-down readmore"></i>
        </div>
    </section>
    <!--景點資料-->
    <section class="bg-white py-4 ">
        <div class="container  col-md-10">
            <div class="row">
                <div class="col-md-4 ">
                    <div class="ROW">
                        <ul>
                            <li>
                                <h4>
                                    @Html.DisplayNameFor(model => model.activity.activity_tel)
                                </h4>

                                @if (String.IsNullOrEmpty(@Model.activity.activity_tel))
                                {
                                    <span>無</span>
                                }
                                else
                                {
                                    <span>
                                        @Html.DisplayFor(model => model.activity.activity_tel)
                                    </span>
                                }

                            </li>
                            <li>
                                <h4>
                                    @Html.DisplayNameFor(model => model.activity.address_detail)
                                </h4>
                                <span>
                                    @Html.DisplayFor(model => model.activity.city)
                                </span>
                            </li>
                            <li>
                                <h4>
                                    @Html.DisplayFor(model => model.activity.district)
                                </h4>
                                @if (String.IsNullOrEmpty(@Model.activity.address_detail))
                                {
                                    <span>無</span>
                                }
                                else
                                {
                                    <span>
                                        @Html.DisplayFor(model => model.activity.address_detail)
                                    </span>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <ul>
                        <li>
                            <h4>
                                @Html.DisplayNameFor(model => model.activity.begin_date)
                            </h4>
                            <span>
                                @Html.DisplayFor(model => model.activity.begin_date)
                            </span>
                        </li>
                        <li>
                            <h4>
                                @Html.DisplayNameFor(model => model.activity.end_date)
                            </h4>
                            <span>
                                @Html.DisplayFor(model => model.activity.end_date)
                            </span>

                        </li>
                        <li>
                            <h4>
                                @Html.DisplayNameFor(model => model.activity.organizer)
                            </h4>
                            <span>
                                @Html.DisplayFor(model => model.activity.organizer)
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 ">
                    <ul>
                        <li>
                            <h4>
                                @Html.DisplayNameFor(model => model.activity.website)
                            </h4>


                            @if (String.IsNullOrEmpty(@Model.activity.website))
                            {
                                <span>無</span>
                            }
                            else
                            {
                                <span>
                                    @Html.DisplayFor(model => model.activity.website)
                                </span>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    @*googlemap*@
    <section class="container-fluid py-5 bg-light mapbg" style="position:relative ;">
        <div class="row">
            <div class="col-md-6 bg-cover" style="position:absolute;top:0px;bottom:0px" id="map"></div>
            <div class="container">
                <div class="row  justify-content-end text-md-dark">
                    <div class="col-md-6 text-center" style="height:auto">
                        <h2>
                            @Html.DisplayNameFor(model => model.activity.transport_info)
                        </h2>
                        @if (String.IsNullOrEmpty(@Model.activity.website))
                        {
                            <span>無</span>
                        }
                        else
                        {
                            <span>
                                @Html.DisplayFor(model => model.activity.transport_info)
                            </span>
                        }

                        <br />
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!--篩選評論-->
    <section>
        <div class="">

            <div class="filter_comment row ">

                <div class="col-4">
                    <h4>旅客評等</h4><br />
                    <input id="Checkbox1" type="checkbox" />很棒 <br />
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <input id="Checkbox1" type="checkbox" />非常好 <br />
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <input id="Checkbox1" type="checkbox" />一般 <br />
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <input id="Checkbox1" type="checkbox" />差 <br />
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <input id="Checkbox1" type="checkbox" />糟透了<br />
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col-4">
                    <h4>旅客類型</h4><br />
                    <input id="Checkbox1" type="checkbox" />蜜月 <br />
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <input id="Checkbox1" type="checkbox" />伴侶 <br />
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <input id="Checkbox1" type="checkbox" />家庭<br />
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <input id="Checkbox1" type="checkbox" />朋友<br />
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <input id="Checkbox1" type="checkbox" />商務<br />
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col-4">
                    <h4>月份</h4><br />
                    <input id="Checkbox1" type="checkbox" /> 3 月到 5 月<br />
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <input id="Checkbox1" type="checkbox" /> 6 月到 8 月<br />
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <input id="Checkbox1" type="checkbox" /> 9 月到 11 月<br />
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <input id="Checkbox1" type="checkbox" /> 12 月到 2 月<br />
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <input id="Submit_filter" type="submit" value="送出篩選" class="btn btn-outline-info" />
            </div>
        </div>
    </section>

    <!--評論列表-->
    <!--新增評論-->
    <hr />
    <div class="new_comment container">
        <form action="/web_comments/Create" Method="GET">
            <input type="hidden" name="tourismID" value=@Model.activity.activity_id />
            <input type="hidden" name="mem_id" value="@Session["memberID"]" />
            <button type="submit" class="add_comment btn btn-outline-info mb-5  mt-3 ">新增評論</button>
        </form>
    </div>


    <hr />
    @Html.Action("_CommentsForDestination", "CommentsWeb", new { tourismId = @ViewBag.tourismId })

    @*<!--評論開始-->
        @foreach (var item in Model.comment)
        {
            if (item.comment_status)
            {
                <div class="container">


                    <div class="single_comments  ">
                        <input id="comment_id" type="hidden" value=@item.comment_id />
                        <div class="member_detail ">
                            <div class="d-flex">
                                <img class="member_avatar" src="~/images/member/@item.member.member_profile.profile_photo" alt="...">
                                <div class="d-flex">
                                    <h5 class="member_name">@item.member.member_profile.nickname</h5>
                                </div>
                            </div>
                            <!-- 更多選項 -->
                            <div class="more_action">
                                <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="icon" src="~/images/emoji/more.png" />
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">分享到 facebook</a>
                                    <a class="dropdown-item" href="#">分享到 line</a>
                                    <a class="dropdown-item" href="#">分享到 google</a>
                                    <a class="dropdown-item report_comment" data-toggle="modal" data-target="#exampleModalScrollable"> 檢舉此評論</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment_photo">
                            <img src="/images/comment/@item.comment_photo" class="comment_photo img-fluid" />
                        </div>
                        <div class="commemt_content">
                            <h2 class="comment_title">@item.comment_title</h2>
                            <span class="create_time "> @item.comment_date.ToString("yyyy MM dd")  </span>

                            <div class="response_content">
                                <p>@Html.Raw(item.comment_content.ToString().Replace("\n", "<br>"))</p>
                            </div>
                            <a href="" class="hashtag "> #@Model.activity.activity_title </a>
                        </div>

                        @if (memberId == item.member_id)
                        {
                            <div class="text-right">
                                @Html.ActionLink("編輯", "Edit", "web_comments", new { id = @item.comment_id }, null)
                                @Html.ActionLink("刪除", "Delete", "web_comments", new { id = @item.comment_id }, new { @class = "", onclick = "return confirm('確認要刪除?')" })
                            </div>
                        }
                        <hr />
                        <div class="emoji_panel d-flex btn-group btn-group-toggle mb-3 mt-3  " data-toggle="buttons">
                            <div class="comment_emoji_detail emoji">

                                @if (@Model.comment_emoji_details.Where(m => m.member_id == @memberId && m.comment_id == item.comment_id && m.emoji_id == 1 && m.tourism_id == @Model.activity.activity_id).Count() > 0)
                                {

                                    <img class="icon comment_emoji_heart click_button" src="~/images/emoji/talk.png" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 1).Count()" comment_id="@item.comment_id" emoji_id="1" disabled="disabled" />
                                    <span class="comment_emoji_heart_num">@item.comment_emoji_details.Where(m => m.emoji_id == 1).Count() </span>
                                }
                                else
                                {
                                    <img class="icon comment_emoji_heart" src="~/images/emoji/talk.png" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 1).Count()" comment_id="@item.comment_id" emoji_id="1" />
                                    <span class="comment_emoji_heart_num">@item.comment_emoji_details.Where(m => m.emoji_id == 1).Count() </span>
                                }
                                @if (@Model.comment_emoji_details.Where(m => m.member_id == @memberId && m.comment_id == item.comment_id && m.emoji_id == 2 && m.tourism_id == @Model.activity.activity_id).Count() > 0)
                                {

                                    <img class="icon comment_emoji_unicorn click_button" src="~/images/emoji/unicorn.svg" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 2).Count() " comment_id="@item.comment_id" emoji_id="2" disabled="disabled" />
                                    <span class="comment_emoji_unicorn_num">@item.comment_emoji_details.Where(m => m.emoji_id == 2).Count()</span>
                                }
                                else
                                {
                                    <img class="icon comment_emoji_unicorn" src="~/images/emoji/unicorn.svg" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 2).Count() " comment_id="@item.comment_id" emoji_id="2" />
                                    <span class="comment_emoji_unicorn_num">@item.comment_emoji_details.Where(m => m.emoji_id == 2).Count()</span>
                                }
                                @if (@Model.comment_emoji_details.Where(m => m.member_id == @memberId && m.comment_id == item.comment_id && m.emoji_id == 3 && m.tourism_id == @Model.activity.activity_id).Count() > 0)
                                {

                                    <img class="icon comment_emoji_good click_button" src="~/images/emoji/sweet-potato.png" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 3).Count()" comment_id="@item.comment_id" emoji_id="3" disabled="disabled" />
                                    <span class="comment_emoji_good_num">@item.comment_emoji_details.Where(m => m.emoji_id == 3).Count()</span>
                                }
                                else
                                {
                                    <img class="icon comment_emoji_good" src="~/images/emoji/sweet-potato.png" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 3).Count()" comment_id="@item.comment_id" emoji_id="3" />
                                    <span class="comment_emoji_good_num">@item.comment_emoji_details.Where(m => m.emoji_id == 3).Count()</span>
                                }

                            </div>


                            <hr />


                            <!--檢舉評論modal-->
                            <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalScrollableTitle">檢舉評論</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <textarea id="report_content" name="report_content" rows="20" cols="20" placeholder="請附上有問題的網址，以及違規評論內容"></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="btnTest" type="submit" class="btn btn-outline-dark submit_issue" data-dismiss="modal">提交表單</button>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>
                        <!--單則留言-->
                        <div class="message_list  ">


                            @foreach (var msgItem in item.message)
                            {
                                <div class=" single_message py-3">
                                    <div class="media mt-3">
                                        <img src="~/images/member/@msgItem.member.member_profile.profile_photo" width="74" height="74" class="mr-3 ml-3 member_avatar" alt="...">
                                        <div class="media-body">
                                            <h5 class="member_name">
                                                @msgItem.member.member_profile.nickname
                                            </h5>
                                            <span class="create_time">
                                                @msgItem.msg_time.ToString("yyyy MM dd")
                                            </span>
                                            <div class="response_content">
                                                @msgItem.msg_content
                                            </div>
                                            <hr />
                                            <div class="emoji">
                                                <img class="icon msg_emoji_heart" src="~/images/emoji/talk.png" />
                                                <span class="msg_emoji_heart">@msgItem.message_emoji_details.Where(m => m.emoji_id == 1).Count() </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <!--回覆留言-->

                            <div class="add_message single_message">
                                @if (@memberId != null)
                                {
                                    <form action="/web_activities/createMessage" method="post">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="comment_id" value="@item.comment_id" />
                                        <input type="hidden" name="msg_time" value="@DateTime.Now" />
                                        <input type="hidden" name="member_id" value="@Session["memberID"]" />
                                        <input type="hidden" name="msg_status" value="True" />
                                        <input type="hidden" name="tourism_id" value="@item.tourism_id" />
                                        <textarea class="msg_content" rows="2" cols="20" name="msg_content" placeholder="@User.Identity.GetUserName(),想說說甚麼..."></textarea>
                                        <br />
                                        <div class="add_message_Submit_area text-right">
                                            <input id="add_message_Submit" class="btn btn-outline-dark" type="submit" value="submit" />
                                        </div>
                                    </form>
                                }
                                else
                                {
                                    <textarea class="msg_content" rows="2" cols="20" name="msg_content" placeholder="請先登入後留言"></textarea>
                                }
                            </div>




                        </div>
                    </div>
                </div>
            }
        }
        <!--評論結束-->*@

</div>


<!--FB-->
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '562137197876777',
            autoLogAppEvents: true,
            xfbml: true,
            version: 'v5.0'
        });
    };
</script>
<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbQxjXC0otfo4YjWBXOOzuVnvAAHMsFs8&callback=initMap" async defer></script>

<!--google-->
<script>
    var map;
    var marker;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: @Model.activity.latitude, lng:@Model.activity.longitude  },
            zoom: 17
        });
      marker = new google.maps.Marker({
      position : { lat: @Model.activity.latitude, lng: @Model.activity.longitude },//positon 位置
      map:map, //標示地圖
      title:'@Model.activity.'//說明文字(選擇性填寫)
    })
    }
     var a = '123';

</script>

@*@section scripts {

    <script>
        var id ;
        var tourismId = "@ViewBag.tourismId";

        if ("@Session["memberID"]" =="") {
            id = null

        } else {

            id = "@Session["memberID"]"

        }
        console.log(id)
        console.log(tourismId)

        //顯示文章
        $(".readmore").click(function () {
            $(".intro").toggleClass('showMore');

        })
        //新增收藏
        $(".add_to_bucket_list").click(function (e) {
            if (id == null) {
                event.stopPropagation();
                alert('請先登入:)');
                return false;
            }
        });
        //新增評論
        $(".add_comment").click(function (e) {
            if (id == null) {
                event.stopPropagation();
                alert('請先登入:)');
                return false;
            }
        })
        //評論按讚
        $(".comment_emoji_detail").click(function (e) {
            if (id == null) {
                event.stopPropagation();
                alert('請先登入:)');
                return false;
            }
            let value = parseInt(e.target.getAttribute('data-value'))
            let plusValue = value + 1
            let comment_id = e.target.getAttribute('comment_id')
            let emoji_id = e.target.getAttribute('emoji_id')

            if ($(e.target).attr('disabled') == 'disabled') {
                $(e.target).attr('disabled', false);
                $(e.target).removeClass('click_button');
                $(event.target).next().text(value);
                $.ajax({
                    type: 'Delete',
                    url: "http://localhost:54678/api/api_comment_emoji_details",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        "member_id": id,
                        "comment_id": comment_id,
                        "emoji_id": emoji_id,
                        "tourism_id":tourismId
                    }),
                    success: function (data, status) {


                    }
                });
                return;
            } else
            $(e.target).attr('disabled', true);
            $(e.target).addClass('click_button')
            $(event.target).next().text(plusValue);
            $.ajax({
                type: 'POST',
                url: "http://localhost:54678/api/api_comment_emoji_details",
                contentType: 'application/json',
                data: JSON.stringify({
                    "member_id": id,
                    "comment_id": comment_id,
                    "emoji_id": emoji_id,
                    "tourism_id":tourismId
                }),
                success: function (data, status) {


                }
            });

        });
        //檢舉評論
        function sendReport() {

            $.ajax({
                type: 'POST',
                url: `http://localhost:54678/api/api_issues?memberId=${id}&issueContent=${$('#report_content').val()}`,
                success: function (data, status) {
                    alert("提交成功!")
                }
            });
            $('#report_content').val("")
        }
        $(".submit_issue").click(function (e) {
            if (id == null) {
                event.stopPropagation();
                alert('請先登入:)');
                return false;
            }
            sendReport()
        });


    </script>
}*@

