@model IEnumerable<TravelCat.Models.activity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/web-Layout.cshtml";
}



<div class="container">
    <div class="card" style="width: 18rem;">




        @foreach (var item in Model)
       
            {
            <div class="card" style="width: 18rem;">
                <img src="~/images/dribbbe_bmo-01.png" class="card-img-top " />
                <div class="card-body">
                    <h5 class="card-title">
                        @Html.ActionLink(item.activity_title, "Details", new { id = item.activity_id })
                    </h5>
                </div>
            </div>

            }
        
        @*<tr>
            <td>

                @Html.ActionLink(item.activity_title, "Details", new { id = item.activity_id })
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.district)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address_detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.end_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.begin_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.organizer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.website)
            </td>

            <td></td>
        </tr>*@

    </div>

    </div>