@model IEnumerable<TravelCat.Models.issue>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.issue_type.issue_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.issue_content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.issue_result)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.issue_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resolve_date)
        </th>
        <th>
            管理員帳號
        </th>
        <th>
            檢舉人帳號
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.issue_type.issue_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.issue_content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.issue_result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.issue_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.resolve_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.admin.admin_account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.member.member_account)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
        </tr>
    }

</table>
