@model TravelCat.Models.member

@{
    ViewBag.Title = "Edit";
}
    <link href="~/Content/back-end-Create.css" rel="stylesheet" />
<h2 class="ml-3 mt-3 text-danger text-center">會員管理</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.member_id)

    <!--帳號狀態-->
    <div class="row">
        <div class="co col-6">
            @Html.LabelFor(model => model.member_status, htmlAttributes: new { @class = "txt" })
            <span class="checkbox ml-3">
                @Html.EditorFor(model => model.member_status)
                @Html.ValidationMessageFor(model => model.member_status, "", new { @class = "text-danger" })
            </span>
        </div>
    </div>


    <!--會員編號-->
    <div class="row">
        <div class="co col-6">
            @Html.LabelFor(model => model.member_id, "會員編號", htmlAttributes: new { @class = "txt" })
            <input id="member_id" name="member_id" type="text" readonly="readonly" value="@Model.member_id" class="form-control" />
        </div>
    </div>

    <!--帳號-->
    <div class="row">
        <div class="co col-6">
            @Html.LabelFor(model => model.member_account, htmlAttributes: new { @class = "txt" })
            <input id="member_account" name="member_account" type="text" readonly="readonly" value="@Model.member_account" class="form-control" />
        </div>
    </div>

    <input type="hidden" id="member_password" name="member_password" value="@Model.member_password" />


    <div class="row text-center footer">
        <div class="col-1">
            <input type="submit" value="存檔" class="btn btn-primary" />
        </div>
        <div class="col-2">
            @Html.ActionLink("返回列表", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
}


