@model TravelCat.Models.member

@{
    ViewBag.Title = "Edit";
}
<link href="~/Content/back-end-Create.css" rel="stylesheet" />
<h2 class="ml-3 mt-3 text-danger text-center">會員管理</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.member_id)
        @Html.HiddenFor(model => model.member_password)

        <!--帳號狀態-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.member_status, htmlAttributes: new { @class = "txt" })
                <span class="checkbox ml-3">
                    @Html.EditorFor(model => model.member_status)
                    @Html.ValidationMessageFor(model => model.member_status, "", new { @class = "text-danger" })
                </span>
            </div>
        </div>


        <!--會員編號-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.member_id, "會員編號", htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.member_id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <!--帳號-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.member_account, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.member_account, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="row text-center mt-3">
            <div class="col-md-12">
                <input type="submit" value="存檔" class="btn btn-primary" />
                @Html.ActionLink("返回列表", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}


