@using X.PagedList.Mvc
@using X.PagedList
@using X.PagedList.Mvc.Common

@model IPagedList<TravelCat.Models.member>
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/back-end-index.css" rel="stylesheet" />

<h2 class="mt-3 text-center">管理會員</h2>


<div class="row">
    <div class="col-md-12">
        <div class="list-group m-3" id="list-tab" role="tablist">
            <a id="member_link" class="list-group-item active" data-toggle="list" href="#member" role="tab">所有會員</a>
            <a id="issue-member_link" class="list-group-item" data-toggle="list" href="#issue-member" role="tab">被檢舉會員</a>
        </div>
    </div>
    <div class="col-md-12">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="member" role="tabpanel">

                <form action="@Url.Action("Index")" method="get" class="text-right search m-2">
                    @Html.TextBox("search_member", "", new { @class = "border", @placeholder = "請輸入會員編號" })
                    <input class="btn btn-secondary" type="submit" value="查詢" />
                </form>

                <table class="table">
                    <tr class="row">
                        <th class="col-3  text-center"></th>
                        <th class="col-3">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().member_id)
                        </th>
                        <th class="col-3">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().member_account)
                        </th>
                        <th class="col-3">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().member_status)
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr class="row">
                            <td class="col-3  text-center">
                                @Html.ActionLink("管理", "Edit", new { id = item.member_id }, new { @class = "btn btn-sm btn-outline-primary" })
                            </td>

                            <td class="col-3">
                                @Html.DisplayFor(modelItem => item.member_id)
                            </td>
                            <td class="col-3">
                                @Html.DisplayFor(modelItem => item.member_account)
                            </td>
                            <td class="col-3">
                                @if (item.member_status == false)
                                {
                                    <span class="badge badge-success">顯示</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">隱藏</span>
                                }
                            </td>
                        </tr>
                    }
                </table>
                <div>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, id = ViewBag.id }),
                   new PagedListRenderOptions
                   {
                       ContainerDivClasses = new[] { "" },
                            LiElementClasses = new[] { "page-item" },
                            PageClasses = new[] { "page-link" },
                   })
                </div>
            </div>
            <div class="tab-pane fade" id="issue-member" role="tabpanel">
                @Html.Action("_Problem", "issues", new { type_id = 2 })
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var invoke_make_blank = true;
        var tab = "@ViewBag.tab";
    if (invoke_make_blank)
    {
           if (tab == '2') {
               $('#member_link').removeClass('active');
               $('#issue-member_link').addClass('active');
               $('#member').removeClass('active show');
               $('#issue-member').addClass('active show');
    }
        invoke_make_blank = false;
    }
    </script>
    }