@model TravelCat.Models.comment

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout 1.cshtml";
}

<h2>新增評論</h2>


@*@using (Html.BeginForm())*@

<form action="/web_comments/Create" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>comment</h4>
        <hr />
        <!--觀光編號預設值-->
        <input type="hidden" id="tourism_id" name="tourism_id" value="@ViewBag.tourismID" />


        <div class="form-group">
            @Html.LabelFor(model => model.comment_title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.comment_title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.comment_title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.comment_content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.comment_content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.comment_content, "", new { @class = "text-danger" })
            </div>
        </div>
        <!--發表時間 進入表單的時間 並非送出表單的時間-->
        <input type="hidden" id="comment_date" name="comment_date" value="@ViewBag.getTime" />

        <!--上傳圖片-->
        <div class="form-group">
            @Html.LabelFor(model => model.comment_photo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="comment_photo" name="comment_photo" type="file" class="form-control" />
                @Html.ValidationMessageFor(model => model.comment_photo, "", new { @class = "text-danger" })
            </div>
        </div>
        <!--停留時間-->
        <div class="form-group">
            @Html.LabelFor(model => model.comment_stay_total, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.comment_stay_total, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.comment_stay_total, "", new { @class = "text-danger" })
            </div>
        </div>
        <!--旅伴-->
        <div class="form-group">
            
            @Html.LabelFor(model => model.travel_partner, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.RadioButton("travel_partner", "蜜月", true)
                <label class="control-label " for="travel_partner">蜜月</label>
                @Html.RadioButton("travel_partner", "伴侶", true)
                <label class="control-label " for="travel_partner">伴侶</label>
                @Html.RadioButton("travel_partner", "家庭", true)
            <label class="control-label " for="travel_partner">家庭</label>
                @Html.RadioButton("travel_partner", "朋友", true)
            <label class="control-label " for="travel_partner">朋友</label>
                @Html.RadioButton("travel_partner", "商務", true)
            <label class="control-label " for="travel_partner">商務</label>
                @Html.RadioButton("travel_partner", "單獨旅行", true)
            <label class="control-label " for="travel_partner">單獨旅行</label>
                @Html.RadioButton("travel_partner", "商務", true)
            <label class="control-label " for="travel_partner">商務</label>
                @* @Html.CheckBoxFor("radio",(IEnumerable<SelectListItem>)ViewBag.travelPartner)*@
                @*@Html.ListBoxFor("travelPartner",ViewBag.travelPartner)*@
            </div>
            @Html.ValidationMessageFor(model => model.travel_partner, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.comment_rating, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.RadioButton("comment_rating", "1", true)1
            @Html.RadioButton("comment_rating", "2", true)2
            @Html.RadioButton("comment_rating", "3", true)3
            @Html.RadioButton("comment_rating", "4", true)4
            @Html.RadioButton("comment_rating", "5", true)5
            @Html.ValidationMessageFor(model => model.comment_rating, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.travel_month, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.DropDownList("travel_month")*@

            @Html.RadioButton("travel_month", "1", true)1
            @Html.RadioButton("travel_month", "2", true)2
            @Html.RadioButton("travel_month", "3", true)3
            @Html.RadioButton("travel_month", "4", true)4
            @Html.RadioButton("travel_month", "5", true)5
            @Html.ValidationMessageFor(model => model.comment_rating, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(model => model.travel_month, "", new { @class = "text-danger" })
        </div>
    </div>
    <!--評論狀態-->
    <input type="hidden" id="comment_status" name="comment_status" value="true" />

    <!--會員ID-->
    <input type="hidden" id="member_id" name="member_id" value="M000004" />


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

    </form>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
