@model TravelCat.Models.comment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tourism_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tourism_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment_content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment_photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment_photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment_stay_total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment_stay_total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.travel_partner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.travel_partner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.travel_month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.travel_month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.member.member_account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.member.member_account)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.comment_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
