@model TravelCat.Models.comment

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/web-Layout.cshtml";
}

<style>
    body {
       
        background-image: url('../../images/photo-1452423668729-43a98052d3ee.jpg');
        background-size: cover;
    }

    .form_panel {
        background: hsla(0,0%,100%,.3);
        color: #000;
    }

    .darkolivegreen-cat {
        background-color: darkolivegreen; /*深綠*/
        color: aliceblue; /*白色*/
    }

        .darkolivegreen-cat:hover {
            background-color: #227700; /*墨綠*/
            color: aliceblue;
        }

    .btn-outline-darkolivegreen {
        color: darkolivegreen; /*深綠*/
        border-color: darkolivegreen; /*深綠*/
    }

        .btn-outline-darkolivegreen:hover {
            color: #fff; /*白*/
            background-color: darkolivegreen; /*深綠*/
            border-color: darkolivegreen; /*深綠*/
        }

        .btn-outline-darkolivegreen:focus, .btn-outline-darkolivegreen.focus {
            box-shadow: 0 0 0 0.2rem rgba(127, 140, 114, 0.5);
        }

        .btn-outline-darkolivegreen.disabled, .btn-outline-darkolivegreen:disabled {
            color: darkolivegreen; /*深綠*/
            background-color: darkolivegreen;
        }

        .btn-outline-darkolivegreen:not(:disabled):not(.disabled):active, .btn-outline-darkolivegreen:not(:disabled):not(.disabled).active,
        .show > .btn-outline-darkolivegreen.dropdown-toggle {
            color: #fff; /*白*/
            background-color: darkolivegreen; /*深綠*/
            border-color: darkolivegreen; /*深綠*/
        }

            .btn-outline-darkolivegreen:not(:disabled):not(.disabled):active:focus, .btn-outline-darkolivegreen:not(:disabled):not(.disabled).active:focus,
            .show > .btn-outline-darkolivegreen.dropdown-toggle:focus {
                box-shadow: 0 0 0 0.2rem rgba(127, 140, 114, 0.5);
            }
</style>



@*<div class="container">*@

<form action="/web_comments/Edit" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <!------------------------------------------------------------------------------------>
    <div class=" py-4" style="height:110%;">
        <div class="form_panel form-horizontal container  rounded pt-4 ">
            <h1>編輯評論</h1>
            <div class="row ">
                <!--更換圖片-->
                <div class="form-group col-md-5 " style="height:500px;">
                    <div class="col-md-12">
                        <label class="btn darkolivegreen-cat">
                            
                                <input type="file" id="imgInp" name="comment_photo" style="display:none;" accept="image/gif, image/jpeg, image/png">
                                <i class="fa fa-photo"></i> 更換圖片
                                
                        </label>
                        <br />
                        <div class="row">
                            <img id="preview_img" src="~/images/comment/@Model.comment_photo" width="500" class="col-md-12" />
                            <input id="oldImg" name="oldImg" type="hidden" value="@Model.comment_photo" />
                            @Html.ValidationMessageFor(model => model.comment_photo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class=" col-md-7">
                    <!--評論標題-->
                    <div class=" form-group  ">
                        <h3> @Html.LabelFor(model => model.comment_title, htmlAttributes: new { @class = "control-label col-md-8" })</h3>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.comment_title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.comment_title, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <!--評論內容-->
                    <div class="form-group ">
                        <h4>

                            @Html.LabelFor(model => model.comment_content, htmlAttributes: new { @class = "control-label col-md-8" })

                        </h4>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.comment_content, new { @class = "form-control", rows = "5" })
                            @Html.ValidationMessageFor(model => model.comment_content, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <!--評論內容-->

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.HiddenFor(model => model.comment_date, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.comment_date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!--旅伴-->
                    <div class="form-group  ">
                        <h4>

                            @Html.LabelFor(model => model.travel_partner, htmlAttributes: new { @class = "control-label col-md-6" })

                        </h4>
                        <div class="col-md-10">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="partner">
                                <label class="btn btn-outline-darkolivegreen travel_partner ">
                                    <input type="radio" name="travel_partner" id="travel_partner1" autocomplete="off" checked value="蜜月"> 蜜月
                                </label>
                                <label class="btn btn-outline-darkolivegreen travel_partner">
                                    <input type="radio" name="travel_partner" id="travel_partner2" autocomplete="off" value="伴侶"> 伴侶
                                </label>
                                <label class="btn btn-outline-darkolivegreen travel_partner">
                                    <input type="radio" name="travel_partner" id="travel_partner3" autocomplete="off" value="家庭"> 家庭
                                </label>
                                <label class="btn btn-outline-darkolivegreen travel_partner">
                                    <input type="radio" name="travel_partner" id="travel_partner4" autocomplete="off" value="朋友"> 朋友
                                </label>
                                <label class="btn btn-outline-darkolivegreen travel_partner">
                                    <input type="radio" name="travel_partner" id="travel_partner5" autocomplete="off" value="商務"> 商務
                                </label>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.travel_partner, "", new { @class = "text-danger" })

                    </div>
                    <!--旅伴-->
                    <!--評分-->
                    <div class="form-group ">
                        <h4>

                            @Html.LabelFor(model => model.comment_rating, htmlAttributes: new { @class = "control-label col-md-6" })

                        </h4>
                        <div class="col-md-10 ">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="rating">
                                <label class="btn btn-outline-darkolivegreen comment_rating">
                                    <input type="radio" name="comment_rating" id="comment_rating1" autocomplete="off" value="1">1分
                                </label>
                                <label class="btn btn-outline-darkolivegreen comment_rating">
                                    <input type="radio" name="comment_rating" id="comment_rating2" autocomplete="off" value="2"> 2分
                                </label>
                                <label class="btn btn-outline-darkolivegreen comment_rating">
                                    <input type="radio" name="comment_rating" id="comment_rating3" autocomplete="off" value="3"> 3分
                                </label>
                                <label class="btn btn-outline-darkolivegreen comment_rating">
                                    <input type="radio" name="comment_rating" id="comment_rating4" autocomplete="off" value="4"> 4分
                                </label>
                                <label class="btn btn-outline-darkolivegreen comment_rating">
                                    <input type="radio" name="comment_rating" id="comment_rating5" autocomplete="off" value="5"> 5分
                                </label>
                            </div>



                            @Html.ValidationMessageFor(model => model.comment_rating, "", new { @class = "text-danger" })



                        </div>
                        <!--評分-->
                        <!--旅遊月份-->
                        <div class="form-group ">
                            <h4>

                                @Html.LabelFor(model => model.travel_month, htmlAttributes: new { @class = "control-label col-md-6" })

                            </h4>
                            <div class="col-md-10">

                                <div class="input-group mb-3">
                                    <select class="custom-select" id="inputGroupSelect01" name="travel_month">

                                        <option value="1">1月</option>
                                        <option value="2">2月</option>
                                        <option value="3">3月</option>
                                        <option value="4">4月</option>
                                        <option value="5">5月</option>
                                        <option value="6">6月</option>
                                        <option value="7">7月</option>
                                        <option value="8">8月</option>
                                        <option value="9">9月</option>
                                        <option value="10">10月</option>
                                        <option value="11">11月</option>
                                        <option value="12">12月</option>
                                    </select>
                                </div>

                                @Html.ValidationMessageFor(model => model.travel_month, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <!--停留時間-->
                        <div class="form-group ">
                            <h4>

                                @Html.LabelFor(model => model.comment_stay_total, htmlAttributes: new { @class = "control-label col-md-6" })

                            </h4>
                            <div class="col-md-10">
                                <div class="input-group mb-6">
                                    <select class="custom-select" id="comment_stay_total" name="comment_stay_total">

                                        <option value="1">1小時</option>
                                        <option value="2">2小時</option>
                                        <option value="3">3小時</option>
                                        <option value="4">3小時以上</option>
                                    </select>
                                </div>

                                @Html.ValidationMessageFor(model => model.comment_stay_total, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.comment_id)

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.HiddenFor(model => model.tourism_id, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.tourism_id, "", new { @class = "text-danger" })
                        </div>
                    </div>




                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.HiddenFor(model => model.comment_status)
                                @Html.ValidationMessageFor(model => model.comment_status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.HiddenFor(model => model.member_id)
                            @Html.ValidationMessageFor(model => model.member_id, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class=" col-md-10 ">
                        <div class="form-group justify-content-end row">
                            <input type="submit" value="Save" class="btn btn-lg darkolivegreen-cat" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------------------>


        
       

 

</form>




@section scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#preview_img").attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imgInp").change(function () {
            //當檔案改變後，做一些事
            readURL(this);   // this代表<input id="imgInp">
        });


        $('#rating input[value=@Model.comment_rating]').parent('label').addClass('active');
 
        $('#partner input[value=@Model.travel_partner]').parent('label').addClass('active');

        $('#inputGroupSelect01 option[value=@Model.travel_month]').attr("selected","selected")

        $('#comment_stay_total option[value=@Model.comment_stay_total]').attr("selected","selected")


    </script>


}