@model TravelCat.ViewModels.HotelPhotoViewModel

@{
    ViewBag.Title = "修改住宿";
}

<h2>修改住宿</h2>

<form method="post" action="@Url.Action("Edit")" enctype="multipart/form-data">

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>hotel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.hotel.hotel_id)

        <div class="form-group">
            @Html.LabelFor(model => model.hotel.hotel_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="hotel_id" name="hotel_id" type="text" readonly="readonly" value="@Model.hotel.hotel_id" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hotel.hotel_title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hotel.hotel_title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hotel.hotel_title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hotel.hotel_tel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hotel.hotel_tel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hotel.hotel_tel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hotel.longitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hotel.longitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hotel.longitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hotel.latitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hotel.latitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hotel.latitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hotel.hotel_intro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hotel.hotel_intro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hotel.hotel_intro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hotel.website, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hotel.website, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hotel.website, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hotel.city, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hotel.city, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hotel.city, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hotel.district, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hotel.district, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hotel.district, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hotel.address_detail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hotel.address_detail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hotel.address_detail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hotel.page_status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.hotel.page_status)
                    @Html.ValidationMessageFor(model => model.hotel.page_status, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="co col-6">
                <label class="">圖片</label>
               
                <div class="row">
                    @{ var photo = Model.hotel_photos.Where(m => m.tourism_id == Model.hotel.hotel_id).ToList();
                        for(int i = 0; i < 3; i++) {
                                        <div class="col-md-4">
                                            @if (i>photo.Count-1)
                                            {
                                                <h3>no image</h3>
                                            }
                                            else
                                            {
                                                <img src="/images/hotel/@photo[i].tourism_photo1" width="150" />
                                                <input id="oldImg" name="oldImg" type="text" value="@photo[i].tourism_photo1" />
                                            }
                                            <input id="tourism_photo" name="tourism_photo" type="file" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.hotel_photos[i].tourism_photo1, "", new { @class = "text-danger" })
                                        </div>
                        }
                    }
                </div>
            </div>
        </div>

        <!--下方按鈕-->
        <div class="row text-center footer">
            <div class="col-1">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div class="col-1">
                @Html.ActionLink("刪除", "Delete", new { id = Model.hotel.hotel_id }, new { @class = "btn btn-danger", onclick = "return confirm('確定不後悔?')" })
            </div>
            <div class="col-2">
                @Html.ActionLink("回到景點列表", "Index", new { page=Session["pg"]}, new { @class = "btn btn-primary" })
            </div>

        </div>
    </div>
    </form>


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
