@model TravelCat.ViewModels.HotelPhotoViewModel

@{
    ViewBag.Title = "修改住宿";
}

<link href="~/Content/back-end-Create.css" rel="stylesheet" />
<h2 class="ml-3 mt-3 text-danger text-center">修改住宿</h2>

<form method="post" action="@Url.Action("Edit")" enctype="multipart/form-data">

    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.hotel.hotel_id)


        <!--頁面狀態-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.hotel.page_status, htmlAttributes: new { @class = "txt" })
                <span class="checkbox ml-3">
                    @Html.EditorFor(model => model.hotel.page_status)
                    @Html.ValidationMessageFor(model => model.hotel.page_status, "", new { @class = "text-danger" })
                </span>
            </div>
        </div>

        <!--編號-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.hotel.hotel_id, htmlAttributes: new { @class = "txt" })
                <input id="hotel_id" name="hotel_id" type="text" readonly="readonly" value="@Model.hotel.hotel_id" class="form-control" />
            </div>
        </div>

        <!--名稱-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.hotel.hotel_title, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.hotel.hotel_title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hotel.hotel_title, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--電話-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.hotel.hotel_tel, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.hotel.hotel_tel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hotel.hotel_tel, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--經度-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.hotel.longitude, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.hotel.longitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hotel.longitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--緯度-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.hotel.latitude, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.hotel.latitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hotel.latitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--城市-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.hotel.city, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.hotel.city, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hotel.city, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--行政區-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.hotel.district, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.hotel.district, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hotel.district, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--街道地址-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.hotel.address_detail, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.hotel.address_detail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hotel.address_detail, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--飯店網址-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.hotel.website, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.hotel.website, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hotel.website, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--簡介-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.hotel.hotel_intro, htmlAttributes: new { @class = "txt" })
                @Html.TextAreaFor(model => model.hotel.hotel_intro, new { @class = "form-control", rows = "5" })
                @Html.ValidationMessageFor(model => model.hotel.hotel_intro, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--新增圖片-->
        <div class="row">
            <div class="co col-6">
                <label class="txt">圖片</label>
                <input id="tourism_photo" name="tourism_photo" type="file" class="form-control" />
                @if (Model.hotel_photos.tourism_photo1 != null)
                {
                    @:原圖：<img src="/images/hotel/@Model.hotel_photos.tourism_photo1" width="150" />
                }
                else
                {
                    <h3>原無圖示</h3>
                }
                <input id="oldImg" name="oldImg" type="hidden" value="@Model.hotel_photos.tourism_photo1" />
                @Html.ValidationMessageFor(model => model.hotel_photos.tourism_photo1, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--下方按鈕-->
        <div class="row text-center footer">
            <div class="col-1">
                <input type="submit" value="存檔" class="btn btn-primary" />
            </div>
            <div class="col-1">
                @Html.ActionLink("刪除", "Delete", new { id = Model.hotel.hotel_id }, new { @class = "btn btn-danger", onclick = "return confirm('確定不後悔?')" })
            </div>
            <div class="col-2">
                @Html.ActionLink("回到住宿列表", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>


    </div>
</form>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
