@model IEnumerable<TravelCat.Models.hotel>

@{
    ViewBag.Title = "Index";
}

<h2>住宿列表</h2>

<p>
    @Html.ActionLink("新增住宿", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.hotel_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hotel_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hotel_tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hotel_intro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.district)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address_detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.page_status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.hotel_id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.hotel_title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.hotel_tel)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.longitude)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.latitude)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.hotel_intro)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.website)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.city)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.district)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.address_detail)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.page_status)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.hotel_id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.hotel_id }, new { onclick = "return confirm('確定不後悔?')" })
    </td>
</tr>
}

</table>
