<link href="~/Content/destinations.css" rel="stylesheet" />
@using Microsoft.AspNet.Identity
@model TravelCat.ViewModels.destinationsViewModel
@{
    Layout = "~/Views/Shared/web-Layout.cshtml";

    string memberId;
    if (Session["memberID"] == null || string.IsNullOrWhiteSpace(Session["memberID"].ToString()))
    {
        memberId = null;
    }
    else
    {
        memberId = Session["memberID"].ToString();
    }

}


<div class=" justify-content-center align-items-center">
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner text-center ">
                <div class="carousel-item header-carousel-item bg-cover active " style="background-image:url( https://images.unsplash.com/photo-1554840757-8ceb09d6aa05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
                    <div class="carousel-caption offset-2 col-4 ">
                        <h5>@Model.hotel.hotel_title</h5>
                    </div>
                </div>
                <div class="carousel-item header-carousel-item bg-cover " style="background-image:url(https://images.unsplash.com/photo-1535479939465-f597a4f58943?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
                    <div class="carousel-caption offset-2 col-4">
                        <h5>@Model.hotel.hotel_title</h5>
                    </div>
                </div>
                <div class="carousel-item header-carousel-item bg-cover " style="background-image:url(https://images.unsplash.com/photo-1529290130-4ca3753253ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1955&q=80)">
                    <div class="carousel-caption offset-2 col-4">
                        <h5>@Model.hotel.hotel_title</h5>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>

    <!--景點介紹-->
    <section class="  text-center ">
        <div class="container col-md-7 py-5 ">
            <!--加入收藏-->
            @if (@Model.collections_detail.Where(m => m.member_id == @memberId).Count() > 0)
            {
                <form action="/web_comments/Deletecollections_detail" method="post">
                    <input type="hidden" name="member_id" value="@Session["memberID"]" />
                    <input type="hidden" name="tourism_id" value="@ViewBag.tourismId" />
                    <input type="hidden" name="collection_type_id" value="@Model.collections_detail.Where(m => m.member_id == @memberId).FirstOrDefault().collection_type_id" />
                    <input type="submit" class="delete_bucket_list bucket_list btn btn-outline-info" value="取消收藏" />
                </form>
            }
            else
            {

                <!-- 收藏Modal啟動 -->
                <button type="button" class="bucket_list btn btn-outline-info" data-toggle="modal" data-target="#collectModal">
                    加入收藏
                </button>

            }

            <!-- 收藏Modal -->
            <div class="modal fade" id="collectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">請選擇收藏分類</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/web_comments/Postcollections_detail" method="post">
                            <div class="modal-body">

                                @Html.AntiForgeryToken()
                                <input type="hidden" name="member_id" value="@Session["memberID"]" />
                                <input type="hidden" name="privacy" value="True" />
                                <input type="hidden" name="tourism_id" value="@ViewBag.tourismId" />

                                <div class="collection_type">
                                    <ul>
                                        <li>
                                            <input type="radio" id="f-option" name="collection_type_id" value="1">
                                            <label for="f-option">收藏</label>
                                            <div class="check"></div>
                                        </li>
                                        <li>
                                            <input type="radio" id="2-option" name="collection_type_id" value="2">
                                            <label for="2-option">已經去過</label>
                                            <div class="check"></div>
                                        </li>
                                        <li>
                                            <input type="radio" id="3-option" name="collection_type_id" value="3">
                                            <label for="3-option">想要去</label>
                                            <div class="check"></div>
                                        </li>
                                        <li>
                                            <input type="radio" id="4-option" name="collection_type_id" value="4">
                                            <label for="4-option">非去不可</label>
                                            <div class="check"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" name="add_to_bucket_list" class="add_to_bucket_list bucket_list btn btn-outline-dark" value="加入收藏" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--簡介-->
            <h2>
                @Html.DisplayNameFor(model => model.hotel.hotel_intro)
            </h2>
            <div class="intro text-left">
                <p>
                    @Html.DisplayFor(model => model.hotel.hotel_intro)
                </p>
            </div>
            <i class="fas fa-angle-double-down readmore"></i>
        </div>
    </section>
    <!--景點資料-->
    @*googlemap*@
    <section class="container-fluid py-5 bg-light mapbg" style="position:relative ;">
        <div class="row d-flex travel_info">
            <div class="col-md-12 bg-cover" style="position:absolute;top:0px;bottom:0px" id="map">
            </div>
            <div class="col-md-4 destinate_info ">
                <ul>
                    <li>
                        <span>
                            <i class="fas fa-phone-alt"></i>
                        </span>
                        @if (String.IsNullOrEmpty(@Model.hotel.hotel_tel))
                        {
                            <span>無</span>
                        }
                        else
                        {
                            <span>
                                @Html.DisplayFor(model => model.hotel.hotel_tel)
                            </span>
                        }
                    </li>
                    <li>
                        <span>
                            <i class="fas fa-map-marker-alt"></i>
                        </span>
                        <span>
                            @Model.hotel.city @Model.hotel.district @Html.DisplayFor(model => model.hotel.address_detail)
                        </span>
                    </li>


                    <li>
                        @if (String.IsNullOrEmpty(@Model.hotel.website))
                        {

                        }
                        else
                        {
                            <span>
                                <i class="fas fa-mouse-pointer"></i>
                            </span>
                            <span>
                                @Html.DisplayFor(model => model.hotel.website)
                            </span>
                        }
                    </li>
                </ul>
                <br />
            </div>
        </div>
    </section>

    <section>
        <h2 class="text-center">附近景點</h2>
        <div class="row col-10 offset-1">
            @if (@ViewBag.spot != null)
            {
                foreach (var item in @ViewBag.spot)
                {
                    <div class="col-4">
                        <div class="card">
                            <div class="card__image card__image--record"></div>
                            <div class="card__content">
                                <div class="card__title">@item.spot_title</div>
                                @if (@item.spot_intro == null)
                                {
                                    <br />
                                }
                                else
                                {
                                <div class="card__info">
                                    <p class="card__text">@item.spot_intro</p>
                                </div>
                                    
                                }

                                <button class="btn btn--block card__btn" onclick="window.location.href='@Url.Action("Details","WebSpots",new {id=item.spot_id })'">前往頁面</button>

                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </section>

    <!--篩選評論-->
    @{ double totalCommentNum = 0;
        if (@Model.comment.Count() > 0) { totalCommentNum = @Model.comment.Count(); }
    }
    <section>


        <div class="filter_comment row col-6 offset-1">
            <input type="hidden" name="tourismId" value="@ViewBag.tourismId" />
            <div class="col-12 mt-3">
                <div class="row">
                    <h3 class="col-9">評論 (@Model.comment.Count())</h3>
                    <div class="new_comment col-3 justify-content-end">
                        <form action="/web_comments/Create" Method="GET">
                            <input type="hidden" name="tourismID" value=@Model.hotel.hotel_id />
                            <input type="hidden" name="mem_id" value="@Session["memberID"]" />
                            <button type="submit" class="add_comment btn btn-outline-dark btn-lg  ">新增評論</button>
                        </form>
                    </div>
                </div>
                <hr />
            </div>
            <div class="fliter_set col-4">
                <div class="fliter_set">
                    <h4>旅客評等</h4><br />
                    <label class="filter_container">
                        很棒
                        <input type="checkbox" value="5" name="comment_rating" />
                        <span class="checkmark"></span>
                    </label>
                    <div class="progress">

                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width:@((double)(@Model.comment.Where(m => m.comment_rating == 5 ).Count() / totalCommentNum)*100)%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <label class="filter_container">
                        非常好
                        <input type="checkbox" value="4" name="comment_rating" />
                        <span class="checkmark"></span>
                    </label>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: @((double)(@Model.comment.Where(m => m.comment_rating == 4).Count() / totalCommentNum)*100)%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <label class="filter_container">
                        一般
                        <input type="checkbox" value="3" name="comment_rating" />
                        <span class="checkmark"></span>
                    </label>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: @((double)(@Model.comment.Where(m => m.comment_rating == 3).Count() / totalCommentNum)*100)%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <label class="filter_container">
                        差
                        <input type="checkbox" value="2" name="comment_rating" />
                        <span class="checkmark"></span>
                    </label>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: @((double)(@Model.comment.Where(m => m.comment_rating == 2).Count() / totalCommentNum)*100)%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <label class="filter_container">
                        糟透了
                        <input type="checkbox" value="1" name="comment_rating" />
                        <span class="checkmark"></span>
                    </label>

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: @((double)(@Model.comment.Where(m => m.comment_rating == 1).Count() / totalCommentNum)*100)%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <!--新增-->
            </div>
            <div class="fliter_set col-4">
                <div class="fliter_set">
                    <h4>旅客類型</h4><br />
                    <label class="filter_container">
                        蜜月
                        <input type="checkbox" value="蜜月" name="travel_partner" />
                        <span class="checkmark"></span>
                    </label>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: @((double)(@Model.comment.Where(m => m.travel_partner == "蜜月").Count() / totalCommentNum)*100)%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <label class="filter_container">
                        伴侶
                        <input type="checkbox" value="伴侶" name="travel_partner" />
                        <span class="checkmark"></span>
                    </label>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: @((double)(@Model.comment.Where(m => m.travel_partner == "伴侶").Count() / totalCommentNum)*100)%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <label class="filter_container">
                        家庭
                        <input type="checkbox" value="家庭" name="travel_partner" />
                        <span class="checkmark"></span>
                    </label>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: @((double)(@Model.comment.Where(m => m.travel_partner == "家庭").Count() / totalCommentNum)*100)%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <label class="filter_container">
                        朋友
                        <input type="checkbox" value="朋友" name="travel_partner" />
                        <span class="checkmark"></span>
                    </label>


                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: @((double)(@Model.comment.Where(m => m.travel_partner == "朋友").Count() / totalCommentNum)*100)%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <label class="filter_container">
                        商務
                        <input type="checkbox" value="商務" name="travel_partner" />
                        <span class="checkmark"></span>
                    </label>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: @((double)(@Model.comment.Where(m => m.travel_partner == "商務").Count() / totalCommentNum)*100)%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

            </div>
            <div class="fliter_set col-4">
                <div class="fliter_set">
                    <h4>月份</h4><br />
                    <label class="filter_container">
                        3 月到 5 月
                        <input type="checkbox" value="3-5" name="travel_month" />
                        <span class="checkmark"></span>
                    </label>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: @((double)(@Model.comment.Where(m => m.travel_month == "3" || m.travel_month == "4" || m.travel_month == "5" ).Count() / totalCommentNum)*100)%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <label class="filter_container">
                        6 月到 8 月
                        <input type="checkbox" value="6-8" name="travel_month" />
                        <span class="checkmark"></span>
                    </label>

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: @((double)(@Model.comment.Where(m => m.travel_month == "6" || m.travel_month == "7" || m.travel_month == "8" ).Count() / totalCommentNum)*100)%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <label class="filter_container">
                        9 月到 11 月
                        <input type="checkbox" value="9-11" name="travel_month" />
                        <span class="checkmark"></span>
                    </label>

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: @((double)(@Model.comment.Where(m => m.travel_month == "9" || m.travel_month == "10" || m.travel_month == "11" ).Count() / totalCommentNum)*100)%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <label class="filter_container">
                        12 月到 2 月
                        <input type="checkbox" value="12-2" name="travel_month" />
                        <span class="checkmark"></span>
                    </label>


                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: @((double)(@Model.comment.Where(m => m.travel_month == "12" || m.travel_month == "1" || m.travel_month == "2" ).Count() / totalCommentNum)*100)%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

            </div>


        </div>
    </section>

    <!--渲染評論-->
    <div id="render_comment">
        @Html.Action("_CommentsForDestination", "CommentsWeb", new { tourismId = @ViewBag.tourismId })
    </div>

</div>


<!--google-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbQxjXC0otfo4YjWBXOOzuVnvAAHMsFs8&callback=initMap" async defer></script>
<script>
    var map;
    var marker;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: @Model.hotel.latitude, lng:@Model.hotel.longitude  },
            zoom: 17,
            styles:[
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#6195a0"
            }
        ]
    },
    {
        "featureType": "administrative.province",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [
            {
                "lightness": "0"
            },
            {
                "saturation": "0"
            },
            {
                "color": "#f5f5f2"
            },
            {
                "gamma": "1"
            }
        ]
    },
    {
        "featureType": "landscape.man_made",
        "elementType": "all",
        "stylers": [
            {
                "lightness": "-3"
            },
            {
                "gamma": "1.00"
            }
        ]
    },
    {
        "featureType": "landscape.natural.terrain",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#bae5ce"
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 45
            },
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#fac9a9"
            },
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "labels.text",
        "stylers": [
            {
                "color": "#4e4e4e"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#787878"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "transit.station.airport",
        "elementType": "labels.icon",
        "stylers": [
            {
                "hue": "#0a00ff"
            },
            {
                "saturation": "-77"
            },
            {
                "gamma": "0.57"
            },
            {
                "lightness": "0"
            }
        ]
    },
    {
        "featureType": "transit.station.rail",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#43321e"
            }
        ]
    },
    {
        "featureType": "transit.station.rail",
        "elementType": "labels.icon",
        "stylers": [
            {
                "hue": "#ff6c00"
            },
            {
                "lightness": "4"
            },
            {
                "gamma": "0.75"
            },
            {
                "saturation": "-68"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#eaf6f8"
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#c7eced"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "lightness": "-49"
            },
            {
                "saturation": "-53"
            },
            {
                "gamma": "0.79"
            }
        ]
    }
]
        });
      marker = new google.maps.Marker({
          position : { lat: @Model.hotel.latitude, lng: @Model.hotel.longitude },//positon 位置
          map: map, //標示地圖
          animation: google.maps.Animation.BOUNCE,
          title: '@Model.hotel.hotel_title',//說明文字
          icon:'http://www.oxxostudio.tw/img/articles/201801/google-maps-3-marker-icon.png'
    })
    }


</script>
<script>

    $(`.filter_comment`).on("change", function () {
        var comment_rating_values = [];
        var travel_partner_values = [];
        var travel_month_values = [];
        $.each($("input[name='comment_rating']:checked"), function () {
            comment_rating_values.push($(this).val());
        });
        $.each($("input[name='travel_partner']:checked"), function () {
            travel_partner_values.push($(this).val());
                });
        $.each($("input[name='travel_month']:checked"), function () {
           if ($(this).val() == '3-5') {
                travel_month_values.push(3,4,5);
            }else if ($(this).val() == '6-8') {
                travel_month_values.push(6,7,8);
            }else if ($(this).val() == '9-11') {
                travel_month_values.push(9,10,11);
            }else if($(this).val() == '12-2') {
                travel_month_values.push(12,1,2);
            }
        });
        console.log(comment_rating_values)
        console.log(travel_partner_values)
                console.log(travel_month_values)
            $.ajax({  //利用AJAX發送表單，成功後更新render_comment
                url: "@Url.Action("_CommentsForDestination","CommentsWeb")",
                type: 'Post',
                data: {
                    'tourismId': "@ViewBag.tourismId",
                    'comment_rating': comment_rating_values,
                    'travel_partner': travel_partner_values,
                    'travel_month':travel_month_values,
                },
                success: function (data) {
                    $("#render_comment").html(data);
                },
                error: function (data) {
                    alert(data);
                }
            });
        });
</script>