@model IEnumerable<TravelCat.Models.hotel>

@{
    Layout = "~/Views/Shared/web-Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hotel_title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hotel_tel)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.district)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address_detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.page_status)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.hotel_id }) |

            </td>
        </tr>
    }



    </table>
</body>
</html>
