@model TravelCat.ViewModels.ActivityPhotoViewModel

@{
    ViewBag.Title = "修改活動";
}

<link href="~/Content/back-end-Create.css" rel="stylesheet" />
<h2 class="ml-3 mt-3 text-danger text-center">修改活動</h2>


<form method="post" action="@Url.Action("Edit")" enctype="multipart/form-data">

    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.activity.activity_id)

        <!--頁面狀態-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.activity.page_status, htmlAttributes: new { @class = "txt" })
                <span class="checkbox ml-3">
                    @Html.EditorFor(model => model.activity.page_status)
                    @Html.ValidationMessageFor(model => model.activity.page_status, "", new { @class = "text-danger" })
                </span>
            </div>
        </div>

        <!--編號-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.activity.activity_id, htmlAttributes: new { @class = "txt" })
                <input id="activity_id" name="activity_id" type="text" readonly="readonly" value="@Model.activity.activity_id" class="form-control" />
            </div>
        </div>

        <!--名稱-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.activity.activity_title, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.activity.activity_title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.activity.activity_title, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--電話-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.activity.activity_tel, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.activity.activity_tel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.activity.activity_tel, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--經度-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.activity.longitude, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.activity.longitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.activity.longitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--緯度-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.activity.latitude, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.activity.latitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.activity.latitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--城市-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.activity.city, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.activity.city, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.activity.city, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--行政區-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.activity.district, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.activity.district, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.activity.district, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--街道地址-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.activity.address_detail, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.activity.address_detail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.activity.address_detail, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--開始時間-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.activity.begin_date, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.activity.begin_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.activity.begin_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--結束時間-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.activity.end_date, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.activity.end_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.activity.end_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--主辦單位-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.activity.organizer, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.activity.organizer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.activity.organizer, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--活動網址-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.activity.website, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.activity.website, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.activity.website, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--交通資訊-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.activity.transport_info, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.activity.transport_info, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.activity.transport_info, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--簡介-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.activity.activity_intro, htmlAttributes: new { @class = "txt" })
                @Html.TextAreaFor(model => model.activity.activity_intro, new { @class = "form-control", rows = "5" })
                @Html.ValidationMessageFor(model => model.activity.activity_intro, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row">
            <div class="co col-6">
                <label class="">圖片</label>
               
                <div class="row">
                    @{ var photo = Model.activity_photos.Where(m => m.tourism_id == Model.activity.activity_id).ToList();
                        for(int i = 0; i < 3; i++) {
                                        <div class="col-md-4">
                                            @if (i>photo.Count-1)
                                            {
                                                <h3>no image</h3>
                                            }
                                            else
                                            {
                                                <img src="/images/activity/@photo[i].tourism_photo1" width="150" />
                                                <input id="oldImg" name="oldImg" type="text" value="@photo[i].tourism_photo1" />
                                            }
                                            <input id="tourism_photo" name="tourism_photo" type="file" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.activity_photos[i].tourism_photo1, "", new { @class = "text-danger" })
                                        </div>
                        }
                    }
                </div>
            </div>
        </div>
        <!--下方按鈕-->
        <div class="row text-center footer">
            <div class="col-1">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div class="col-1">
                @Html.ActionLink("刪除", "Delete", new { id = Model.activity.activity_id }, new { @class = "btn btn-danger", onclick = "return confirm('確定不後悔?')" })
            </div>
            <div class="col-2">
                @Html.ActionLink("回到景點列表", "Index", new { page=Session["pg"]}, new { @class = "btn btn-primary" })
            </div>

        </div>


    </div>
</form>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
