@model TravelCat.ViewModels.SearchViewModel
@{ Layout = "";}
<style>
    
    .seachcomtant {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .row1 {
        display: flex;
        flex-wrap: wrap;
    }

    .searchbox1 {
        position: sticky;
        top: 8rem;
        bottom: 2rem;
        z-index: 1000;
        height: calc(100vh - 4rem);
        padding-bottom: 100px;
         padding-top: 100px;
    }

    .searchbox2 {
        position: sticky;
        top: 8rem;
        bottom: 2rem;
        z-index: 1000;
        height: calc(100vh - 4rem);
        overflow-y: auto;
        padding-bottom: 150px;
    }
   
</style>
<div class="container-fluid">
    <div class="row1 ">
        <div class="col-md-3  searchbox1 ">
            <form>

                <div class="col-md-12 col-sm-6  ">
                    <div class="text-center mb-4 border-bottom ">
                        <h2>喜好篩選</h2>

                    </div>
                </div>
                <div class="row searchbox2">
                    <div class="col-md-12 col-sm-6  ">
                        <div class="text-left mb-4 px-2 py-2 border-bottom">
                            <h4>
                                城市:
                            </h4>
                            <select id="city" name="city" class="col-10 offset-1 btn-light mb-4 border-bottom px-2 py-2">
                                <option value="" disabled selected>請選擇</option>
                                <option value="" disabled>北部地區</option>
                                <option value="台北市">台北市</option>
                                <option value="新北市">新北市</option>
                                <option value="基隆市">基隆市</option>
                                <option value="桃園市">桃園市</option>
                                <option value="新竹市">新竹市</option>
                                <option value="新竹縣">新竹縣</option>
                                <option value="苗栗縣">苗栗縣</option>
                                <option value="" disabled>中部地區</option>
                                <option value="台中市">台中市</option>
                                <option value="彰化縣">彰化縣</option>
                                <option value="南投縣">南投縣</option>
                                <option value="" disabled>南部地區</option>
                                <option value="雲林縣">雲林縣</option>
                                <option value="嘉義市">嘉義市</option>
                                <option value="嘉義縣">嘉義縣</option>
                                <option value="台南市">台南市</option>
                                <option value="高雄市">高雄市</option>
                                <option value="屏東縣">屏東縣</option>
                                <option value="" disabled>東部地區</option>
                                <option value="宜蘭縣">宜蘭縣</option>
                                <option value="花蓮縣">花蓮縣</option>
                                <option value="台東縣">台東縣</option>
                                <option value="" disabled>離島地區</option>
                                <option value="澎湖縣">澎湖縣</option>
                                <option value="金門縣">金門縣</option>
                                <option value="連江縣">連江縣</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6  ">
                        <div class="text-left mb-4 px-2 py-2 border-bottom">
                            <h4>
                                旅客評分:
                            </h4>
                            <select id="comment_rating" name="comment_rating" class="col-10 offset-1  btn-light mb-4 border-bottom px-2 py-2">
                                <option value="" disabled selected>請選擇</option>
                                <option value="1">大於1分</option>
                                <option value="2">大於2分</option>
                                <option value="3">大於3分</option>
                                <option value="4">大於4分</option>
                                <option value="5">大於5分</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6  ">
                        <div class="text-left mb-4 px-2 py-2 border-bottom">
                            <h4>
                                停留時間:
                            </h4>
                            <select id="comment_stay_total" name="comment_stay_total" class="col-10 offset-1  btn-light mb-4 border-bottom px-2 py-2">
                                <option value="" disabled selected>請選擇</option>
                                <option value="一到兩小時">一到兩小時</option>
                                <option value="兩到三小時">兩到三小時</option>
                                <option value="三到四小時">三到四小時</option>
                                <option value="四小時以上">四小時以上</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6 col-12 ">
                        <div class="text-left mb-4 border-bottom ">
                            <h4>
                                旅伴:
                            </h4>
                            <div class="row ">
                                <div class="btn-group btn-group-toggle mb-4 offset-2" data-toggle="buttons">
                                    <label class="btn  btn-light col-md-10 mb-1">
                                        <input type="radio" name="travel_partner" id="travel_partner1" autocomplete="off" value="蜜月"> 蜜月
                                    </label>

                                    <label class="btn  btn-light col-md-10 mb-1">
                                        <input type="radio" name="travel_partner" id="travel_partner2" autocomplete="off" value="伴侶">伴侶
                                    </label>

                                    <label class="btn  btn-light col-md-10 mb-1">
                                        <input type="radio" name="travel_partner" id="travel_partner3" autocomplete="off" value="家庭">家庭
                                    </label>

                                    <label class="btn  btn-light col-md-10 mb-1">
                                        <input type="radio" name="travel_partner" id="travel_partner4" autocomplete="off" value="朋友">朋友
                                    </label>
                                    <label class="btn  btn-light col-md-10 mb-1">
                                        <input type="radio" name="travel_partner" id="travel_partne5" autocomplete="off" value="商務">商務
                                    </label>


                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6">
                        <div class="text-left mb-4 border-bottom ">
                            <h4>
                                旅遊月份:
                            </h4>
                            <div class="row ">
                                <div class="btn-group btn-group-toggle mb-1 offset-2 " data-toggle="buttons">
                                    <label class="btn  btn-light col-md-10 mb-1">
                                        <input type="radio" name="travel_month" id="travel_month1" autocomplete="off" value="3至5月"> 3至5月
                                    </label>

                                    <label class="btn  btn-light col-md-10 mb-1">
                                        <input type="radio" name="travel_month" id="travel_month2" autocomplete="off" value="6至8月">6至8月
                                    </label>

                                    <label class="btn  btn-light col-md-10 mb-1">
                                        <input type="radio" name="travel_month" id="travel_month3" autocomplete="off" value="9至11月">9至11月
                                    </label>

                                    <label class="btn  btn-light col-md-10 mb-1">
                                        <input type="radio" name="travel_month" id="travel_month4" autocomplete="off" value="12至2月">12至2月
                                    </label>


                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-12 col-sm-6 row justify-content-end">
                        <input type="hidden" name="q" value=@ViewBag.q />

                        <input type="submit" class="btn btn-dark align-self-center " />
                    </div>
                </div>
            </form>
        </div>


        <div class="col-md-9 mb-2 ">
            <div>
                <h2 class="font-weight-bold ">@ViewBag.q 的搜尋結果</h2>
                <h5>
                    條件：
                    @{
                        if (!String.IsNullOrEmpty(ViewBag.city))
                        {
                            <span class="btn btn-info">@ViewBag.city</span>
                        }
                        if (!String.IsNullOrEmpty(ViewBag.rating))
                        {
                            <span class="btn btn-info">大於 @ViewBag.rating 分</span>
                        }
                        if (!String.IsNullOrEmpty(ViewBag.stay))
                        {
                            <span class="btn btn-info">@ViewBag.stay</span>
                        }
                        if (ViewBag.partner != null)
                        {
                            <span class="btn btn-info">@ViewBag.partner[0]</span>
                        }
                        if (!String.IsNullOrEmpty(ViewBag.month))
                        {
                            <span class="btn btn-info">@ViewBag.month</span>
                        }
                    }
                </h5>

            </div>


            <form id="form_right">
                <div class="text-right  border-bottom ">
                    <h4>
                        排序方式:
                    </h4>
                    <select id="Sortby" name="Sortby" class="col-6 offset-1  btn-light mb-4 border-bottom px-2 py-2">
                        <option value="" disabled selected>請選擇</option>
                        <option value="ltoh">評論分數由低到高</option>
                        <option value="htol">評論分數由高到低</option>
                    </select>
                    @{
                        if (!String.IsNullOrEmpty(ViewBag.q))
                        {<input type="hidden" name="q" value=@ViewBag.q />}
                        if (!String.IsNullOrEmpty(ViewBag.city))
                        {<input type="hidden" name="city" value=@ViewBag.city />}
                        if (!String.IsNullOrEmpty(ViewBag.rating))
                        {<input type="hidden" name="comment_rating" value=@ViewBag.rating />}
                        if (ViewBag.partner != null)
                        {<input type="hidden" name="travel_partner" value=@ViewBag.partner />}
                        if (!String.IsNullOrEmpty(ViewBag.month))
                        {<input type="hidden" name="travel_month" value=@ViewBag.month />}
                        if (!String.IsNullOrEmpty(ViewBag.stay))
                        {<input type="hidden" name="comment_stay_total" value=@ViewBag.stay />}
                        @*<input type="submit" />*@
                        <h1></h1>
                    }
                </div>
            </form>
            <!--導覽列-->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="spot-tab" data-toggle="tab" href="#spot" role="tab" aria-controls="spot" aria-selected="false">景點</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="true">活動</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="restaurant-tab" data-toggle="tab" href="#restaurant" role="tab" aria-controls="restaurant" aria-selected="false">餐廳</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="hotel-tab" data-toggle="tab" href="#hotel" role="tab" aria-controls="hotel" aria-selected="false">飯店</a>
                </li>
            </ul>



            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="spot" role="tabpanel" aria-labelledby="spot-tab">
                    <!--內容-->
                    @foreach (var item in Model.result_ratings)
                    {
                        if (item.id.Contains("S"))
                        {
                            <div class="media mt-3  pl-3 mb-2 border-dark">
                                <img src="https://images.unsplash.com/photo-1574714802271-15a6dbfdff96?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" width="180" height="150" class="mr-3 ml-3" alt="...">
                                <div class="media-body ">
                                    <h3 class="my-2 font-weight-bold border-bottom pb-2">@Html.ActionLink(item.title, "Details", "web_spots", new { id = item.id }, null)</h3>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">@Model.spot.Where(s => s.spot_id == item.id).FirstOrDefault().city @Model.spot.Where(s => s.spot_id == item.id).FirstOrDefault().district</div>
                                        <div class="col-md-6 col-sm-12">@*@item.intro*@</div>
                                        <div class="col-md-6 col-sm-12">測試欄位</div>
                                        <div class="col-md-6 col-sm-12">
                                            旅客評分: <div style="width:100px">
                                                <div class="progress ">
                                                    <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">@item.rating 分</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn  btn-light ">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked> <i class="far fa-thumbs-up"></i>按讚
                                    </label>
                                </div>
                            </div>
                            <hr />
                        }
                    }
                </div>

                <div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="activity-tab">
                    <!--內容-->
                    @foreach (var item in Model.result_ratings)
                    {
                        if (item.id.Contains("A"))
                        {
                            <div class="media mt-3  pl-3 mb-2 border-dark">
                                <img src="https://images.unsplash.com/photo-1574714802271-15a6dbfdff96?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" width="180" height="150" class="mr-3 ml-3" alt="...">
                                <div class="media-body ">
                                    <h3 class="my-2 font-weight-bold border-bottom pb-2">@Html.ActionLink(item.title, "Details", "web_activities", new { id = item.id }, null)</h3>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">@Model.activity.Where(s => s.activity_id == item.id).FirstOrDefault().city @Model.activity.Where(s => s.activity_id == item.id).FirstOrDefault().district</div>
                                        <div class="col-md-6 col-sm-12 seachcomtant">@item.intro</div>
                                        <div class="col-md-6 col-sm-12">測試欄位</div>
                                        <div class="col-md-6 col-sm-12">
                                            旅客評分: <div style="width:100px">
                                                <div>
                                                    <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">@item.rating 分</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn  btn-light ">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked> <i class="far fa-thumbs-up"></i>按讚
                                    </label>
                                </div>
                            </div>
                            <hr />
                        }
                    }
                </div>

                <div class="tab-pane fade" id="restaurant" role="tabpanel" aria-labelledby="restaurant-tab">
                    <!--內容-->
                    @foreach (var item in Model.result_ratings)
                    {
                        if (item.id.Contains("R"))
                        {
                            <div class="media mt-3  pl-3 mb-2 border-dark">
                                <img src="https://images.unsplash.com/photo-1574714802271-15a6dbfdff96?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" width="180" height="150" class="mr-3 ml-3" alt="...">
                                <div class="media-body ">
                                    <h3 class="my-2 font-weight-bold border-bottom pb-2">@Html.ActionLink(item.title, "Details", "web_restsaurants", new { id = item.id }, null)</h3>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">@Model.restaurant.Where(s => s.restaurant_id == item.id).FirstOrDefault().city @Model.restaurant.Where(s => s.restaurant_id == item.id).FirstOrDefault().district</div>
                                        <div class="col-md-6 col-sm-12">@item.intro</div>
                                        <div class="col-md-6 col-sm-12">測試欄位</div>
                                        <div class="col-md-6 col-sm-12">
                                            旅客評分: <div style="width:100px">
                                                <div class="progress ">
                                                    <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">@item.rating 分</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn  btn-light ">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked> <i class="far fa-thumbs-up"></i>按讚
                                    </label>
                                </div>
                            </div>
                            <hr />
                        }
                    }
                </div>

                <div class="tab-pane fade" id="hotel" role="tabpanel" aria-labelledby="hotel-tab">
                    <!--內容-->
                    @foreach (var item in Model.result_ratings)
                    {
                        if (item.id.Contains("H"))
                        {
                            <div class="media mt-3  pl-3 mb-2 border-dark">
                                <img src="https://images.unsplash.com/photo-1574714802271-15a6dbfdff96?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" width="180" height="150" class="mr-3 ml-3" alt="...">
                                <div class="media-body ">
                                    <h3 class="my-2 font-weight-bold border-bottom pb-2">@Html.ActionLink(item.title, "Details", "web_activities", new { id = item.id }, null)</h3>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">@Model.hotel.Where(s => s.hotel_id == item.id).FirstOrDefault().city @Model.hotel.Where(s => s.hotel_id == item.id).FirstOrDefault().district</div>
                                        <div class="col-md-6 col-sm-12">@item.intro</div>
                                        <div class="col-md-6 col-sm-12">測試欄位</div>
                                        <div class="col-md-6 col-sm-12">
                                            旅客評分: <div style="width:100px">
                                                <div class="progress ">
                                                    <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">@item.rating 分</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn  btn-light ">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked> <i class="far fa-thumbs-up"></i>按讚
                                    </label>
                                </div>
                            </div>
                            <hr />
                        }
                    }
                </div>


            </div>
        </div>


    </div>
</div>