<link href="~/Content/Searchindex.css" rel="stylesheet" />
@using X.PagedList.Mvc
@using X.PagedList
@using X.PagedList.Mvc.Common
@model TravelCat.ViewModels.SearchViewModel

@{ Layout = "";
    int num = 0;
    string memberId;
    if (Session["memberID"] == null || string.IsNullOrWhiteSpace(Session["memberID"].ToString()))
    {
        memberId = null;
    }
    else
    {
        memberId = Session["memberID"].ToString();
    }
}
@if (Model.show_ratings.Count == 0)
{
    <span>沒有搜尋結果</span>
}
else
{
    foreach (var item in Model.show_ratings)
    {
        if (item.id.Contains("H"))
        {
            <div class="media mt-3  pl-3 mb-2 border-dark">
                <img src="https://source.unsplash.com/collection/388793/random?sig=@(Guid.NewGuid())" width="250" height="150" class="mr-3 ml-3" alt="...">
                <div class="media-body ">
                    <h3 class="col-md-11 font-weight-bold border-bottom pb-2">@Html.ActionLink(item.title, "Details", "WebHotels", new { id = item.id }, null)</h3>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 font-weight-bold">@Model.hotel.Where(s => s.hotel_id == item.id).FirstOrDefault().city @Model.hotel.Where(s => s.hotel_id == item.id).FirstOrDefault().district</div>
                        <div class="col-md-12 col-sm-12 intro_content">@item.intro</div>
                        @if (Model.comment.Where(s => s.tourism_id == item.id).Count() > 0) { num = Model.comment.Where(s => s.tourism_id == item.id).Count(); }
                        <div class="col-md-6 col-sm-12">有 @num 則評論</div>
                        <div class="col-md-4 col-sm-12">
                            @if (String.IsNullOrEmpty(item.rating)) { item.rating = "0"; }
                            <div style="margin:5px 0">
                                <div class="progress ">
                                    @{var width_convert = (Double.Parse(item.rating)) * 20 + "%"; }
                                    <div class="progress-bar" role="progressbar" style="width:@width_convert;" aria-valuenow="@Double.Parse(item.rating)" aria-valuemin="0" aria-valuemax="5">@Math.Round(@Double.Parse(item.rating), 1, MidpointRounding.AwayFromZero) 分</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="fa">
                    @if (Model.collections_detail.Where(m => m.tourism_id == item.id && m.member_id == @memberId).Count() > 0)
                    {
                        <span class="add_to_bucket_list added" data-id="@item.id">
                            <i class="fas fa-heart" style="color:red"></i>
                            <i class="far fa-heart"></i>
                        </span>
                    }
                    else
                    {
                        <span class="add_to_bucket_list" data-id="@item.id">
                            <i class="fas fa-heart"></i>
                            <i class="far fa-heart"></i>
                        </span>
                    }

                </span>
            </div>
            <hr />
        }
    }

    <div>
        @Html.PagedListPager(Model.show_ratings, page => Url.Action("Index", new { page = page, q = ViewBag.q, comment_stay_total = ViewBag.stay, city = ViewBag.city, travel_partner = ViewBag.partner, comment_rating = ViewBag.rating, travel_month = ViewBag.month }),
                                                 new PagedListRenderOptions
                                                 {
                                                     ContainerDivClasses = new[] { "" },
                                                     LiElementClasses = new[] { "page-item" },
                                                     PageClasses = new[] { "page-link" },
                                                 })
    </div>
}

