@model TravelCat.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/web-Layout.cshtml";


}
<link href="~/Content/Searchindex.css" rel="stylesheet" />
<style>


    .row1 {
        display: flex;
        flex-wrap: wrap;
    }

    .searchbox1 {
        position: sticky;
        top: 2rem;
        bottom: 2rem;
        z-index: 0;
        height: calc(100vh - 4rem);
        padding-bottom: 100px;
        /*padding-top: 100px;*/
    }


    .searchbox2 {
        position: sticky;
        top: 8rem;
        bottom: 2rem;
        z-index: 1000;
        height: calc(100vh - 4rem);
        overflow-y: auto;
        padding-bottom: 200px;
    }
</style>
<section class="bg-white py-4 text-dark">
    <div class="container ">

        <div>
            <div class="container-fluid">
                <div class="row1">
                    <div class="col-md-3  searchbox1 mt-2">
                        <div class="col-md-12 col-sm-6 ">

                            <div class="text-center mb-4 border-bottom ">
                                <h2>篩選條件</h2>
                            </div>
                            <form>
                                <div class="input-group my-3">
                                    <input type="text" id="q" name="q" class="form-control search_bar" placeholder="請輸入你想去的地方" aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">GO</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="row">

                            <form>


                                <div class="row searchbox2">

                                    <div class="col-md-12 col-sm-6  ">
                                        <div class="text-left mb-4 px-2 py-2 border-bottom">
                                            <h4>
                                                城市:
                                            </h4>
                                            <select id="city" name="city" class="col-10 offset-1 btn-light mb-4 border-bottom px-2 py-2">
                                                <option value="" disabled>請選擇</option>
                                                @*<option value="" disabled>北部地區</option>*@
                                                <option value="臺北市">臺北市</option>
                                                <option value="新北市">新北市</option>
                                                <option value="基隆市">基隆市</option>
                                                <option value="桃園市">桃園市</option>
                                                <option value="新竹市">新竹市</option>
                                                <option value="新竹縣">新竹縣</option>
                                                <option value="苗栗縣">苗栗縣</option>
                                                @*<option value="" disabled>中部地區</option>*@
                                                <option value="臺中市">臺中市</option>
                                                <option value="彰化縣">彰化縣</option>
                                                <option value="南投縣">南投縣</option>
                                                @*<option value="" disabled>南部地區</option>*@
                                                <option value="雲林縣">雲林縣</option>
                                                <option value="嘉義市">嘉義市</option>
                                                <option value="嘉義縣">嘉義縣</option>
                                                <option value="臺南市">臺南市</option>
                                                <option value="高雄市">高雄市</option>
                                                <option value="屏東縣">屏東縣</option>
                                                @*<option value="" disabled>東部地區</option>*@
                                                <option value="宜蘭縣">宜蘭縣</option>
                                                <option value="花蓮縣">花蓮縣</option>
                                                <option value="臺東縣">臺東縣</option>
                                                @*<option value="" disabled>離島地區</option>*@
                                                <option value="澎湖縣">澎湖縣</option>
                                                <option value="金門縣">金門縣</option>
                                                <option value="連江縣">連江縣</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-6  ">
                                        <div class="text-left mb-4 px-2 py-2 border-bottom">
                                            <h4>
                                                旅客評分:
                                            </h4>
                                            <select id="comment_rating" name="comment_rating" class="col-10 offset-1  btn-light mb-4 border-bottom px-2 py-2">
                                                <option value="" disabled>請選擇</option>
                                                <option value="1">大於1分</option>
                                                <option value="2">大於2分</option>
                                                <option value="3">大於3分</option>
                                                <option value="4">大於4分</option>
                                                <option value="5">大於5分</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-6  ">
                                        <div class="text-left mb-4 px-2 py-2 border-bottom">
                                            <h4>
                                                停留時間:
                                            </h4>
                                            <select id="comment_stay_total" name="comment_stay_total" class="col-10 offset-1  btn-light mb-4 border-bottom px-2 py-2">
                                                <option value="" disabled>請選擇</option>
                                                <option value="一到兩小時">一到兩小時</option>
                                                <option value="兩到三小時">兩到三小時</option>
                                                <option value="三到四小時">三到四小時</option>
                                                <option value="四小時以上">四小時以上</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-6 col-12 ">
                                        <div class="text-left mb-4 border-bottom ">
                                            <h4>
                                                旅伴:
                                            </h4>
                                            <div class="row ">
                                                <div id="travel_partner" class="btn-group btn-group-toggle mb-4 offset-2" data-toggle="buttons">
                                                    <label class="btn  btn-light col-md-10 mb-1">
                                                        <input type="radio" name="travel_partner" id="travel_partner1" autocomplete="off" value="蜜月"> 蜜月
                                                    </label>

                                                    <label class="btn  btn-light col-md-10 mb-1">
                                                        <input type="radio" name="travel_partner" id="travel_partner2" autocomplete="off" value="伴侶">伴侶
                                                    </label>

                                                    <label class="btn  btn-light col-md-10 mb-1">
                                                        <input type="radio" name="travel_partner" id="travel_partner3" autocomplete="off" value="家庭">家庭
                                                    </label>

                                                    <label class="btn  btn-light col-md-10 mb-1">
                                                        <input type="radio" name="travel_partner" id="travel_partner4" autocomplete="off" value="朋友">朋友
                                                    </label>
                                                    <label class="btn  btn-light col-md-10 mb-1">
                                                        <input type="radio" name="travel_partner" id="travel_partne5" autocomplete="off" value="商務">商務
                                                    </label>


                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-6">
                                        <div class="text-left mb-4 border-bottom ">
                                            <h4>
                                                旅遊月份:
                                            </h4>
                                            <div class="row ">
                                                <div id="travel_month" class="btn-group btn-group-toggle mb-4 offset-2 " data-toggle="buttons">
                                                    <label class="btn  btn-light col-md-10 mb-1">
                                                        <input type="radio" name="travel_month" id="travel_month1" autocomplete="off" value="3至5月"> 3至5月
                                                    </label>

                                                    <label class="btn  btn-light col-md-10 mb-1">
                                                        <input type="radio" name="travel_month" id="travel_month2" autocomplete="off" value="6至8月">6至8月
                                                    </label>

                                                    <label class="btn  btn-light col-md-10 mb-1">
                                                        <input type="radio" name="travel_month" id="travel_month3" autocomplete="off" value="9至11月">9至11月
                                                    </label>

                                                    <label class="btn  btn-light col-md-10 mb-1">
                                                        <input type="radio" name="travel_month" id="travel_month4" autocomplete="off" value="12至2月">12至2月
                                                    </label>


                                                </div>
                                            </div>

                                        </div>
                                        <div>
                                            <input type="hidden" name="q" value=@ViewBag.q />
                                            <input type="submit" class="btn btn-dark align-self-center" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                    <div class="col-md-9 mb-2 ">
                        <div class="ml-4">
                            @if (!String.IsNullOrEmpty(ViewBag.q))
                            {
                                <h2 class="font-weight-bold ">@ViewBag.q 的搜尋結果</h2>
                                @*<p>共 @ViewBag.count 筆</p>*@

                                <h5>
                                    條件：
                                    @{
                                        if (!String.IsNullOrEmpty(ViewBag.city))
                                        {
                                            <span id="query_city" class="btn btn-info">@ViewBag.city &times;</span>
                                        }
                                        if (!String.IsNullOrEmpty(ViewBag.rating))
                                        {
                                            <span id="query_rating" class="btn btn-info">大於 @ViewBag.rating 分 &times;</span>
                                        }
                                        if (!String.IsNullOrEmpty(ViewBag.stay))
                                        {
                                            <span id="query_stay" class="btn btn-info">@ViewBag.stay &times;</span>
                                        }
                                        if (ViewBag.partner != null)
                                        {
                                            <span id="query_partner" class="btn btn-info">@ViewBag.partner &times;</span>
                                        }
                                        if (!String.IsNullOrEmpty(ViewBag.month))
                                        {
                                            <span id="query_month" class="btn btn-info">@ViewBag.month &times;</span>
                                        }
                                    }
                                </h5>
                            }
                            else
                            { <h2>        請於上方搜尋欄輸入條件開始進行搜尋</h2>}
                        </div>


                        <form id="form_right">
                            <div class="text-right  border-bottom ">
                                <h4>
                                    排序方式:
                                </h4>
                                <select id="Sortby" name="Sortby" class="col-6 offset-1  btn-light mb-4 border-bottom px-2 py-2">
                                    <option value="" disabled selected>請選擇</option>
                                    <option value="ltoh">評論分數由低到高</option>
                                    <option value="htol">評論分數由高到低</option>
                                </select>
                                @{
                                    if (!String.IsNullOrEmpty(ViewBag.q))
                                    {<input type="hidden" name="q" value="@ViewBag.q" />}
                                    if (!String.IsNullOrEmpty(ViewBag.city))
                                    {<input id="hidden_city" type="hidden" name="city" value="@ViewBag.city" />}
                                    if (!String.IsNullOrEmpty(ViewBag.rating))
                                    {<input id="hidden_rating" type="hidden" name="comment_rating" value="@ViewBag.rating" />}
                                    if (ViewBag.partner != null)
                                    {<input id="hidden_partner" type="hidden" name="travel_partner" value="@ViewBag.partner" />}
                                    if (!String.IsNullOrEmpty(ViewBag.month))
                                    {<input id="hidden_month" type="hidden" name="travel_month" value="@ViewBag.month" />}
                                    if (!String.IsNullOrEmpty(ViewBag.stay))
                                    {<input id="hidden_stay" type="hidden" name="comment_stay_total" value="@ViewBag.stay" />}
                                }
                            </div>
                        </form>
                        <!--導覽列-->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="spot-tab" data-toggle="tab" href="#spot" role="tab" aria-controls="spot" aria-selected="false">景點</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="true">活動</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="restaurant-tab" data-toggle="tab" href="#restaurant" role="tab" aria-controls="restaurant" aria-selected="false">餐廳</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="hotel-tab" data-toggle="tab" href="#hotel" role="tab" aria-controls="hotel" aria-selected="false">飯店</a>
                            </li>
                        </ul>



                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show" id="spot" role="tabpanel" aria-labelledby="spot-tab">
                                <!--內容-->
                                @Html.Action("_Spot", "Search", new { q = ViewBag.q })
                            </div>

                            <div class="tab-pane fade active show" id="activity" role="tabpanel" aria-labelledby="activity-tab">
                                <!--內容-->
                                @Html.Action("_Activity", "Search", new { q = ViewBag.q })
                            </div>

                            <div class="tab-pane fade" id="restaurant" role="tabpanel" aria-labelledby="restaurant-tab">
                                <!--內容-->
                                @Html.Action("_Restaurant", "Search", new { q = ViewBag.q })
                            </div>

                            <div class="tab-pane fade" id="hotel" role="tabpanel" aria-labelledby="hotel-tab">
                                <!--內容-->
                                @Html.Action("_Hotel", "Search", new { q = ViewBag.q })
                            </div>


                        </div>
                    </div>

                </div>

            </div>



        </div>
    </div>
</section>


@section scripts{
    <script>


        $('#Sortby').change(function () {
            $('#form_right').submit();
        });

        $(function () {
                    $('#travel_partner input[value="@ViewBag.partner"]').parent('label').addClass('active');
                    $('#travel_month input[value="@ViewBag.month"]').parent('label').addClass('active');
                    $('#city option[value="@ViewBag.city"]').attr("selected", "selected");
                    $('#comment_rating option[value="@ViewBag.rating"]').attr("selected", "selected")
            $('#comment_stay_total option[value="@ViewBag.stay"]').attr("selected", "selected");
            $('#Sortby option[value="@ViewBag.sort"]').attr("selected", "selected");
        });

        $('#query_city').click(function () {
            $('#query_city').hide();
            $('#hidden_city').remove();
            $('#form_right').submit();
        });

        $('#query_month').click(function () {
            $('#query_month').hide();
            $('#hidden_month').remove();
            $('#form_right').submit();
                });

        $('#query_rating').click(function () {
            $('#query_rating').hide();
            $('#hidden_rating').remove();
            $('#form_right').submit();
                });

        $('#query_partner').click(function () {
            $('#query_partner').hide();
            $('#hidden_partner').remove();
            $('#form_right').submit();
                });

        $('#query_stay').click(function () {
            $('#query_stay').hide();
            $('#hidden_stay').remove();
            $('#form_right').submit();
        });

    </script>
}