<link href="~/Content/destinations.css" rel="stylesheet" />
@using Microsoft.AspNet.Identity
@model TravelCat.ViewModels.destinationsViewModel
@{
    ViewBag.Title = "Details";
    Layout = null;

    string memberId;
    if (Session["memberID"] == null || string.IsNullOrWhiteSpace(Session["memberID"].ToString()))
    {
        memberId = null;
    }
    else
    {
        memberId = Session["memberID"].ToString();
    }
    
}

<!--1則 評論-->
<div class=" justify-content-center align-items-center">

    @foreach (var item in Model.comment)
    {
        if (item.comment_status)
        {
            <div class="container">
                <div class="single_comments  ">
                    <input id="comment_id" type="hidden" value=@item.comment_id />
                    <div class="member_detail ">
                        <div class="d-flex">
                            @if (item.member.member_profile.profile_photo != null)
                            {
                                <a href="@Url.Action("Index","web_Member_Index",new { id=item.member_id})">
                                    <img class="member_avatar"
                                         src="~/images/member/@item.member.member_profile.profile_photo"
                                         alt="..." onerror="this.src='/images/member/avatar.png';"
                                         data-toggle="popover"
                                         data-trigger="hover"
                                         data-placement="left"
                                         data-html="true"
                                         title="<b>@item.member.member_profile.nickname</b>"
                                         data-content="<div><b>城市</b>@item.member.member_profile.city</div>">
                                </a>
                            }
                            else
                            {
                                <img class="member_avatar" src="~/images/member/avatar.png" alt="...">
                            }

                            <div class="d-flex">
                                <h5 class="member_name">@item.member.member_profile.nickname</h5>
                            </div>
                        </div>
                        <!-- 更多選項 -->
                        @if (@memberId != null)
                        {
                            <div class="more_action dropdown dropleft">
                                <a class="" href="#" id="dropdownMore" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <img class="icon" src="~/images/emoji/more.png" />
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMore">
                                    <a class="dropdown-item" href="#">分享到 facebook</a>
                                    <a class="dropdown-item" href="#">分享到 line</a>
                                    <a class="dropdown-item" href="#">分享到 google</a>                                    
                                </div>
                            </div>
                        }

                    </div>
                    
                    <div class="comment_photo">
                        <img src="/images/comment/@item.comment_photo" class="comment_photo w-100" alt="X_X" onerror="this.src='/images/comment/0_2019129下午090757.jpg';" />
                    </div>
                    <div class="commemt_content">
                        @{int rating = item.comment_rating;
                            int empty = 5 - item.comment_rating;
                        }
                        @for (int i = 0; i < rating; i++)
                        {
                            <i class="fas fa-heart" style="color:rgba(174,37,46,0.99);"></i>
                        }
                        @for (int i = 0; i < empty; i++)
                        {
                            <i class="fas fa-heart-broken"></i>
                        }

                        <h2 class="comment_title">@item.comment_title</h2>
                        <span class="create_time "> @item.comment_date.ToString("yyyy MM dd")  </span>

                        <div class="response_content">
                            <p>@Html.Raw(item.comment_content.ToString().Replace("\n", "<br>"))</p>
                        </div>
                        @if (item.tourism_id.StartsWith("A"))
                        {
                            var activity = Model.activity_list.Where(m => m.activity_id == item.tourism_id).FirstOrDefault();
                            <a href="@Url.Action("Details","web_activities",new { id=item.tourism_id})" class="hashtag "> #@activity.activity_title #@item.travel_partner #@item.travel_month 月</a>
                        }
                        else if (item.tourism_id.StartsWith("S"))
                        {
                            var spot = Model.spot_list.Where(m => m.spot_id == item.tourism_id).FirstOrDefault();
                            <a href="@Url.Action("Details","WebSpots",new { id=item.tourism_id})" class="hashtag "> #@spot.spot_title #@item.travel_partner #@item.travel_month 月</a>
                        }
                        else if (item.tourism_id.StartsWith("R"))
                        {
                            <a href="" class="hashtag "> #@Model.restaurant.restaurant_title #@item.travel_partner #@item.travel_month 月</a>
                        }
                        else if (item.tourism_id.StartsWith("H"))
                        {
                            <a href="" class="hashtag "> #@Model.hotel.hotel_title #@item.travel_partner #@item.travel_month 月</a>
                        }

                    </div>

                    
                    <hr />
                    <!--判斷前端是否要顯示被按讚過-->

                    <div class="emoji_panel d-flex  ">
                        <div class="comment_emoji_detail  d-flex">
                            <div class="emoji ">
                                @if (@Model.comment_emoji_details.Where(m => m.member_id == @memberId && m.comment_id == item.comment_id && m.emoji_id == 1).Count() > 0)
                                {

                                    <img class="icon comment_emoji_heart click_button" src="~/images/emoji/talk.png" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 1).Count()" data-comment_id="@item.comment_id" data-emoji_id="1" disabled="disabled" />
                                    <span class="emoji_num comment_emoji_heart_num">@item.comment_emoji_details.Where(m => m.emoji_id == 1).Count() </span>
                                }
                                else
                                {
                                    <img class="icon comment_emoji_heart" src="~/images/emoji/talk.png" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 1).Count()" data-comment_id="@item.comment_id" data-emoji_id="1" />
                                    <span class="emoji_num comment_emoji_heart_num">@item.comment_emoji_details.Where(m => m.emoji_id == 1).Count() </span>
                                }
                            </div>
                            <div class="emoji">
                                @if (@Model.comment_emoji_details.Where(m => m.member_id == @memberId && m.comment_id == item.comment_id && m.emoji_id == 2).Count() > 0)
                                {

                                    <img class="icon comment_emoji_unicorn click_button" src="~/images/emoji/unicorn.svg" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 2).Count() " data-comment_id="@item.comment_id" data-emoji_id="2" disabled="disabled" />
                                    <span class="emoji_num comment_emoji_unicorn_num">@item.comment_emoji_details.Where(m => m.emoji_id == 2).Count()</span>
                                }
                                else
                                {
                                    <img class="icon comment_emoji_unicorn" src="~/images/emoji/unicorn.svg" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 2).Count() " data-comment_id="@item.comment_id" data-emoji_id="2" />
                                    <span class="emoji_num comment_emoji_unicorn_num">@item.comment_emoji_details.Where(m => m.emoji_id == 2).Count()</span>
                                }
                            </div>
                            <div class="emoji">

                                @if (@Model.comment_emoji_details.Where(m => m.member_id == @memberId && m.comment_id == item.comment_id && m.emoji_id == 3).Count() > 0)
                                {

                                    <img class="icon comment_emoji_good click_button" src="~/images/emoji/sweet-potato.png" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 3).Count()" data-comment_id="@item.comment_id" data-emoji_id="3" disabled="disabled" />
                                    <span class="emoji_num comment_emoji_good_num">@item.comment_emoji_details.Where(m => m.emoji_id == 3).Count()</span>
                                }
                                else
                                {
                                    <img class="icon comment_emoji_good" src="~/images/emoji/sweet-potato.png" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 3).Count()" data-comment_id="@item.comment_id" data-emoji_id="3" />
                                    <span class="emoji_num comment_emoji_good_num">@item.comment_emoji_details.Where(m => m.emoji_id == 3).Count()</span>
                                }
                            </div>
                        </div>
                        <hr />
                    </div>
                    <!--單則留言-->
                    <div class="message_list  ">


                        @foreach (var msgItem in item.message)
                        {
                            <div class=" single_message py-3">
                                <div class="media mt-3">
                                    <img src="~/images/member/@msgItem.member.member_profile.profile_photo" width="74" height="74" class="mr-3 ml-3 member_avatar" alt="...">

                                    <div class="media-body ">
                                        <div class="d-flex message_body">
                                            <h5 class="member_name">
                                                @msgItem.member.member_profile.nickname
                                            </h5>
                                        </div>
                                        <span class="create_time">
                                            @msgItem.msg_time.ToString("yyyy MM dd")
                                        </span>
                                        <div class="response_content">
                                            @msgItem.msg_content
                                        </div>                                        
                                        <hr />
                                        <div class="emoji">
                                            @if (@Model.message_emoji_details.Where(m => m.member_id == @memberId && m.msg_id == msgItem.msg_id).Count() > 0)
                                            {

                                                <img class="icon msg_emoji_heart click_button" src="~/images/emoji/talk.png" data-value="@msgItem.message_emoji_details.Count()" data-msgid="@msgItem.msg_id" data-emojiid=1 disabled="disabled" />
                                                <span class="msg_emoji_heart_num">@msgItem.message_emoji_details.Count() </span>
                                            }
                                            else
                                            {
                                                <img class="icon msg_emoji_heart" src="~/images/emoji/talk.png" data-value="@msgItem.message_emoji_details.Count()" data-msgid="@msgItem.msg_id" data-emojiid=1 />
                                                <span class="msg_emoji_heart_num">@msgItem.message_emoji_details.Count()</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }          
                    </div>
                </div>
            </div>
        }
    }
</div>

<script>
        // Initialize tooltip component
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

// Initialize popover component
$(function () {
  $('[data-toggle="popover"]').popover()
})


</script>