<link href="~/Content/destinations.css" rel="stylesheet" />
@using Microsoft.AspNet.Identity
@using X.PagedList.Mvc
@using X.PagedList
@using X.PagedList.Mvc.Common
@model TravelCat.ViewModels.destinationsViewModel
@{
    ViewBag.Title = "Details";
    Layout = null;

    string memberId;
    if (Session["memberID"] == null || string.IsNullOrWhiteSpace(Session["memberID"].ToString()))
    {
        memberId = null;
    }
    else
    {
        memberId = Session["memberID"].ToString();
    }
    string firstChar = ViewBag.tourismId.Substring(0, 1);
    string destinatations;
    switch (firstChar)
    {
        case "A":
            destinatations = "A";
            break;
        case "H":
            destinatations = "H";
            break;
        case "R":
            destinatations = "R";
            break;
        case "S":
            destinatations = "S";
            break;
        default:
            destinatations = "A";
            break;
    }
}

<!--1則 評論-->
<div class=" justify-content-center align-items-center">

    @foreach (var item in Model.comment_page)
    {
        if (item.comment_status)
        {
            <div class="container">


                <div class="single_comments  ">
                    <input id="comment_id" type="hidden" value=@item.comment_id />
                    <div class="member_detail ">
                        <div class="d-flex">
                            @if (item.member.member_profile.profile_photo != null)
                            {
                                <a href="@Url.Action("Index","web_Member_Index",new { id=item.member_id})">
                                    <img class="member_avatar"
                                         src="~/images/member/@item.member.member_profile.profile_photo"
                                         alt="..." onerror="this.src='/images/member/avatar.png';" />
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Index","web_Member_Index",new { id=item.member_id})">
                                    <img class="member_avatar" src="~/images/member/avatar.png" alt="...">
                                </a>
                            }
                            <a href="@Url.Action("Index","web_Member_Index",new { id=item.member_id})" style="margin:auto">
                                <h5 class="member_name">@item.member.member_profile.nickname</h5>
                            </a>
                        </div>
                        <!-- 更多選項 -->
                        @if (@memberId != null)
                        {
                            <div class="more_action dropdown dropleft">
                                <a class="" href="#" id="dropdownMore" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <img class="icon" src="~/images/emoji/more.png" />
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMore">
                                    <a class="dropdown-item" href="#">分享到 facebook</a>
                                    <a class="dropdown-item" href="#">分享到 line</a>
                                    <a class="dropdown-item" href="#">分享到 google</a>
                                    <a class="dropdown-item report_comment" data-toggle="modal" data-target="#reportModel"> 檢舉此評論</a>
                                </div>
                            </div>
                        }

                    </div>
                    <!--檢舉評論modal-->

                    <div class="modal fade" id="reportModel" tabindex="-1" role="dialog" aria-labelledby="reportModel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">檢舉評論</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <textarea id="report_content" name="report_content" rows="20" cols="20" placeholder="請附上有問題的網址，以及違規評論內容"></textarea>
                                </div>
                                <input type="hidden" class="report_comment_id" value="@item.comment_id" />
                                <div class="modal-footer">
                                    <button id="btnTest" type="submit" class="btn btn-outline-dark submit_issue" data-dismiss="modal">提交表單</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment_photo">
                        <img src="/images/comment/@item.comment_photo" class="comment_photo w-100" alt="X_X" onerror="this.src='/images/comment/0_2019129下午090757.jpg';" />
                    </div>
                    <div class="commemt_content">
                        @{int rating = item.comment_rating;
                            int empty = 5 - item.comment_rating;
                        }
                        @for (int i = 0; i < rating; i++)
                        {
                            <i class="fas fa-heart" style="color:rgba(174,37,46,0.99);"></i>
                        }
                        @for (int i = 0; i < empty; i++)
                        {
                            <i class="fas fa-heart-broken"></i>
                        }

                        <h2 class="comment_title">@item.comment_title</h2>
                        <span class="create_time "> @item.comment_date.ToString("yyyy MM dd")  </span>

                        <div class="response_content">
                            <p>@Html.Raw(item.comment_content.ToString().Replace("\n", "<br>"))</p>
                        </div>
                        @if (destinatations == "A")
                        {
                            <a href="" class="hashtag "> #@Model.activity.activity_title #@item.travel_partner #@item.travel_month 月</a>
                        }
                        else if (destinatations == "S")
                        {
                            <a href="" class="hashtag "> #@Model.spot.spot_title #@item.travel_partner #@item.travel_month 月</a>
                        }
                        else if (destinatations == "R")
                        {
                            <a href="" class="hashtag "> #@Model.restaurant.restaurant_title #@item.travel_partner #@item.travel_month 月</a>
                        }
                        else if (destinatations == "H")
                        {
                            <a href="" class="hashtag "> #@Model.hotel.hotel_title #@item.travel_partner #@item.travel_month 月</a>
                        }

                    </div>

                    @if (memberId == item.member_id)
                    {
                        <div class="text-right">
                            @Html.ActionLink("編輯", "Edit", "web_comments", new { id = @item.comment_id }, null)
                            @Html.ActionLink("刪除", "Delete", "web_comments", new { id = @item.comment_id }, new { @class = "", onclick = "return confirm('確認要刪除?')" })
                        </div>
                    }
                    <hr />
                    <!--判斷前端是否要顯示被按讚過-->

                    <div class="emoji_panel d-flex  ">
                        <div class="comment_emoji_detail  d-flex">
                            <div class="emoji ">
                                @if (@Model.comment_emoji_details.Where(m => m.member_id == @memberId && m.comment_id == item.comment_id && m.emoji_id == 1).Count() > 0)
                                {

                                    <img class="icon comment_emoji_heart click_button" src="~/images/emoji/talk.png" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 1).Count()" data-comment_id="@item.comment_id" data-emoji_id="1" disabled="disabled" />
                                    <span class="emoji_num comment_emoji_heart_num">@item.comment_emoji_details.Where(m => m.emoji_id == 1).Count() </span>
                                }
                                else
                                {
                                    <img class="icon comment_emoji_heart" src="~/images/emoji/talk.png" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 1).Count()" data-comment_id="@item.comment_id" data-emoji_id="1" />
                                    <span class="emoji_num comment_emoji_heart_num">@item.comment_emoji_details.Where(m => m.emoji_id == 1).Count() </span>
                                }
                            </div>
                            <div class="emoji">
                                @if (@Model.comment_emoji_details.Where(m => m.member_id == @memberId && m.comment_id == item.comment_id && m.emoji_id == 2).Count() > 0)
                                {

                                    <img class="icon comment_emoji_unicorn click_button" src="~/images/emoji/unicorn.svg" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 2).Count() " data-comment_id="@item.comment_id" data-emoji_id="2" disabled="disabled" />
                                    <span class="emoji_num comment_emoji_unicorn_num">@item.comment_emoji_details.Where(m => m.emoji_id == 2).Count()</span>
                                }
                                else
                                {
                                    <img class="icon comment_emoji_unicorn" src="~/images/emoji/unicorn.svg" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 2).Count() " data-comment_id="@item.comment_id" data-emoji_id="2" />
                                    <span class="emoji_num comment_emoji_unicorn_num">@item.comment_emoji_details.Where(m => m.emoji_id == 2).Count()</span>
                                }
                            </div>
                            <div class="emoji">

                                @if (@Model.comment_emoji_details.Where(m => m.member_id == @memberId && m.comment_id == item.comment_id && m.emoji_id == 3).Count() > 0)
                                {

                                    <img class="icon comment_emoji_good click_button" src="~/images/emoji/sweet-potato.png" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 3).Count()" data-comment_id="@item.comment_id" data-emoji_id="3" disabled="disabled" />
                                    <span class="emoji_num comment_emoji_good_num">@item.comment_emoji_details.Where(m => m.emoji_id == 3).Count()</span>
                                }
                                else
                                {
                                    <img class="icon comment_emoji_good" src="~/images/emoji/sweet-potato.png" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 3).Count()" data-comment_id="@item.comment_id" data-emoji_id="3" />
                                    <span class="emoji_num comment_emoji_good_num">@item.comment_emoji_details.Where(m => m.emoji_id == 3).Count()</span>
                                }
                            </div>
                        </div>
                        <hr />
                    </div>
                    <!--單則留言-->
                    <div class="message_list  ">


                        @foreach (var msgItem in item.message)
                        {
                            <div class=" single_message py-3">
                                <div class="media mt-3">
                                    <img src="~/images/member/@msgItem.member.member_profile.profile_photo" class="mr-3 ml-3 member_avatar" alt="..." onerror="this.src='/images/member/avatar.png';">

                                    <div class="media-body ">

                                        <div class="d-flex message_body">
                                            <h5 class="member_name">
                                                @msgItem.member.member_profile.nickname
                                            </h5>
                                            <!-- 更多選項 -->
                                            @if (@memberId != null)
                                            {
                                                <div class="msg_more_action dropdown dropleft">
                                                    <a class="" href="#" id="dropdownMore" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        <img class="icon" src="~/images/emoji/more.png" />
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMore">
                                                        <a class="dropdown-item report_msg" data-toggle="modal" data-target="#msgreportModel"> 檢舉此留言</a>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                        <!--檢舉留言modal-->

                                        <div class="modal fade" id="msgreportModel" tabindex="-1" role="dialog" aria-labelledby="msgreportModel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalScrollableTitle">檢舉留言</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <textarea class="msg_report_content" name="report_content" rows="20" cols="20" placeholder="請附上有問題的網址，以及違規評論內容"></textarea>
                                                    </div>
                                                    <input type="hidden" class="report_message_id" value="@msgItem.msg_id" />
                                                    <div class="modal-footer">
                                                        <button id="btnTest" type="submit" class="btn btn-outline-dark submit_msg_issue" data-dismiss="modal">提交表單</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <span class="create_time">
                                            @msgItem.msg_time.ToString("yyyy MM dd")
                                        </span>
                                        <div class="response_content">
                                            @msgItem.msg_content
                                        </div>
                                        <hr />
                                        <div class="emoji">
                                            @if (@Model.message_emoji_details.Where(m => m.member_id == @memberId && m.msg_id == msgItem.msg_id).Count() > 0)
                                            {

                                                <img class="icon msg_emoji_heart click_button" src="~/images/emoji/talk.png" data-value="@msgItem.message_emoji_details.Count()" data-msgid="@msgItem.msg_id" data-emojiid=1 disabled="disabled" />
                                                <span class="msg_emoji_heart_num">@msgItem.message_emoji_details.Count() </span>
                                            }
                                            else
                                            {
                                                <img class="icon msg_emoji_heart" src="~/images/emoji/talk.png" data-value="@msgItem.message_emoji_details.Count()" data-msgid="@msgItem.msg_id" data-emojiid=1 />
                                                <span class="msg_emoji_heart_num">@msgItem.message_emoji_details.Count()</span>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="render_msg"></div>
                        <!--回覆留言-->

                        <div class="add_message single_message">
                            @*<button class="submit_msg" value="submit_msg">submit_msg</button>*@
                            @if (@memberId != null)
                            {
                                <form action="/web_comments/createMessage" method="post">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="comment_id" value="@item.comment_id" />
                                    <input type="hidden" name="msg_time" value="@DateTime.Now" />
                                    <input type="hidden" name="member_id" value="@Session["memberID"]" />
                                    <input type="hidden" name="msg_status" value="True" />
                                    <input type="hidden" name="tourism_id" value="@item.tourism_id" />
                                    <textarea class="msg_content" rows="2" cols="20" name="msg_content" placeholder="@User.Identity.GetUserName(),想說說甚麼..."></textarea>
                                    <br />
                                    <div class="add_message_Submit_area text-right">
                                        <input id="add_message_Submit" class="btn btn-outline-dark" type="submit" value="submit" />
                                    </div>
                                </form>
                            }
                            else
                            {
                                <textarea class="msg_content" rows="2" cols="20" name="msg_content" placeholder="請先登入後留言"></textarea>
                            }
                        </div>




                    </div>
                </div>

            </div>

        }
    }
    @*<div>
        @Html.PagedListPager(Model.comment_page, page => Url.Action("Index", "web_Member_Index", new { page = page }),
        new PagedListRenderOptions
        {
            ContainerDivClasses = new[] { "" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
        })
    </div>*@
</div>


<script>
        var id ;
        var tourismId = "@ViewBag.tourismId";

        if ("@Session["memberID"]" =="") {
            id = null

        } else {

            id = "@Session["memberID"]"

        }
        console.log(id)
        console.log(tourismId)
    @{  var member = Model.member.Where(m => m.member_id == memberId).FirstOrDefault();  }
    //新增留言
    @*$(".submit_msg").click(function () {
        $(".render_msg").append(`<div class=" single_message py-3">
                                                                                                                  <div class="media mt-3">
                                    <img src='http://localhost:54678/images/member/"@(member.member_profile.profile_photo)"' class="mr-3 ml-3 member_avatar" alt="..." onerror="this.src='/images/member/avatar.png';">

                                    <div class="media-body ">

                                        <div class="d-flex message_body">
                                            <h5 class="member_name">
                                                "@(member.member_profile.nickname)"
                                            </h5>
                                        <br>
                                        <span class="create_time">
                                            @(DateTime.Now.ToString("yyyy MM dd"))
                                        </span>
<br>
                                        <div class="response_content">
                                            ${$('.msg_content').val()}
                                        </div>
<br>
                                        <hr />
                                        <div class="emoji">
                                                <img class="icon msg_emoji_heart" src="http://localhost:54678/images/emoji/talk.png" data-value="0" data-msgid="0" data-emojiid=1 />
                                                <span class="msg_emoji_heart_num">0</span>

                                        </div>
                                    </div>
                                </div>
                            </div>`);
        $('.msg_content').val("")

        })*@
        //顯示文章
        $(".readmore").click(function () {
            $(".intro").toggleClass('showMore');

        })
        //新增收藏
        $(".bucket_list").click(function (e) {
            if (id == null) {
                event.stopPropagation();
                alert('請先登入:)');
                return false;
            }
        });
        //新增評論
        $(".add_comment").click(function (e) {
            if (id == null) {
                event.stopPropagation();
                alert('請先登入:)');
                return false;
            }
        })

        //評論按讚
        $(".comment_emoji_detail").click(function (e) {
            if (id == null) {
                e.stopPropagation();
                alert('請先登入:)');
                return false;
            }

            let emoji = $(event.target).closest('.emoji').find('.icon')
            let emoji_num = $(event.target).closest('.emoji').find('.emoji_num')
            let comment_id = emoji.data("comment_id")
            let emoji_id = emoji.data("emoji_id")

            if (emoji.attr('disabled') == 'disabled') {
                emoji.attr('disabled', false);
                emoji.removeClass('click_button');

                $.ajax({
                type: 'Delete',
                    url: "http://localhost:54678/api/api_comment_emoji_details",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        "member_id": id,
                        "comment_id": comment_id,
                        "emoji_id": emoji_id,
                        "tourism_id": tourismId
                    }),
                    success: function (data, status) {
                        $.get(`@Url.Action("getCommentEmojiNum","CommentsWeb")?emojiId=${emoji_id}&commentId=${comment_id}&tourismId=${tourismId}`, function (data) {
                            emoji_num.text(data)
                        });

                    }
                });
                return;
            } else {
                emoji.attr('disabled', true);
                emoji.addClass('click_button')

            $.ajax({
                type: 'POST',
                url: "http://localhost:54678/api/api_comment_emoji_details",
                contentType: 'application/json',
                data: JSON.stringify({
                        "member_id": id,
                    "comment_id": comment_id,
                    "emoji_id": emoji_id,
                    "tourism_id":tourismId
                }),
                success: function (data, status) {
                        $.get(`@Url.Action("getCommentEmojiNum","CommentsWeb")?emojiId=${emoji_id}&commentId=${comment_id}&tourismId=${tourismId}`, function (data) {
                            emoji_num.text(data)
                        });

                    }
                });
            }


        });




    $(".msg_emoji_heart").click(function (e) {
            if (id == null) {
                e.stopPropagation();
                alert('請先登入:)');
                return false;
            }
            let emoji = $(this).closest('.emoji').find('.msg_emoji_heart ')
        let emoji_num = $(this).closest('.emoji').find('.msg_emoji_heart_num')
        let msg_id = emoji.data("msgid")
        let emoji_id = emoji.data("emojiid")

        if (emoji.attr('disabled') == 'disabled') {

                emoji.attr('disabled', false);
                emoji.removeClass('click_button');
            $.ajax({
                type: 'Delete',
                url: "http://localhost:54678/api/api_message_emoji_details",
                contentType: 'application/json',
                data: JSON.stringify({
                        "member_id": id,
                    "msg_id": msg_id,
                    "emoji_id": emoji_id,
                    "tourism_id": tourismId
                }),
                success: function (data, status) {
                        $.get(`@Url.Action("getMsgEmojiNum","CommentsWeb")?msg_id=${msg_id}&tourismId=${tourismId}`, function (data) {
                            emoji_num.text(data)
                    console.log(data)
                });

                    }
                });

            } else {
                emoji.attr('disabled', true);
                emoji.addClass('click_button')

            $.ajax({
                type: 'POST',
                url: "http://localhost:54678/api/api_message_emoji_details",
                contentType: 'application/json',
                data: JSON.stringify({
                        "member_id": id,
                    "msg_id": msg_id,
                    "emoji_id": emoji_id,
                    "tourism_id": tourismId
                }),
                success: function (data, status) {
                    $.get(`@Url.Action("getMsgEmojiNum","CommentsWeb")?msg_id=${msg_id}&tourismId=${tourismId}`, function (data) {
                            emoji_num.text(data)
                        console.log(data)
                });

                    }
                });

            }
        });
        //檢舉評論
        function sendReport() {
            $.ajax({
            type: 'POST',
                url: `http://localhost:54678/api/api_issues?memberId=${id}&issueContent=${$('#report_content').val()}&issue_id=3&problem_id=${$('.report_comment_id').val().toString()}`,
            success: function (data, status) {
                    alert("提交成功!")
                }
            });

        }
        function sendMsgReport() {
            $.ajax({
            type: 'POST',
                url: `http://localhost:54678/api/api_issues?memberId=${id}&issueContent=${$('.msg_report_content').val()}&issue_id=4&problem_id=${$('.report_message_id').val().toString()}`,
            success: function (data, status) {
                    alert("提交成功!")
                }
            });

        }
        $(".submit_issue").click(function (e) {
            if (id == null) {
                event.stopPropagation();
                alert('請先登入:)');
                return false;
            }
            sendReport()
            $('#report_content').val("")
        });


    $(".report_msg").click(function (e) {
            if (id == null) {
                event.stopPropagation();
                alert('請先登入:)');
                return false;
            }

        });
         $(".submit_msg_issue").click(function (e) {


            if (id == null) {
                event.stopPropagation();
                alert('請先登入:)');
                return false;
            }

            sendMsgReport()
             $('.msg_report_content').val("")
        });

</script>


