<link href="~/Content/destinations.css" rel="stylesheet" />
@using Microsoft.AspNet.Identity
@model TravelCat.ViewModels.FollowerViewModels
@{
    ViewBag.Title = "Details";
    Layout = null;

    string memberId;
    if (Session["memberID"] == null || string.IsNullOrWhiteSpace(Session["memberID"].ToString()))
    {
        memberId = null;
    }
    else
    {
        memberId = Session["memberID"].ToString();
    }

}

<!--1則 評論-->
<div class=" justify-content-center align-items-center">

    @foreach (var item in Model.comment)
    {
        if (item.comment_status)
        {
            <div class="container">


                <div class="single_comments  ">
                    <input id="comment_id" type="hidden" value=@item.comment_id />
                    <div class="member_detail ">
                        <div class="d-flex">
                            @if (item.member.member_profile.profile_photo != null)
                            {
                                <img class="member_avatar" src="~/images/member/@item.member.member_profile.profile_photo" alt="..." onerror="this.src='/images/member/avatar.png';" >
                            }
                            else
                            {
                                <img class="member_avatar" src="~/images/member/avatar.png" alt="...">
                            }

                            <div class="d-flex">
                                <h5 class="member_name">@item.member.member_profile.nickname</h5>
                            </div>
                        </div>
                        <!-- 更多選項 -->
                        @if (@memberId != null)
                        {
                            <div class="more_action dropdown dropleft">
                                <a class="" href="#" id="dropdownMore" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <img class="icon" src="~/images/emoji/more.png" />
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMore">
                                    <a class="dropdown-item" href="#">分享到 facebook</a>
                                    <a class="dropdown-item" href="#">分享到 line</a>
                                    <a class="dropdown-item" href="#">分享到 google</a>
                                    <a class="dropdown-item report_comment" data-toggle="modal" data-target="#reportModel"> 檢舉此評論</a>
                                </div>
                            </div>
                        }

                    </div>
                    <!--檢舉評論modal-->

                    <div class="modal fade" id="reportModel" tabindex="-1" role="dialog" aria-labelledby="reportModel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">檢舉評論</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <textarea id="report_content" name="report_content" rows="20" cols="20" placeholder="請附上有問題的網址，以及違規評論內容"></textarea>
                                </div>
                                <input type="hidden" class="report_comment_id" value="@item.comment_id" />
                                <div class="modal-footer">
                                    <button id="btnTest" type="submit" class="btn btn-outline-dark submit_issue" data-dismiss="modal">提交表單</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment_photo">
                        <img src="/images/comment/@item.comment_photo" class="comment_photo w-100" alt="X_X" onerror="this.src='/images/comment/0_2019129下午090757.jpg';" />
                    </div>
                    <div class="commemt_content">
                        @{int rating = item.comment_rating;
                            int empty = 5 - item.comment_rating;
                        }
                        @for (int i = 0; i < rating; i++)
                        {
                            <i class="fas fa-heart" style="color:rgba(174,37,46,0.99);"></i>
                        }
                        @for (int i = 0; i < empty; i++)
                        {
                            <i class="fas fa-heart-broken"></i>
                        }

                        <h2 class="comment_title">@item.comment_title</h2>
                        <span class="create_time "> @item.comment_date.ToString("yyyy MM dd")  </span>

                        <div class="response_content">
                            <p>@Html.Raw(item.comment_content.ToString().Replace("\n", "<br>"))</p>
                        </div>


                    </div>


                    <hr />
                    <!--判斷前端是否要顯示被按讚過-->

                    <div class="emoji_panel d-flex  ">
                        <div class="comment_emoji_detail  d-flex">
                            <div class="emoji ">
                                @if (@Model.comment_emoji_details.Where(m => m.member_id == @memberId && m.comment_id == item.comment_id && m.emoji_id == 1).Count() > 0)
                                {

                                    <img class="icon comment_emoji_heart click_button" src="~/images/emoji/talk.png" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 1).Count()" data-comment_id="@item.comment_id" data-emoji_id="1" disabled="disabled" />
                                    <span class="emoji_num comment_emoji_heart_num">@item.comment_emoji_details.Where(m => m.emoji_id == 1).Count() </span>
                                }
                                else
                                {
                                    <img class="icon comment_emoji_heart" src="~/images/emoji/talk.png" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 1).Count()" data-comment_id="@item.comment_id" data-emoji_id="1" />
                                    <span class="emoji_num comment_emoji_heart_num">@item.comment_emoji_details.Where(m => m.emoji_id == 1).Count() </span>
                                }
                            </div>
                            <div class="emoji">
                                @if (@Model.comment_emoji_details.Where(m => m.member_id == @memberId && m.comment_id == item.comment_id && m.emoji_id == 2).Count() > 0)
                                {

                                    <img class="icon comment_emoji_unicorn click_button" src="~/images/emoji/unicorn.svg" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 2).Count() " data-comment_id="@item.comment_id" data-emoji_id="2" disabled="disabled" />
                                    <span class="emoji_num comment_emoji_unicorn_num">@item.comment_emoji_details.Where(m => m.emoji_id == 2).Count()</span>
                                }
                                else
                                {
                                    <img class="icon comment_emoji_unicorn" src="~/images/emoji/unicorn.svg" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 2).Count() " data-comment_id="@item.comment_id" data-emoji_id="2" />
                                    <span class="emoji_num comment_emoji_unicorn_num">@item.comment_emoji_details.Where(m => m.emoji_id == 2).Count()</span>
                                }
                            </div>
                            <div class="emoji">

                                @if (@Model.comment_emoji_details.Where(m => m.member_id == @memberId && m.comment_id == item.comment_id && m.emoji_id == 3).Count() > 0)
                                {

                                    <img class="icon comment_emoji_good click_button" src="~/images/emoji/sweet-potato.png" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 3).Count()" data-comment_id="@item.comment_id" data-emoji_id="3" disabled="disabled" />
                                    <span class="emoji_num comment_emoji_good_num">@item.comment_emoji_details.Where(m => m.emoji_id == 3).Count()</span>
                                }
                                else
                                {
                                    <img class="icon comment_emoji_good" src="~/images/emoji/sweet-potato.png" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 3).Count()" data-comment_id="@item.comment_id" data-emoji_id="3" />
                                    <span class="emoji_num comment_emoji_good_num">@item.comment_emoji_details.Where(m => m.emoji_id == 3).Count()</span>
                                }
                            </div>
                        </div>
                        <hr />
                    </div>

                    
                </div>
            </div>
        }
    }
</div>

