<link href="~/Content/destinations.css" rel="stylesheet" />
@using Microsoft.AspNet.Identity
@model TravelCat.ViewModels.destinationsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/web-Layout.cshtml";

    string memberId;
    if (Session["memberID"] == null || string.IsNullOrWhiteSpace(Session["memberID"].ToString()))
    {
        memberId = null;
    }
    else
    {
        memberId = Session["memberID"].ToString();
    }

}


<div class=" justify-content-center align-items-center">

    @foreach (var item in Model.comment)
    {
        if (item.comment_status)
        {
            <div class="container">


                <div class="single_comments  ">
                    <input id="comment_id" type="hidden" value=@item.comment_id />
                    <div class="member_detail ">
                        <div class="d-flex">
                            <img class="member_avatar" src="~/images/member/@item.member.member_profile.profile_photo" alt="...">
                            <div class="d-flex">
                                <h5 class="member_name">@item.member.member_profile.nickname</h5>
                            </div>
                        </div>
                        <!-- 更多選項 -->
                        <div class="more_action">
                            <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="icon" src="~/images/emoji/more.png" />
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">分享到 facebook</a>
                                <a class="dropdown-item" href="#">分享到 line</a>
                                <a class="dropdown-item" href="#">分享到 google</a>
                                <a class="dropdown-item report_comment" data-toggle="modal" data-target="#exampleModalScrollable"> 檢舉此評論</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment_photo">
                        <img src="/images/comment/@item.comment_photo" class="comment_photo img-fluid" />
                    </div>
                    <div class="commemt_content">
                        <h2 class="comment_title">@item.comment_title</h2>
                        <span class="create_time "> @item.comment_date.ToString("yyyy MM dd")  </span>
                        <div class="response_content">
                            <p>@Html.Raw(item.comment_content.ToString().Replace("\n", "<br>"))</p>
                        </div>
                    </div>

                    @if (memberId == item.member_id)
                    {
                        <div class="text-right">
                            @Html.ActionLink("編輯", "Edit", "web_comments", new { id = @item.comment_id }, null)
                            @Html.ActionLink("刪除", "Delete", "web_comments", new { id = @item.comment_id }, new { @class = "", onclick = "return confirm('確認要刪除?')" })
                        </div>
                    }
                    <hr />
                    <div class="emoji_panel d-flex btn-group btn-group-toggle mb-3 mt-3  " data-toggle="buttons">
                        <div class="comment_emoji_detail emoji">
                            <img class="icon comment_emoji_heart" src="~/images/emoji/talk.png" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 1).Count()" comment_id="@item.comment_id" emoji_id="1" />
                            <span class="comment_emoji_heart_num">@item.comment_emoji_details.Where(m => m.emoji_id == 1).Count() </span>
                            <img class="icon comment_emoji_unicorn" src="~/images/emoji/unicorn.svg" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 2).Count() " comment_id="@item.comment_id" emoji_id="2" />
                            <span class="comment_emoji_unicorn_num">@item.comment_emoji_details.Where(m => m.emoji_id == 2).Count()</span>
                            <img class="icon comment_emoji_good" src="~/images/emoji/sweet-potato.png" data-value="@item.comment_emoji_details.Where(m => m.emoji_id == 3).Count()" comment_id="@item.comment_id" emoji_id="3" />
                            <span class="comment_emoji_good_num">@item.comment_emoji_details.Where(m => m.emoji_id == 3).Count()</span>
                        </div>


                        <hr />


                        <!--檢舉評論modal-->
                        <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalScrollableTitle">檢舉評論</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <textarea id="report_content" name="report_content" rows="20" cols="20" placeholder="請附上有問題的網址，以及違規評論內容"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="btnTest" type="submit" class="btn btn-outline-dark submit_issue" data-dismiss="modal">提交表單</button>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                    
                </div>
            </div>
        }
    }
</div>




@section scripts {

    <script>
        var id ;
        var tourismId = "@ViewBag.id";

        if ("@Session["memberID"]" =="") {
            id = null

        } else {

            id = "@Session["memberID"]"

        }
        console.log(id)
        console.log(tourismId)

        //顯示文章
        $(".readmore").click(function () {
            $(".intro").toggleClass('showMore');

        })
        //新增收藏
        $(".add_to_bucket_list").click(function (e) {
            if (id == null) {
                event.stopPropagation();
                alert('請先登入:)');
                return false;
            }
        });
        //新增評論
        $(".add_comment").click(function (e) {
            if (id == null) {
                event.stopPropagation();
                alert('請先登入:)');
                return false;
            }
        })
        //評論按讚
        $(".comment_emoji_detail").click(function (e) {
            if (id == null) {
                event.stopPropagation();
                alert('請先登入:)');
                return false;
            }
            let value = parseInt(e.target.getAttribute('data-value'))
            let plusValue = value + 1
            let comment_id = e.target.getAttribute('comment_id')
            let emoji_id = e.target.getAttribute('emoji_id')

            if ($(e.target).attr('disabled') == 'disabled') {
                $(e.target).attr('disabled', false);
                $(e.target).removeClass('click_button');
                $(event.target).next().text(value);
                $.ajax({
                    type: 'Delete',
                    url: "http://localhost:54678/api/api_comment_emoji_details",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        "member_id": id,
                        "comment_id": comment_id,
                        "emoji_id": emoji_id,
                        "tourism_id":tourismId
                    }),
                    success: function (data, status) {


                    }
                });
                return;
            } else
            $(e.target).attr('disabled', true);
            $(e.target).addClass('click_button')
            $(event.target).next().text(plusValue);
            $.ajax({
                type: 'POST',
                url: "http://localhost:54678/api/api_comment_emoji_details",
                contentType: 'application/json',
                data: JSON.stringify({
                    "member_id": id,
                    "comment_id": comment_id,
                    "emoji_id": emoji_id,
                    "tourism_id":tourismId
                }),
                success: function (data, status) {


                }
            });

        });
        //檢舉評論
        function sendReport() {

            $.ajax({
                type: 'POST',
                url: `http://localhost:54678/api/api_issues?memberId=${id}&issueContent=${$('#report_content').val()}`,
                success: function (data, status) {
                    alert("提交成功!")
                }
            });
            $('#report_content').val("")
        }
        $(".submit_issue").click(function (e) {
            if (id == null) {
                event.stopPropagation();
                alert('請先登入:)');
                return false;
            }
            sendReport()
        });


    </script>
}

