<link href="~/Content/collection.css" rel="stylesheet" />
@using Microsoft.AspNet.Identity
@model TravelCat.ViewModels.CollectionViewModels
@using TravelCat.ViewModels
@{
    ViewBag.Title = "member_index";
    Layout = "~/Views/Shared/web-Layout.cshtml";
    string memberId;
    if (Session["memberID"] == null || string.IsNullOrWhiteSpace(Session["memberID"].ToString()))
    {
        memberId = null;
    }
    else
    {
        memberId = Session["memberID"].ToString();
    }
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var mapJson = jss.Serialize(ViewBag.data);
}
<style>
</style>
@if (Model.collections_detail.Count() > 0)
{
    //google map
    <div id="map"></div>
    
    <div class="col-8 offset-2 ">
        <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">收藏</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">想要去</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">已經去過</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#mustGo" role="tab" aria-controls="pills-contact" aria-selected="false">非去不可</a>
            </li>
        </ul>

        <div class="tab-content justify-content-center" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                @*內容*@
                <div class="grid">
                    @foreach (var item in ViewBag.collect)
                    {
                        <div class="grid-cell grid-33">
                            @{if (item.tourism_id.Contains("A"))
                                {
                                    <a class="" href="@Url.Action("Details","web_activities",new { id= @item.tourism_id})">

                                        <div class="square square-100 " style="background-image:url('https://source.unsplash.com/collection/388793/random?sig=@(Guid.NewGuid())');">

                                            <div class='title'>
                                                <h2>@Model.activity.Where(m => m.activity_id == @item.tourism_id).FirstOrDefault().activity_title</h2>
                                            </div>
                                        </div>
                                    </a>
                                }
                                else if (item.tourism_id.Contains("S"))
                                {
                                    <a class="" href="@Url.Action("Details","webSpots",new { id= @item.tourism_id})">

                                        <div class="square square-100" style="background-image:url('https://source.unsplash.com/collection/388793/random?sig=@(Guid.NewGuid())');">

                                            <div class='title'>
                                                <h2>@Model.spot.Where(m => m.spot_id == @item.tourism_id).FirstOrDefault().spot_title</h2>
                                            </div>
                                        </div>
                                    </a>

                                }
                                else if (item.tourism_id.Contains("R"))
                                {

                                    <a class="" href="@Url.Action("Details","WebRestaurants",new { id= @item.tourism_id})">

                                        <div class="square square-100 " style="background-image:url('https://source.unsplash.com/collection/388793/random?sig=@(Guid.NewGuid())');">
                                            <div class='title'>
                                                <h2>@Model.restaurant.Where(m => m.restaurant_id == @item.tourism_id).FirstOrDefault().restaurant_title</h2>
                                            </div>
                                        </div>
                                    </a>
                                }
                                else if (item.tourism_id.Contains("H"))
                                {
                                    <a class="" href="@Url.Action("Details","WebHotels",new { id= @item.tourism_id})">

                                        <div class="square square-100 " style="background-image:url('https://source.unsplash.com/collection/388793/random?sig=@(Guid.NewGuid())');">
                                            <div class='title'>
                                                <h2>@Model.hotel.Where(m => m.hotel_id == @item.tourism_id).FirstOrDefault().hotel_title</h2>
                                            </div>
                                        </div>
                                    </a>
                                }
                            }
                        </div>
                    }
                </div>
                @*內容結尾*@
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="row">
                    @foreach (var item in ViewBag.wannaGo)
                    {
                        <div class="grid-cell grid-33">
                            @{if (item.tourism_id.Contains("A"))
                                {
                                    <a class="" href="@Url.Action("Details","web_activities",new { id= @item.tourism_id})">

                                        <div class="square square-100 " style="background-image:url('https://source.unsplash.com/collection/388793/random?sig=@(Guid.NewGuid())');">

                                            <div class='title'>
                                                <h2>@Model.activity.Where(m => m.activity_id == @item.tourism_id).FirstOrDefault().activity_title</h2>
                                            </div>
                                        </div>
                                    </a>
                                }
                                else if (item.tourism_id.Contains("S"))
                                {
                                    <a class="" href="@Url.Action("Details","webSpots",new { id= @item.tourism_id})">

                                        <div class="square square-100" style="background-image:url('https://source.unsplash.com/collection/388793/random?sig=@(Guid.NewGuid())');">

                                            <div class='title'>
                                                <h2>@Model.spot.Where(m => m.spot_id == @item.tourism_id).FirstOrDefault().spot_title</h2>
                                            </div>
                                        </div>
                                    </a>

                                }
                                else if (item.tourism_id.Contains("R"))
                                {

                                    <a class="" href="@Url.Action("Details","WebRestaurants",new { id= @item.tourism_id})">

                                        <div class="square square-100 " style="background-image:url('https://source.unsplash.com/collection/388793/random?sig=@(Guid.NewGuid())');">
                                            <div class='title'>
                                                <h2>@Model.restaurant.Where(m => m.restaurant_id == @item.tourism_id).FirstOrDefault().restaurant_title</h2>
                                            </div>
                                        </div>
                                    </a>
                                }
                                else if (item.tourism_id.Contains("H"))
                                {
                                    <a class="" href="@Url.Action("Details","WebHotels",new { id= @item.tourism_id})">

                                        <div class="square square-100 " style="background-image:url('https://source.unsplash.com/collection/388793/random?sig=@(Guid.NewGuid())');">
                                            <div class='title'>
                                                <h2>@Model.hotel.Where(m => m.hotel_id == @item.tourism_id).FirstOrDefault().hotel_title</h2>
                                            </div>
                                        </div>
                                    </a>
                                }
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="row">

                    @foreach (var item in ViewBag.hadBeen)
                    {
                        <div class="grid-cell grid-33">
                            @{if (item.tourism_id.Contains("A"))
                                {
                                    <a class="" href="@Url.Action("Details","web_activities",new { id= @item.tourism_id})">

                                        <div class="square square-100 " style="background-image:url('https://source.unsplash.com/collection/388793/random?sig=@(Guid.NewGuid())');">

                                            <div class='title'>
                                                <h2>@Model.activity.Where(m => m.activity_id == @item.tourism_id).FirstOrDefault().activity_title</h2>
                                            </div>
                                        </div>
                                    </a>
                                }
                                else if (item.tourism_id.Contains("S"))
                                {
                                    <a class="" href="@Url.Action("Details","webSpots",new { id= @item.tourism_id})">

                                        <div class="square square-100" style="background-image:url('https://source.unsplash.com/collection/388793/random?sig=@(Guid.NewGuid())');">

                                            <div class='title'>
                                                <h2>@Model.spot.Where(m => m.spot_id == @item.tourism_id).FirstOrDefault().spot_title</h2>
                                            </div>
                                        </div>
                                    </a>

                                }
                                else if (item.tourism_id.Contains("R"))
                                {

                                    <a class="" href="@Url.Action("Details","WebRestaurants",new { id= @item.tourism_id})">

                                        <div class="square square-100 " style="background-image:url('https://source.unsplash.com/collection/388793/random?sig=@(Guid.NewGuid())');">
                                            <div class='title'>
                                                <h2>@Model.restaurant.Where(m => m.restaurant_id == @item.tourism_id).FirstOrDefault().restaurant_title</h2>
                                            </div>
                                        </div>
                                    </a>
                                }
                                else if (item.tourism_id.Contains("H"))
                                {
                                    <a class="" href="@Url.Action("Details","WebHotels",new { id= @item.tourism_id})">

                                        <div class="square square-100 " style="background-image:url('https://source.unsplash.com/collection/388793/random?sig=@(Guid.NewGuid())');">
                                            <div class='title'>
                                                <h2>@Model.hotel.Where(m => m.hotel_id == @item.tourism_id).FirstOrDefault().hotel_title</h2>
                                            </div>
                                        </div>
                                    </a>
                                }
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="mustGo" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="row">
                    @foreach (var item in ViewBag.mustGo)
                    {
                        <div class="grid-cell grid-33">
                            @{if (item.tourism_id.Contains("A"))
                                {
                                    <a class="" href="@Url.Action("Details","web_activities",new { id= @item.tourism_id})">

                                        <div class="square square-100 " style="background-image:url('https://source.unsplash.com/collection/388793/random?sig=@(Guid.NewGuid())');">

                                            <div class='title'>
                                                <h2>@Model.activity.Where(m => m.activity_id == @item.tourism_id).FirstOrDefault().activity_title</h2>
                                            </div>
                                        </div>
                                    </a>
                                }
                                else if (item.tourism_id.Contains("S"))
                                {
                                    <a class="" href="@Url.Action("Details","webSpots",new { id= @item.tourism_id})">

                                        <div class="square square-100" style="background-image:url('https://source.unsplash.com/collection/388793/random?sig=@(Guid.NewGuid())');">

                                            <div class='title'>
                                                <h2>@Model.spot.Where(m => m.spot_id == @item.tourism_id).FirstOrDefault().spot_title</h2>
                                            </div>
                                        </div>
                                    </a>

                                }
                                else if (item.tourism_id.Contains("R"))
                                {

                                    <a class="" href="@Url.Action("Details","WebRestaurants",new { id= @item.tourism_id})">

                                        <div class="square square-100 " style="background-image:url('https://source.unsplash.com/collection/388793/random?sig=@(Guid.NewGuid())');">
                                            <div class='title'>
                                                <h2>@Model.restaurant.Where(m => m.restaurant_id == @item.tourism_id).FirstOrDefault().restaurant_title</h2>
                                            </div>
                                        </div>
                                    </a>
                                }
                                else if (item.tourism_id.Contains("H"))
                                {
                                    <a class="" href="@Url.Action("Details","WebHotels",new { id= @item.tourism_id})">

                                        <div class="square square-100 " style="background-image:url('https://source.unsplash.com/collection/388793/random?sig=@(Guid.NewGuid())');">
                                            <div class='title'>
                                                <h2>@Model.hotel.Where(m => m.hotel_id == @item.tourism_id).FirstOrDefault().hotel_title</h2>
                                            </div>
                                        </div>
                                    </a>
                                }
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    <div>

    </div>
}
else
{
<div class="col-8 offset-2 text-center text-white" >
    <h1>還沒有收藏的內容唷~</h1>
    </div>
}
    <!--google-->

<script>

    var map;
    var marker;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: parseFloat(mapJson[0].latitude), lng: parseFloat(mapJson[0].longitude) },
            zoom: 7,
            styles: [
                {
                    "featureType": "all",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "weight": "2.00"
                        }
                    ]
                },
                {
                    "featureType": "all",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#9c9c9c"
                        }
                    ]
                },
                {
                    "featureType": "all",
                    "elementType": "labels.text",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#f2f2f2"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "landscape.man_made",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "all",
                    "stylers": [
                        {
                            "saturation": -100
                        },
                        {
                            "lightness": 45
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#eeeeee"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#7b7b7b"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#46bcec"
                        },
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#c8d7d4"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#070707"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                }
            ]
        });
        for (var i = 0; i < mapJson.length; i++) {
            marker = new google.maps.Marker({
                position: { lat: parseFloat(mapJson[i].latitude), lng: parseFloat(mapJson[i].longitude) },//positon 位置
                map: map, //標示地圖
                title: mapJson[i].title
            })
        }
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbQxjXC0otfo4YjWBXOOzuVnvAAHMsFs8&callback=initMap" async defer></script>


<script>
//use Json.parse to convert string to Json

var mapJson = JSON.parse(@Html.Raw(mapJson));


$(function () {


});
</script>

