@model TravelCat.Models.member

@{
    ViewBag.Title = "Editpassword";
    Layout = "~/Views/Shared/web-Layout.cshtml";
}
<style>
    body {
        background-image: url('../../images/photo-1452423668729-43a98052d3ee.jpg');
        background-size: cover;
    }

    .form_panel {
        background: hsla(0,0%,100%,.3);
        color: #000;
    }
     .darkolivegreen-cat {
        background-color:darkolivegreen;/*深綠*/
       color:aliceblue; /*白色*/
       
    }
        .darkolivegreen-cat:hover {
            background-color:#227700;/*墨綠*/
            color: aliceblue;
        }
</style>
<div class="container ">
    <div class="form_panel ">
        <h2 class="mt-5 pt-4">修改密碼</h2>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="container">
                    <div class="row">
                        <div class=" offset-2 col-md-8 ">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.member_id)

                            <div class="form-group">
                                <label class="col-form-label">原密碼</label>
                                <div class="col-md-10">
                                    <input id="oldpassword" type="password" name="oldpassword" class="form-control" />
                                </div>
                                <span class="text-danger">@ViewBag.Err</span>
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">新密碼</label>
                                <div class="col-md-10">
                                    <input id="Password1" type="password" name="newpassword" class="form-control" />

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">確認密碼</label>
                                <div class="col-md-10">
                                    <input id="Password2" type="password" class="form-control" />

                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10  row justify-content-end">
                                    <input id="submit1" type="submit" value="修改" class="btn darkolivegreen-cat  btn-lg " />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        }

        <div class="font-weight-bold pb-2 pl-2">
            <h3> @Html.ActionLink("<-回到個人頁", "Index", new { id = Model.member_id })</h3>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $('#submit1').click(function () {
        var psd1 = $('#oldpassword').val();
        var psd2 = $('#Password1').val();
        var psd3 = $('#Password2').val();

        if (psd1 == "") {
            alert("請輸入原密碼！");
            return false;
        }
        if (psd2 == "") {
            alert("請輸入新密碼！");
            return false;
        }
        else if (psd3 == "") {
            alert("請輸入確認密碼！");
            return false;
        }
        else if (psd2 != psd3) {
            alert("兩次輸入的密碼不一致！");
            return false;
        }
    });

</script>


