@model TravelCat.Models.member
@{
    ViewBag.Title = "EditMemberProfile";
    Layout = "~/Views/Shared/web-Layout.cshtml";
}
<style>
    body {
        background-image: url('../../images/photo-1452423668729-43a98052d3ee.jpg');
        background-size: cover;
    }

    .form_panel {
        background: hsla(0,0%,100%,.3);
        color: #000;
    }
     .darkolivegreen-cat {
        background-color:darkolivegreen;/*深綠*/
       color:aliceblue; /*白色*/
       
    }
        .darkolivegreen-cat:hover {
            background-color:#227700;/*墨綠*/
            color: aliceblue;
        }
</style>
<div class="container">
    <div class="form_panel ">
        @using (Html.BeginForm("EditMemberProfile", "web_Member_Index", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal ">
                <h2 class="pt-4">個人資料</h2>

                <div class="container">
                    <div class="row">
                        <div class="offset-2 col-md-8">



                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.member_profile.member_id)

                            <div class="form-group">
                                @Html.LabelFor(model => model.member_account, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input id="newacc" value="@Model.member_account" name="newacc" class="form-control" readonly />
                                    @Html.ValidationMessageFor(model => model.member_account, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.member_profile.member_name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input id="newname" value="@Model.member_profile.member_name" class="form-control" readonly />
                                    @Html.ValidationMessageFor(model => model.member_profile.member_name, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.member_profile.gender, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @if (Model.member_profile.gender == true)
                                    {
                                        <input id="gender" value="男" class="form-control" readonly />
                                    }
                                    else if (Model.member_profile.gender == false)
                                    {
                                        <input id="gender" value="女" class="form-control" readonly />
                                    }

                                    @Html.ValidationMessageFor(model => model.member_profile.gender, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.member_profile.birthday, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input id="newbirthday" name="newbirthday" value="@Model.member_profile.birthday.Value.ToString("yyyy-MM-dd")" class="form-control" readonly />
                                    @Html.ValidationMessageFor(model => model.member_profile.birthday, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.member_profile.nickname, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input id="member_profile.nickname" type="text" value="@Model.member_profile.nickname" name="newnickname" class="form-control" />
                                    @Html.ValidationMessageFor(model => model.member_profile.nickname, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.member_profile.nation, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <select id="newnation" name="newnation" class="form-control">
                                        <option value="台灣">台灣</option>
                                        <option value="其他國家">其他國家</option>

                                    </select>

                                    @Html.ValidationMessageFor(model => model.member_profile.nation, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.member_profile.city, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <select id="newcity" name="newcity" value="@Model.member_profile.city" class="form-control">
                                        <option value="北部地區" disabled>北部地區</option>
                                        <option value="台北市">台北市</option>
                                        <option value="新北市">新北市</option>
                                        <option value="基隆市">基隆市</option>
                                        <option value="桃園市">桃園市</option>
                                        <option value="新竹市">新竹市</option>
                                        <option value="新竹縣">新竹縣</option>
                                        <option value="苗栗縣">苗栗縣</option>
                                        <option value="中部地區" disabled>中部地區</option>
                                        <option value="台中市">台中市</option>
                                        <option value="彰化縣">彰化縣</option>
                                        <option value="南投縣">南投縣</option>
                                        <option value="南部地區" disabled>南部地區</option>
                                        <option value="雲林縣">雲林縣</option>
                                        <option value="嘉義市">嘉義市</option>
                                        <option value="嘉義縣">嘉義縣</option>
                                        <option value="台南市">台南市</option>
                                        <option value="高雄市">高雄市</option>
                                        <option value="屏東縣">屏東縣</option>
                                        <option value="東部地區" disabled>東部地區</option>
                                        <option value="宜蘭縣">宜蘭縣</option>
                                        <option value="花蓮縣">花蓮縣</option>
                                        <option value="台東縣">台東縣</option>
                                        <option value="離島地區" disabled>離島地區</option>
                                        <option value="澎湖縣">澎湖縣</option>
                                        <option value="金門縣">金門縣</option>
                                        <option value="連江縣">連江縣</option>
                                        <option value="其他城市">其他城市</option>
                                    </select>
                                    @Html.ValidationMessageFor(model => model.member_profile.city, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.member_profile.address_detail, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input id="newaddress_detail" type="text" value="@Model.member_profile.address_detail" name="newaddress_detail" class="form-control" />
                                    @Html.ValidationMessageFor(model => model.member_profile.address_detail, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.member_profile.phone, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input id="newphone" type="text" value="@Model.member_profile.phone" name="newphone" class="form-control" />
                                    @Html.ValidationMessageFor(model => model.member_profile.phone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.member_profile.profile_photo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">

                                    @if (Model.member_profile.profile_photo != null)
                                    {
                                        <img src="/images/member/@Model.member_profile.profile_photo" width="150" />
                                    }
                                    else
                                    {
                                        <h3>無圖示</h3>
                                    }
                                    <input name="photo" id="photo" type="file" class="form-control" />

                                    @Html.ValidationMessageFor(model => model.member_profile.profile_photo, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10 row justify-content-end">
                                    <input type="submit" value="修改" class="btn darkolivegreen-cat  btn-lg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

       
        <div class="font-weight-bold pb-2 pl-2 " >
            <h3> @Html.ActionLink("<-回到個人頁", "Index", new { id = Model.member_id })</h3>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    $('#newnation option[value=@Model.member_profile.nation]').attr('selected', 'selected');
    $('#newcity option[value=@Model.member_profile.city]').attr('selected', 'selected');


</script>
