<link href="~/Content/MemberIndex.css" rel="stylesheet" />
@using Microsoft.AspNet.Identity
@model TravelCat.ViewModels.MemberIndexViewModels
@{
    ViewBag.Title = "member_index";
    Layout = "~/Views/Shared/web-Layout.cshtml";
    string memberId;
    if (Session["memberID"] == null || string.IsNullOrWhiteSpace(Session["memberID"].ToString()))
    {
        memberId = "null";
    }
    else
    {
        memberId = Session["memberID"].ToString();
    }
}



<div class="jumbotron jumbotron-fluid text-catcolor">

</div>





<div class=" container">
    <div class="user_profile_header media">

        <img src="~/images/member/@Model.member_profile.profile_photo" class="member_avatar align-self-start my-3 mx-3 img-circle：border-radius:100%  rounded-circle" alt="@Model.member_profile.profile_photo">


        <div class="member_header">
            <div class="personal_info"></div>
            <h2 class="mt-3">@Model.member_profile.nickname</h2>
            <p style="font:italic">@Model.member_profile.brief_intro</p>

        </div>
    </div>

    <div class=" ">
        <div class=" border-info mt-2 bg-light" style="background-color:azure">
            <div class="text-left" style="height:50px ;border:inherit">

                <div>

                    <div class="row ">
                        <div class="intro col-3 px-0">
                            <div class="profile_avatar">
                                <img src="~/images/member/@Model.member_profile.profile_photo" class="align-self-start my-3 mx-3 img-circle：border-radius:100%  rounded-circle " style="width:150px;height:150px" alt="...">
                            </div>
                            <br>
                            <br>
                            <h2 class="mt-3 text-center">@Model.member_profile.nickname</h2>
                            <!--追蹤會員-->
                            @if (@memberId != @Model.member.member_id)
                            {
                                <button class="follwered_btn btn btn-outline-dark" value="@Model.member.member_id">+ follow</button>
                            }

                            <br>

                            <div class="text-left ">
                                <div style="height:auto">

                                    <div>
                                        <ul class="listyle">
                                            <li>簡介</li>
                                            <li>城市:<span>@Model.member_profile.city</span></li>
                                            <li>
                                                網站:<span><a href="@Model.member_profile.website_link"><i class="far fa-address-card"></i></a></span>
                                            </li>
                                            <li>
                                                信箱驗證狀態:@if (@Model.member_profile.emailConfirmed == true)
                                                {<span>已認證</span> }
                                                else
                                                {<span>尚未認證</span>}
                                            </li>
                                        </ul>
                                    </div>

                                    <div>
                                        <ul class="listyle">
                                            <li>徽章牆</li>
                                            <li>
                                                分數 @{
                                                    var comeent_num = Model.comment.Where(m => m.member_id == @Model.member.member_id).Count();
                                                    var follow_num = @Model.follow_list.Where(m => m.member_id == @Model.member.member_id).Count();
                                                    var score = comeent_num * 5 + follow_num * 5;


                                                }
                                                @score
                                            </li>
                                            <li>
                                                @if (score > 10)
                                                {
                                                    <img src="http://localhost:54678/images/badges/9.png" />
                                                }
                                                else if (score > 20)
                                                {
                                                    <img src="http://localhost:54678/images/badges/1000_invites.png" />
                                                }
                                                else if (score > 30)
                                                {
                                                    <img src="http://localhost:54678/images/badges/100000_comments.png" />
                                                }
                                                else if (score > 40)
                                                {
                                                    <img src="http://localhost:54678/images/badges/50000_fans.png" />
                                                }




                                            </li>

                                        </ul>
                                    </div>



                                    <div>
                                        <ul class="listyle">
                                            <li>會員狀態</li>
                                            <li>評論數 @Model.comment.Where(m => m.member_id == @Model.member.member_id).Count()</li>
                                            <li>追蹤者 @Model.follow_list.Where(m => m.followed_id == @Model.member.member_id).Count()</li>
                                            <li>關注中 @Model.follow_list.Where(m => m.member_id == @Model.member.member_id).Count()</li>
                                            <li>加入時間 @Model.member_profile.create_time.ToString("yyyy MM dd")</li>
                                        </ul>
                                    </div>


                                    <button type="button" class="btn  btn-block text-white text-center " data-toggle="modal" data-target="#exampleModalCenter" style="background-color:#00cc99;">
                                        + 變更個人資料
                                    </button>
                                    <!-- Button trigger modal -->
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    @Html.ActionLink("編輯個人資料", "EditMemberProfile", "web_Member_Index", new { id = Model.member.member_id }, new { @class = "btn btn-outline-info" })<br />
                                                    @Html.ActionLink("修改密碼", "Editpassword", "web_Member_Index", new { id = Model.member.member_id }, new { @class = "btn btn-outline-info mt-2" })
                                                    @Html.ActionLink("更改信箱", "Editemail", "web_Member_Index", new { id = Model.member.member_id }, new { @class = "btn btn-outline-info" })
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>













                        <div class="col-9 mt-2" style="height:300px ">
                            <ul class="nav nav-pills mb-3 " id="pills-tab" role="tablist">
                                <li class="nav-item ">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">個人評論</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">追蹤評論</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">我的珍藏</a>
                                </li>

                            </ul>
                            <!--會員評論-->
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">@Html.Action("_CommentsFromMember", "CommentsWeb", new { memId = @Model.member.member_id }) </div>

                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">@Html.Action("_CommentsFromMember", "CommentsWeb", new { memId = @Model.member.member_id })</div>

                                <!--我的收藏-->
                                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                    <div class="row">
                                        @foreach (var item in Model.collections_detail)
                                        {

                                            <div class="card col-4">
                                                <img class="card-img-top img-fluid" src="~/images/activity/A001069_20191118下午0456093.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <p class="card-text">@item.tourism_id</p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
        $(".follwered_btn").click(function(){
            getfollowed();
        });
        function getfollowed() {
        $.post("@Url.Action("getfollowed","web_Member_Index")",
            {
                member_id: "@memberId",
                followed_id: $(".follwered_btn").val()
            })
            .done(function () {
                alert( `跟蹤成功` );
            })
            .fail(function() {
                alert( `跟蹤失敗` );
            })
        }
</script>
