<link href="~/Content/MemberIndex.css" rel="stylesheet" />
@using Microsoft.AspNet.Identity
@model TravelCat.ViewModels.MemberIndexViewModels
@{
    ViewBag.Title = "member_index";
    Layout = "~/Views/Shared/web-Layout.cshtml";
    string memberId;
    if (Session["memberID"] == null || string.IsNullOrWhiteSpace(Session["memberID"].ToString()))
    {
        memberId = null;
    }
    else
    {
        memberId = Session["memberID"].ToString();
    }
}
<style>
    .photo {
    position:relative;
    transform:scale(2,1.5);
    
   
    }
   
</style>

<div class="user_profile_header ">

    <div class="wrapper d-flex  ">

        @if (@Model.member_profile.profile_photo != null)
        {
            <img class="profile_avatar" src="~/images/member/@Model.member_profile.profile_photo" alt="..." onError="this.onerror=null;this.src='/images/member/avatar.png';">
        }
        else
        {
            <img class="profile_avatar" src="~/images/member/avatar.png" alt="...">
        }

            
        <div class="member_header">
            <div class="personal_info col-8 col-md-5">
                <h1>@Model.member_profile.nickname</h1>
                <p class="brief">@Model.member_profile.brief_intro</p>

                <!--編輯會員 or 追蹤會員-->
                @if (@memberId == @Model.member.member_id)
                {
                    <button type="button" class="btn  btn-outline-dark " data-toggle="modal" data-target="#exampleModalCenter">
                        + 編輯資料
                    </button>
                }
                else if (@Model.follow_list.Where(m => m.followed_id == @Model.member.member_id && m.member_id == @memberId).Count() > 0)
                {
                    <button class="follwered_btn btn btn-outline-dark " value="@Model.member.member_id">-追蹤</button>
                }
                else if (@memberId != null && @memberId != @Model.member.member_id)
                {
                    <button class="follwered_btn btn btn-outline-dark " value="@Model.member.member_id">+追蹤</button>

                }

            </div>
            <div class="member_location col-2 col-md-3 ">

                <ul class="">
                    <li><span class="subject_title">地點</span></li>
                    <li><span class="">@Model.member_profile.city</span></li>
                    <li><span class="subject_title">網站</span></li>
                    @if (@Model.member_profile.website_link != null)
                    {
                        <li><a class="a_style" href="@Model.member_profile.website_link"><i class="far fa-id-card"></i></a></li>
                    }

                </ul>
            </div>
            @if (@memberId != null)
            {
                <div class="mem_more_action dropdown dropleft">
                    <a class="" href="#" id="dropdownMore" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <img class="icon" src="~/images/emoji/more.png" />
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMore">
                        <a class="dropdown-item report_mem" data-toggle="modal" data-target="#memreportModel"> 檢舉此會員</a>
                    </div>
                </div>
                <!--檢舉會員modal-->

                <div class="modal fade" id="memreportModel" tabindex="-1" role="dialog" aria-labelledby="msgreportModel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalScrollableTitle">檢舉會員</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <textarea class="mem_report_content" name="report_content" rows="20" cols="20" placeholder="請附上有問題的網址，以及違規評論內容"></textarea>
                            </div>
                            <input type="hidden" class="report_mem_id" value="@Model.member.member_id" />
                            <div class="modal-footer">
                                <button id="btnTest" type="submit" class="btn btn-outline-dark submit_mem_issue" data-dismiss="modal">提交表單</button>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>
<div class="d-flex content_body">


    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">編輯資料</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.ActionLink("+編輯個人資料", "EditMemberProfile", "web_Member_Index", new { id = Model.member.member_id }, new { @class = "btn btn-outline-dark mt-2" })<br />
                    @Html.ActionLink("+修改密碼", "Editpassword", "web_Member_Index", new { id = Model.member.member_id }, new { @class = "btn btn-outline-dark mt-2" })<br />
                    @Html.ActionLink("+更改信箱", "Editemail", "web_Member_Index", new { id = Model.member.member_id }, new { @class = "btn btn-outline-dark mt-2 mb-5" })<br />
                </div>
            </div>
        </div>
    </div>
    <!--統計數據-->
    <div class="container-fluid">
        <div class="row">
            <div class="member_intro col-md-2 col-sm-2 px-0 " style="width:auto">
                <div class="text-left ">
                    <div>
                        <div>
                            <div>
                                <ul>
                                    <li>
                                        <span class="subject_title">信箱驗證</span>
                                        @if (@Model.member_profile.emailConfirmed == true)
                                        {
                                            <span>已認證</span> }
                                        else
                                        {
                                            <span>尚未認證</span>}
                                    </li>
                                    <li> <span span class="subject_title">評論數</span> @Model.comment.Where(m => m.member_id == @Model.member.member_id).Count()</li>
                                    <li> <span span class="subject_title">追蹤者</span> <button data-toggle="modal" class="info_content " data-target="#follow">@Model.follow.Count()</button></li>
                                    <li> <span span class="subject_title">關注中</span> <button data-toggle="modal" class="info_content" data-target="#followed">@Model.followed.Count()</button> </li>
                                    <li> <span span class="subject_title">加入時間</span> @Model.member_profile.create_time.ToString("yyyy MM dd")</li>
                                    <li>
                                        <span span class="subject_title">分數</span> @{
                                            var comeent_num = Model.comment.Where(m => m.member_id == @Model.member.member_id).Count();
                                            var follow_num = @Model.followed.Count();
                                            var score = comeent_num * 5 + follow_num * 5;

                                        }
                                        @score
                                    </li>
                                </ul>
                                <!--RANK-->
                                <ul>
                                    <li>排行榜</li>
                                    @foreach (var item in ViewBag.score)
                                    {

                                        <li>
                                            @(item.GetType().GetProperty("id").GetValue(item))
                                        </li>
                                        <li>
                                            @(item.GetType().GetProperty("total").GetValue(item))
                                        </li>
                                    }
                                </ul>
                                <div class="modal fade " id="follow" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">追蹤者</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <ul class="list-group list-group-flush">
                                                    @foreach (var item in @Model.follow)
                                                    {
                                                        <li class="list-group-item">
                                                            <img class="member_avatar" src="~/images/member/@item.member.member_profile.profile_photo" alt="..." onerror="this.src='/images/member/avatar.png';">
                                                            <a href="@Url.Action("Index","web_Member_Index",new {id =@item.member.member_id })">@item.member.member_profile.nickname</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade " id="followed" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">關注中</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <ul class="list-group list-group-flush">
                                                @foreach (var item in @Model.followed)
                                                {
                                                    foreach (var mem in @ViewBag.member_profile)
                                                    {
                                                        if (item.followed_id == mem.member_id)
                                                        {
                                                            <li class="list-group-item">
                                                                <img class="member_avatar" src="~/images/member/@mem.profile_photo" alt="..." onerror="this.src='/images/member/avatar.png';">
                                                                <a href="@Url.Action("Index","web_Member_Index",new {id =@mem.member_id})"> @mem.nickname</a>
                                                            </li>
                                                        }
                                                    }

                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-7  col-sm-10 " style="width:auto">
                <ul class="nav nav-pills-cat mb-3 row justify-content-center" style="height:20px " id="pills-tab" role="tablist">
                    <li class="nav-item col-md-2 text-center ">
                        <a class="nav-link-cat active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">個人評論</a>
                    </li>
                    <li class="nav-item  col-md-2 text-center ">
                        <a class="nav-link-cat" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">追蹤評論</a>
                    </li>

                </ul>
                <!--會員評論-->
                <div class="tab-content" id="pills-tabContent ">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">@Html.Action("_CommentsFromMember", "CommentsWeb", new { memId = @Model.member.member_id }) </div>

                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">@Html.Action("_CommentsForFollwers", "CommentsWeb", new { memId = @Model.member.member_id })</div>

                </div>
            </div>


            <div class="badge_sticker col-md-3 col-sm-12 " style="width:auto">

                <div class="row pt-5 pagebox">
                    <div class="col-md-6 ">
                        <div>
                            @if (Model.followed.Count()>10)
                            {
                                <img src="~/images/badges/AD7sqjR.png" class="photo" title="好朋友 -追蹤人數超過10 位"/>

                            }
                            
                                <img src="~/images/badges/band-sticker-printing-designs-nirvana-png-logo-11.png" class="photo" title="狂放不羈- 曾經有被檢舉的紀錄"/>

                                <img src="~/images/badges/cup.png" class="photo" />
                            </div>
                        <div>

                                <img src="~/images/badges/dinosaur.png" class="photo" title="遠古化石- 創立超過10 年的帳號"/>



                            @if (Model.member_profile.emailConfirmed == true)
                            {
                                <img src="~/images/badges/fire.png" class="photo" title="已知用火- 信箱通過認證" />
                            }

                        </div>




                    </div>
                    <div class="col-md-6">
                        <div>
                            @if (Model.comment.Where(m => m.member_id == memberId && m.tourism_id.StartsWith("A")).Count() > 20)
                            {
                                <img src="~/images/badges/happydog.png" class="photo" title="玩樂達人- 發表 20 篇活動評論"/>
                            }


                                <img src="~/images/badges/NBAGE.png" class="photo" />
                            </div>
                        <div>
                            <img src="~/images/badges/pineapple.png" class="photo" />
                            @if (Model.comment.Where(m => m.member_id == memberId && m.tourism_id.StartsWith("R")).Count() > 20)
                            {
                                <img src="~/images/badges/pizza.png" class="photo" title="美食評論家- 發表 20 篇餐廳評論" />
                            }


                            <img src="~/images/badges/rainbow.png" class="photo" />




                        </div>



                    </div>
                </div>


            </div>

        </div>
    </div>
</div>




<script>

    var id ;
        var tourismId = "@ViewBag.tourismId";

        if ("@Session["memberID"]" =="") {
            id = null

        } else {

            id = "@Session["memberID"]"

        }
        console.log(id)
        console.log(tourismId)

            function sendmemReport() {
            $.ajax({
                type: 'POST',
                url: `http://localhost:54678/api/api_issues?memberId=${id}&issueContent=${$('.mem_report_content').val()}&issue_id=2&problem_id=${$('.report_mem_id').val()}`,
                success: function (data, status) {
                    console.log($('.report_mem_id').val())
                    alert("提交成功!")
                }
            });

            }
             $(".submit_mem_issue").click(function (e) {


            if (id == null) {
                event.stopPropagation();
                alert('請先登入:)');
                return false;
            }

             sendmemReport()
             $('.mem_report_content').val("")
             });



    $(".follwered_btn").click(function () {
        if ($(".follwered_btn").text()=="-追蹤"){
            Unfollowed()
        } else if($(".follwered_btn").text()=="+追蹤"){
            getfollowed();
        }

     });
        function getfollowed() {
        $.post("@Url.Action("getfollowed","web_Member_Index")",
            {
                member_id: "@memberId",
                followed_id: $(".follwered_btn").val()
            })
            .done(function (response) {
                alert(response);
                $(".follwered_btn").text("-追蹤");
            })
            .fail(function() {
                alert( `追蹤失敗` );
            })
        }

        function Unfollowed() {
        $.post("@Url.Action("Unfollowed","web_Member_Index")",
            {
                member_id: "@memberId",
                followed_id: $(".follwered_btn").val()
            })
            .done(function (response) {
                alert(response);
                $(".follwered_btn").text("+追蹤")
            })
            .fail(function() {
                alert( `取消追蹤失敗` );
            })
    }


    //圖片旋轉

    jQuery(function($) {
    // changed .hover to .each
    $('.photo').each(function() {
        var a = Math.random() * 120 - 5;
        var b = Math.random() * 75 - 50;
        $(this).css('transform', 'rotate(' + b + 'deg)')
        $(this).css('top',  a + 'px')
        $(this).css('left',  a + 'px')
        $(this).css('right', a + 'px')
       
   

    });

    });

</script>
