@using Microsoft.AspNet.Identity

@model TravelCat.ViewModels.WebIndexViewModel

@{
    ViewBag.Title = "首頁";
    Layout = "~/Views/Shared/web-Layout.cshtml";
    string mem_id;

    if (Session["memberID"] == null || string.IsNullOrWhiteSpace(Session["memberID"].ToString()))
    {
        mem_id = "null";
    }
    else
    {
        mem_id = Session["memberID"].ToString();
    }
    Random random = new Random();
    int img_num = 0;
}
<link href="~/Content/web-Home.css" rel="stylesheet" />


<!--輪播banner-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="/WebSpots/Details/S005292"><img src="~/images/buildings-1846728_1920.jpg" class=" w-100" title="台北101"></a>
            <div class="carousel-caption">
                台北101
            </div>

        </div>
        <div class="carousel-item">
            <a href="/WebSpots/Details/S000419"><img src="~/images/taiwan-2696156_1920.jpg" class=" w-100" title="阿里山雲海"></a> 
            <div class="carousel-caption">
                五奇之雲海
            </div>
        </div>
        <div class="carousel-item">
            <a href="/WebSpots/Details/S003979"><img src="~/images/taiwan-667563_1920.jpg" class=" w-100" title="橘貓so cute!!!!!!"></a>　
            <div class="carousel-caption">
                猴硐貓村
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!--main-->
<div class="container mb-5">
    <section>
        <h1 class="section_title">開啟新旅程，探索世界的更多可能</h1>
        <h3>
            利用週休的時間計劃一趟短期休閒旅遊已蔚為風潮，形成一種全民運動!<br>

            還在為了去哪裡旅行或找尋飯店、餐廳而煩惱嗎？<br>

            旅途貓透過在地旅人最真實的心聲，為您呈現最佳旅遊地點！
            <br>
            <br>
            <br>
        </h3>
    </section>
    <hr />

    <!--下方篩選-->
    <div class="row mb-5">
        <div class="col-12">
            <h1 class="section_title">熱門目的地</h1>
            <div class="list-group" id="list-tab" role="tablist">
                <a class="active" id="list-home-list" data-toggle="list" href="#list-spot" role="tab" aria-controls="home">精選景點</a>
                <a class="" id="list-profile-list" data-toggle="list" href="#list-activities" role="tab" aria-controls="profile">精選活動</a>
                <a class="" id="list-messages-list" data-toggle="list" href="#list-hotel" role="tab" aria-controls="messages">精選飯店</a>
                <a class="" id="list-settings-list" data-toggle="list" href="#list-restaurant" role="tab" aria-controls="settings">精選餐廳</a>
            </div>
        </div>

        <div class="col-12">
            <div class="tab-content" id="nav-tabContent">

                <!--景點-->
                <div class="tab-pane fade show active" id="list-spot" role="tabpanel" aria-labelledby="list-home-list">

                    <!--景點card-->
                    @for (int i = 0; i < 8; i++)
                    {
                        img_num = random.Next(0, 27);
                        <div class="card ">
                            <img src="~/images/spot/S (@img_num).jpg" class="card-img-top " alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@Model.spot[i].spot_title</h5>
                                <p class="card-text">@Model.spot[i].spot_intro</p>
                                <p class="card-city" style="color: #128566; font-weight: 900; padding-top: 5px;">@Model.spot[i].city</p>

                                @Html.ActionLink("看更多", "Details", "WebSpots", new { id = @Model.spot[i].spot_id }, new { @class = "btn btn-primary btn-sm" })
                            </div>
                        </div>
                    }
                </div>

                <!--活動-->
                <div class="tab-pane fade" id="list-activities" role="tabpanel" aria-labelledby="list-profile-list">

                    <!--Card-->
                    @for (int i = 0; i < 8; i++)
                    {
                        img_num = random.Next(0, 27);
                        <div class="card">
                            <img src="~/images/activity/A (@img_num).jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@Model.activity[i].activity_title</h5>
                                <p class="card-text">@Model.activity[i].activity_intro</p>
                                <p class="card-city" style="color: #128566; font-weight: 900; padding-top: 5px;">@Model.spot[i].city</p>
                                @Html.ActionLink("看更多", "Details", "Web_activities", new { id = @Model.activity[i].activity_id }, new { @class = "btn btn-primary btn-sm" })
                            </div>
                        </div>
                    }
                </div>

                <!--飯店-->
                <div class="tab-pane fade" id="list-hotel" role="tabpanel" aria-labelledby="list-messages-list">

                    <!--Card-->
                    @for (int i = 0; i < 8; i++)
                    {
                        <div class="card">
                            <img src="https://source.unsplash.com/collection/9243935/random?sig=@(i.ToString())" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@Model.hotel[i].hotel_title</h5>
                                <p class="card-text">@Model.hotel[i].hotel_intro</p>
                                <p class="card-city" style="color: #128566; font-weight: 900; padding-top: 5px;">@Model.spot[i].city</p>
                                @Html.ActionLink("看更多", "Details", "WebHotels", new { id = @Model.hotel[i].hotel_id }, new { @class = "btn btn-primary btn-sm" })
                            </div>
                        </div>
                    }
                </div>

                <!--餐廳-->
                <div class="tab-pane fade" id="list-restaurant" role="tabpanel" aria-labelledby="list-settings-list">

                    <!--Card-->
                    @for (int i = 0; i < 8; i++)
                    {
                        img_num = random.Next(0, 26);
                        <div class="card">
                            <img src="~/images/restaurant/R (@img_num).jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@Model.restaurant[i].restaurant_title</h5>
                                <p class="card-text">@Model.restaurant[i].restaurant_intro</p>
                                <p class="card-city" style="color: #128566; font-weight: 900; padding-top: 5px;">@Model.spot[i].city</p>
                                @Html.ActionLink("看更多", "Details", "WebRestaurants", new { id = @Model.restaurant[i].restaurant_id }, new { @class = "btn btn-primary btn-sm" })
                            </div>
                        </div>
                    }
                </div>


            </div>
        </div>
    </div>

    <!--banner2-->
    <div class="secbanner">
        <p class="txt">
            放假了<br>
            <span class="mt-5">我好想出去玩！</span><br>
        </p>
    </div>
</div>



<!--留言展示-->
<div class="container mb-5 mt-5 Card-group">
    <div class="comment-main row">

        <div class="comment mb-2 col-12">
            <!--留言卡-->
            <div class="card-lg">
                <div class="card-body">
                    <div class="card-title mem">最多人喜歡的評論</div>
                    @*<div class="mem-comment">畢業於台灣第一學府－國立台灣大學，精通多國語言，連續四年獲得學生最高榮譽－書卷獎，打破創校以來最佳紀錄。外貌全身皆有細短絨毛，皮黃，身高可達29尺，生有鐵皮，長有獠牙，生性暴躁，口大可吞人，一次可進食數萬人類！平時穴居洞中，捕食路過之旅人，一年下山一次，每次下山皆造成當地大範圍傷害。傳聞此獸喜歡一種名為bmo的玩物，常為了此物與各方妖怪打鬥。</div>*@
                    <div class="mem-comment">
                        <p>
                            <b>@Model.comment.Where(c => c.comment_id == ViewBag.most_like).FirstOrDefault().comment_title</b>
                            <br>留言人 @Model.comment.Where(c => c.comment_id == ViewBag.most_like).FirstOrDefault().member_id
                        </p>
                        @Model.comment.Where(c => c.comment_id == ViewBag.most_like).FirstOrDefault().comment_content
                    </div>

                    <a href="@Url.Action("Details", "web_activities", new { id = @ViewBag.comment_id })" class="btn  btn-sm">前去觀看</a>

                </div>
            </div>
            <!--介紹卡-->
            <div class=" card-sm">
                <div class="card-body d-flex row justify-content-center">
                    @Html.ActionLink(@Model.activity.Where(s => s.activity_id == ViewBag.comment_id).FirstOrDefault().activity_title, "Details", "web_activities", new { id = @ViewBag.comment_id }, null)
                    <img src="~/images/comment/@Model.comment.Where(c => c.comment_id == ViewBag.most_like).FirstOrDefault().comment_photo" class="comment_photo">
                    <div class="like d-flex justify-content-center">
                        <p><i class="far fa-thumbs-up"></i> @ViewBag.like</p>
                        <p><i class="far fa-comment ml-5"></i> @ViewBag.comment_count</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="comment col-12">
            <!--介紹卡-->
            <div class=" card-sm">
                <div class="card-body d-flex row justify-content-center">
                    @switch (Model.comment[0].tourism_id[0].ToString())
                    {
                        case "A":
                            @Html.ActionLink(@Model.activity.Where(s => s.activity_id == Model.comment[0].tourism_id).FirstOrDefault().activity_title, "Details", "web_activities", new { id = Model.comment[0].tourism_id }, null)
                            break;
                        case "H":
                            @Html.ActionLink(@Model.hotel.Where(s => s.hotel_id == Model.comment[0].tourism_id).FirstOrDefault().hotel_title, "Details", "WebHotels", new { id = Model.comment[0].tourism_id }, null)
                            break;
                        case "R":
                            @Html.ActionLink(@Model.restaurant.Where(s => s.restaurant_id == Model.comment[0].tourism_id).FirstOrDefault().restaurant_title, "Details", "WebRestaurants", new { id = Model.comment[0].tourism_id }, null)
                            break;
                        case "S":
                            @Html.ActionLink(@Model.spot.Where(s => s.spot_id == Model.comment[0].tourism_id).FirstOrDefault().spot_title, "Details", "WebSpots", new { id = Model.comment[0].tourism_id }, null)
                            break;

                    }
                    <img src="~/images/comment/@Model.comment.Where(s => s.tourism_id == Model.comment[0].tourism_id).FirstOrDefault().comment_photo" class="comment_photo">
                    <div class="like d-flex justify-content-center">
                        <p><i class="far fa-thumbs-up"></i> @ViewBag.liken</p>
                        <p><i class="far fa-comment ml-5"></i> @Model.comment.Where(s => s.tourism_id == Model.comment[0].tourism_id).Count()</p>
                    </div>
                </div>
            </div>
            <!--留言卡-->
            <div class="card-lg">
                <div class="card-body">
                    <div class="card-title mem">最新評論</div>
                    @*<div class="mem-comment">畢業於台灣第一學府－國立台灣大學，精通多國語言，連續四年獲得學生最高榮譽－書卷獎，打破創校以來最佳紀錄。外貌全身皆有細短絨毛，皮黃，身高可達29尺，生有鐵皮，長有獠牙，生性暴躁，口大可吞人，一次可進食數萬人類！平時穴居洞中，捕食路過之旅人，一年下山一次，每次下山皆造成當地大範圍傷害。傳聞此獸喜歡一種名為bmo的玩物，常為了此物與各方妖怪打鬥。</div>*@
                    <div class="mem-comment">
                        <p>
                            <b>@Model.comment[0].comment_title</b>
                            <br>留言人： @Model.comment[0].member_id
                        </p>
                        @Html.Raw(Model.comment[0].comment_content)
                    </div>
                    <a href="#" class="btn  btn-sm">前去觀看</a>
                </div>
            </div>

        </div>

    </div>


    <div class="item ml-3">
        <div class="card ">
            <div class="card-body timeline">
                <h2 class="mb-2">如何出遊不遇雷呢?</h2>
                <ul>
                    <li>
                        <a href="#">
                            <h6>Stp1</h6>
                            <p>打開旅途貓，點選類型!</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h6>Stp2</h6>
                            <p>搜尋地點</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h6>Stp3</h6>
                            <p>瀏覽喜歡的景點!</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h6>Stp4</h6>
                            <p>觀看真實評論</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h6>Stp5</h6>
                            <p>多方參考並規劃</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h6>Stp6</h6>
                            <p>快樂出遊~!</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>
<!--排行榜-->
<!--RANK-->


<div class="center">
    <div class="top3">
        <div class="two item">
            <div class="pos">
                2
            </div>
            @foreach (var item in ViewBag.score2)
            {<a href="@Url.Action("Index","web_Member_Index",new {id=item.GetType().GetProperty("id").GetValue(item)})">
    <div class="pic" style="background-image: url(http://localhost:54678/images/member/@Model.member_profile.Where(m=>m.member_id ==  item.GetType().GetProperty("id").GetValue(item)).FirstOrDefault().profile_photo)"></div>
</a>
                    <div class="name">

                        @Model.member_profile.Where(m => m.member_id == item.GetType().GetProperty("id").GetValue(item)).FirstOrDefault().nickname

            </div>
                <div class="score">
                    @(item.GetType().GetProperty("total").GetValue(item))
                </div>
            }

        </div>
        <div class="one item">
            <div class="pos">
                1
            </div>
            @foreach (var item in ViewBag.score1)
            {
                <div class="pic" style="background-image: url(http://localhost:54678/images/member/@Model.member_profile.Where(m=>m.member_id ==  item.GetType().GetProperty("id").GetValue(item)).FirstOrDefault().profile_photo)"></div>

                <div class="name">
                    @Model.member_profile.Where(m => m.member_id == item.GetType().GetProperty("id").GetValue(item)).FirstOrDefault().nickname
                </div>
                <div class="score">
                    @(item.GetType().GetProperty("total").GetValue(item))
                </div>
            }
        </div>
        <div class="three item">
            <div class="pos">
                3
            </div>
            @foreach (var item in ViewBag.score3)
            {
                <div class="pic" style="background-image: url(http://localhost:54678/images/member/@Model.member_profile.Where(m=>m.member_id ==  item.GetType().GetProperty("id").GetValue(item)).FirstOrDefault().profile_photo)"></div>

                <div class="name">
                    @Model.member_profile.Where(m => m.member_id == item.GetType().GetProperty("id").GetValue(item)).FirstOrDefault().nickname
                </div>
                <div class="score">
                    @(item.GetType().GetProperty("total").GetValue(item))
                </div>
            }
        </div>
    </div>
    <div class="list col-4 offset-4">


        @foreach (var item in ViewBag.score4)
        {
            <div class="item">
                <div class="pos">
                    4
                </div>
                <div class="pic" style="background-image: url(http://localhost:54678/images/member/@Model.member_profile.Where(m=>m.member_id ==  item.GetType().GetProperty("id").GetValue(item)).FirstOrDefault().profile_photo)"></div>

                <div class="name">
                    @Model.member_profile.Where(m => m.member_id == item.GetType().GetProperty("id").GetValue(item)).FirstOrDefault().nickname
                </div>
                <div class="score">
                    @(item.GetType().GetProperty("total").GetValue(item))
                </div>
            </div>
                }



        </div>
</div>
<footer class="footer">

    <ul>
        <li>
            <strong>行動商務第 2 組專題</strong>
            <ul></ul>
            <ul class="right">
                <li></li>

            </ul>
        </li>
    </ul>
    <button type="button" class="btn btn-btn-dark" data-toggle="modal" data-target="#exampleModal" data-whatever="">回報問題 </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">網站問題回報</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form>

                        <div class="form-group">
                            <label for="message-text" class="col-form-label">問題內容:</label>
                            <textarea class="form-control" id="report_message"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark submit_web_issue" data-dismiss="modal">送出</button>
                </div>
            </div>
        </div>
    </div>

</footer>

<script>

    //檢舉評論
        var id ;
        var tourismId = "@ViewBag.tourismId";
        if ("@Session["memberID"]" =="") {
            id = null
        } else {
            id = "@Session["memberID"]"
        }

        function sendReport() {

            $.ajax({
                type: 'POST',
                url: `http://localhost:54678/api/api_issues?memberId=${id}&issueContent=${$('#report_message').val()}&issue_id=1`,
                success: function (data, status) {
                    alert("提交成功!")
                }
            });
            $('#report_message').val("")
        }
        $(".submit_web_issue").click(function (e) {

            if (id == null) {
                event.stopPropagation();
                alert('請先登入:)');
                return false;
            }

            sendReport()
        });



</script>