@model TravelCat.Models.member

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/web-Layout.cshtml";
    
}
    <link href="~/Content/web-Login.css" rel="stylesheet" />

<div class="container">
    <div class="main">
        <ul>
            <li class="Login-index"><a class="active" href="/Home/Login">登入</a></li>
            <li class="Register-index"><a href="/Register/Index">註冊</a></li>
        </ul>
        <div class="Login-box">
            <form id="login" method="post" action="@Url.Action("Login")">
                <h3 class="mb-4">會員登入</h3>
                <div class="form-inline mb-4">
                    @Html.LabelFor(model => model.member_account)
                    <input id="username" name="username" type="text" required="required" class="form-control ml-2" />
                </div>
                <div class="form-inline mb-4">
                    @Html.LabelFor(model => model.member_password)
                    <input id="password" name="password" type="password" required="required" class="form-control ml-2" />
                </div>

                <div>
                    <h5 class="text-danger mt-2">@ViewBag.LoginErr</h5>
                </div>

                <div>
                    <input type="checkbox" id="show_password" class="mb-3" />顯示密碼<br />
                    <a href="@Url.Action("ForgetPwd","Home")" class="text-info text-right">忘記密碼?</a>
                </div>
                @if (@ViewBag.returnUrl == null)
                {
                    <input type="hidden" name="returnUrl" value="http://localhost:54678/Home/Index" />
                }
                else
                {
                    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                }

                <input id="Submit1" type="submit" value="送出" class="btn btn-info mt-3 mr-3 " />
                <input id="Reset1" type="reset" value="清除" class="btn btn-info mt-3 ml-3" />
            </form>
        </div>
    </div>
</div>


@section scripts {
    <script>
        $('#show_password').click(function () {
            if ($('#password').attr("type") == "password")
            {
                $('#password').attr("type", "text");
            }
            else
            {
                $('#password').attr("type", "password");
            }
        });
    </script>
}



