@using X.PagedList.Mvc
@using X.PagedList
@using X.PagedList.Mvc.Common

@model IPagedList<TravelCat.Models.issue>

<form action="@Url.Action("Index")" method="get" class="text-right search m-2">
    @Html.TextBox("id", "", new { @class = "border", @placeholder = "請輸入被檢舉編號" })
    <input class="btn btn-secondary" type="submit" value="查詢" />
</form>

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().issue_type.issue_name)
        </th>
        <th>
            被檢舉編號
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().issue_content)
        </th>
        <th>
            檢舉人ID
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().report_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().issue_result)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().issue_status)
        </th>
        <th>
            管理員帳號
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().resolve_date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("管理", "Edit", new { id = item.id }, new { @class = "btn btn-sm btn-outline-primary" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.issue_type.issue_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.problem_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.issue_content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.member.member_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.report_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.issue_result)
            </td>
            <td>
                @if (item.issue_status == true)
                {
                    <span class="badge badge-success">已處理</span>
                }
                else
                {
                    <span class="badge badge-danger">未處理</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.admin.admin_account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.resolve_date)
            </td>
        </tr>
    }

</table>
<div>
    @Html.PagedListPager(Model, page => Url.Action("_Problem", "issues", new { page, id = ViewBag.id }),
   new PagedListRenderOptions
   {
       ContainerDivClasses = new[] { "" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
   })
</div>
