@model TravelCat.Models.issue

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>issue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.admin.admin_account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admin.admin_account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.issue_type.issue_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.issue_type.issue_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.member.member_account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.member.member_account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.report_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.report_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.issue_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.issue_content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.issue_result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.issue_result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.issue_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.issue_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resolve_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resolve_date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
