@model TravelCat.Models.admin

@{
    ViewBag.Title = "ForgetPwd";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>重設密碼</h3>
        <p>請填入申辦時的帳號跟信箱</p>
        <p>我們會將重設密碼的連結寄送至您的信箱</p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.admin_account, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="account" name="account" type="text" class="form-control" required="required" />
                @Html.ValidationMessageFor(model => model.admin_account, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.admin_email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="email" name="email" type="text" class="form-control" required="required" />
                @Html.ValidationMessageFor(model => model.admin_email, "", new { @class = "text-danger" })
            </div>
        </div>

        <p class="text-danger">@ViewBag.PwdErr</p>

        <div class="form-group mt-2">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="submit" value="送出" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回登入頁", "Index", "Loginadmin")
</div>
