@model TravelCat.Models.comment

@{
    ViewBag.Title = "Edit";
}

<link href="~/Content/back-end-Create.css" rel="stylesheet" />
<h2 class="ml-3 mt-3 text-danger text-center">管理評論</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.comment_id)


        <!--評論狀態-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.comment_status, htmlAttributes: new { @class = "txt" })
                <span class="checkbox ml-3">
                    @Html.EditorFor(model => model.comment_status)
                </span>
            </div>
        </div>

        <!--觀光編號-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.tourism_id, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.tourism_id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <!--評論編號-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.comment_id, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.comment_id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <!--會員id-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.member_id, "會員編號", htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.member_id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <!--評論標題-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.comment_title, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.comment_title, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <!--評論內容-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.comment_content, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.comment_content, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <!--評論時間-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.comment_date, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.comment_date, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <!--停留時間-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.comment_stay_total, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.comment_stay_total, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <!--伴侶-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.travel_partner, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.travel_partner, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <!--評分-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.comment_rating, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.comment_rating, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <!--旅遊月份-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.travel_month, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.travel_month, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <!--評論照片-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.comment_photo, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.comment_photo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <!--下方按鈕-->
        <div class="row text-center mt-3">
            <div class="col-md-12">
                <input type="submit" value="存檔" class="btn btn-primary" />
                @Html.ActionLink("返回列表", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>


    </div>
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
