@model IEnumerable<TravelCat.Models.comment>

@{
    ViewBag.Title = "管理評論";
}

    <link href="~/Content/back-end-index.css" rel="stylesheet" />
<h2 class="mt-3 text-center">管理評論</h2>

<div class="header ml-3">
    @*@Html.TextBox("id", "", new { @class = " border", @placeholder = "編號,名稱,城市,行政區" })
        @Html.ActionLink("查詢", "contentQuery", new { id = "id" }, new{@class="btn btn-default"})*@
    <div class="mr-1"></div>
    <form action="/Spot/Index" method="get" class="search">
        @Html.TextBox("id", "", new { @class = " border", @placeholder = "編號,名稱,城市,行政區" })
        <input class="btn btn-secondary" type="submit" value="查詢" />
    </form>
</div>

<table class="table">
    <tr class="row">
        <th class="col-1"></th>
        <th class="col-1">
            @Html.DisplayNameFor(model => model.member.member_account)
        </th>
        <th class="col-1">
            @Html.DisplayNameFor(model => model.tourism_id)
        </th>
        <th class="col-1">
            @Html.DisplayNameFor(model => model.comment_id)
        </th>
        <th class="col-2 text-truncate">
            @Html.DisplayNameFor(model => model.comment_title)
        </th>
        <th class="col-3 text-truncate">
            @Html.DisplayNameFor(model => model.comment_content)
        </th>
        <th class="col-3 text-truncate">
            @Html.DisplayNameFor(model => model.comment_date)
        </th>
    </tr>

@foreach (var item in Model) {
<tr class="row">
    <td class="col-1 text-center">
        @Html.ActionLink("管理", "Edit", new { id = item.comment_id }, new { @class = "btn btn-sm btn-outline-primary" })
    </td>
    <td class="col-1">
        @Html.DisplayFor(modelItem => item.member.member_account)
    </td>
    <td class="col-1">
        @Html.DisplayFor(modelItem => item.tourism_id)
    </td>
    <td class="col-1">
        @Html.DisplayFor(modelItem => item.comment_id)
    </td>
    <td class="col-2 text-truncate">
        @Html.DisplayFor(modelItem => item.comment_title)
    </td>
    <td class="col-3 text-truncate">
        @Html.DisplayFor(modelItem => item.comment_content)
    </td>
    <td class="col-3 text-truncate">
        @Html.DisplayFor(modelItem => item.comment_date)
    </td>
</tr>
}

</table>
