<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 旅途貓後台</title>
    <link rel="SHORTCUT ICON" href="~/images/favicon-20191112111833525.ico" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Layout-pages.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-free-5.11.2-web/css/all.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <a class="navbar-brand font-weight-bold" href="@Url.Action("Home","Admin")">
            <img src="~/images/cat-face-with-wry-smile_1f63c.png" width=" 40" height="40" class="d-inline-block align-top" alt="">
            <span class="navbar-brand mb-0 h1">旅途貓管理員系統</span>
        </a>
        <div class="nav-item dropdown font-weight-bold">
            <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdownMenuLink"
               data-toggle="dropdown">
                <i class="far fa-user"></i>
                管理員編號
            </a>
            <div class="dropdown-menu dropdown-menu-right bg-dark border border-secondary"
                 aria-labelledby="navbarDropdownMenuLink">
                @Html.ActionLink("設定", "Index", "Admin", null, new { @class = "dropdown-item bg-dark text-light mb-1" })
                @Html.ActionLink("登出", "Logout", "Loginadmin", null, new { @class = "dropdown-item bg-dark text-light mb-1" })
            </div>
        </div>

    </nav>
    <div class="warp">
        <input type="checkbox" name="" id="side-menu-switch" />
        <div class="side-menu">
            <ul class="item">
                <li> <i class=" fa fas fa-map-marked-alt"></i>@Html.ActionLink("首頁", "Home", "Admin")</li>
                <li> <i class=" fa fas fa-map-marked-alt"></i>@Html.ActionLink("景點編輯", "Index", "Spots")</li>
                <li><i class="fa fas fa-hamburger"></i>@Html.ActionLink("餐廳編輯", "Index", "Restaurants")</li>
                <li><i class="fa fas fa-building"></i>@Html.ActionLink("飯店編輯", "Index", "Hotels")</li>
                <li><i class="fa fas fa-running"></i>@Html.ActionLink("活動編輯", "Index", "Activities")</li>
                <li><i class="fa far fa-user"></i>@Html.ActionLink("會員管理", "Index", "members")</li>
                <li><i class="fa far fa-comments"></i>@Html.ActionLink("評論管理", "Index", "comments")</li>
                <li><i class="fa far fa-comment-dots"></i>@Html.ActionLink("留言管理", "Index", "messages")</li>
                <li><i class="fa far fa-file-alt"></i>@Html.ActionLink("網站問題管理", "Index", "issues")</li>

            </ul>
            <label for="side-menu-switch"><i class="fa fa-angle-right"></i></label>
        </div>

        <div class="container-fluid">@RenderBody()</div>
    </div>





    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>


