@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> @ViewBag.Title- 旅途貓</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/fontawesome-free-5.11.2-web/css/all.css" rel="stylesheet" />
    <link href="~/Content/web-Layout.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
</head>
<body>
    @{ string mem_id;
       string returnUrl = Request.Url.AbsoluteUri;
        if (Session["memberID"] == null || string.IsNullOrWhiteSpace(Session["memberID"].ToString()))
        {
            mem_id = "null";
        }
        else
        {
            mem_id = Session["memberID"].ToString();
        }

    }
    <header>
        <div class="header">
            <div class="header-bar">
                <a href="/Home/Index" class="logo">
                    <img src="~/images/cat-face-with-wry-smile_1f63c.png " width="50" />
                    旅途貓
                </a>

                @if (Request.IsAuthenticated && Session["memberID"] != null)
                {
                    <div>
                        @Html.ActionLink(@User.Identity.GetUserName(), "Index", "web_Member_Index", new { id = mem_id }, new { @class = "  memberId aTag_style" })

                        @Html.ActionLink("登出", "LogOut", "Home", null, new { @class = " aTag_style" })
                    </div>
                }
                else
                {
                    <div>
                        @Html.ActionLink("登入", "LogIn", "Home", new { returnUrl=@returnUrl}, new { @class = "  aTag_style" })
                        @Html.ActionLink("註冊", "Index", "Register", null, new { @class = "  aTag_style" })
                    </div>
                }
            </div>
        </div>
    </header>
    <div class="top-bar">
        <ul class="body-menu">
            <li>
                <a href="/WebSpots"><i class=" fas fa-map-marked-alt "></i> 景點</a>
            </li>
            <li>
                <a href="/web_activities"><i class="fas fa-running"></i> 活動</a>

            </li>
            <li><a href="/WebRestaurants"><i class="fas fa-hamburger"></i> 餐廳</a> </li>
            <li><a href="/WebHotels"><i class="fas fa-building"></i> 飯店</a> </li>
            <li class="search">
                <form action="/Search/Index" method="get">
                    <input name="q" type="text" class="search-txt" placeholder="想去哪裡呢?">
                    <button class="fas fa-search" type="submit" style="display: inline-block; margin-left: -4px;"></button>
                </form>
            </li>
        </ul>
    </div>




    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @RenderBody()
    @RenderSection("scripts", required: false)
    @*@RenderPage("~/Views/Shared/_footer.cshtml" )*@
    @*<footer class="footer">

            <ul>
                <li>
                    <strong>行動商務第 2 組專題</strong>
                    <ul>
                        <li>Adresse, street</li>
                        <li>Tlf: Phone</li>
                    </ul>
                    <ul class="right">
                        <li>Zipcode/City</li>
                        <li>Mail: Email</li>
                    </ul>
                    </li>
             </ul>
        </footer>*@
</body>
</html>


<script>
    console.log("@Url")
</script>







