@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> @ViewBag.Title- 旅途貓</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/fontawesome-free-5.11.2-web/css/all.css" rel="stylesheet" />
    <link href="~/Content/web-Layout.css" rel="stylesheet" />
</head>
<body>
    @{ string mem_id;
        if (Session["memberID"] == null || string.IsNullOrWhiteSpace(Session["memberID"].ToString()))
        {
            mem_id = "null";
        }
        else
        {
            mem_id = Session["memberID"].ToString();
        }
    }
    <header>
        <div class="header">
            <div class="header-bar">
                <a href="#" class="logo">
                    <img src="~/images/cat-face-with-wry-smile_1f63c.png " width="50" />
                    旅途貓
                </a>
                <div class="search">
                    <input type="text" class="search-txt">
                    <i class="fas fa-search"></i>
                    <a href="#" class="memberId">
                        <i class="far fa-user"></i>
                        @if (Request.IsAuthenticated)
                        {
                            <p>@User.Identity.GetUserName()</p>
                            <br />
                            @Html.ActionLink("會員個人頁面", "Index", "web_Member_Index", new { id = mem_id }, new { @class = "btn btn-outline-info" })
                            <br />
                            <span>@Html.ActionLink("登出", "LogOut", "Home")</span>

                        }
                        else
                        {
                            <span>請登入</span>
                            <br />
                            <span>@Html.ActionLink("登入", "LogIn", "Home")</span>
                            <br />
                            @Html.ActionLink("註冊", "Index", "Register")
                        }


                    </a>
                </div>
            </div>
        </div>
    </header>






    @RenderBody()



    <footer class="footer">行動商務第2組專題</footer>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>










