@model TravelCat.Models.admin

@{
    ViewBag.Title = "Delete";
}

<h2>確定要刪除嗎?</h2>


<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.admin_account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admin_account)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.admin_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admin_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailConfirmed)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("返回", "Index", "", new { @class = "btn btn-info" })|
            <input type="submit" value="刪除" class="btn btn-danger" onclick="return confirm('確定要刪除嗎?')" />
        </div>
    }
</div>
