@model TravelCat.Models.admin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>admin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.admin_account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admin_account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.admin_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admin_password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.admin_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admin_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailConfirmed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.admin_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
