@model IEnumerable<TravelCat.Models.admin>

@{
    ViewBag.Title = "Index";
    //var account = "";
    //if(Session["id"] == null || string.IsNullOrWhiteSpace(Session["id"].ToString()))
    //{
    //    Response.Redirect("~/Loginadmin/Index");
    //}
    //else
    //{
    //    account = Session["id"].ToString();
    //}
}


<h2>管理員</h2>

<p>
    @Html.ActionLink("新增管理員", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.admin_account)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.admin_password)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.admin_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailConfirmed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.admin_account)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.admin_password)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.admin_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emailConfirmed)
        </td>
        <td>
            @Html.ActionLink("修改個人資料", "Edit", new { id = item.admin_id }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("修改密碼", "Editpwd", new { id = item.admin_id }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("刪除", "Delete", new { id = item.admin_id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
