@model IEnumerable<TravelCat.Models.admin>

@{
    ViewBag.Title = "Index";
}

<h2>管理員</h2>

<p>
    @Html.ActionLink("新增管理員", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.admin_account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.admin_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailConfirmed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.admin_account)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.admin_email)
        </td>
        <td>
            @if (item.emailConfirmed == true)
            {
                <span class="badge badge-success">已驗證</span>
            }
            else
            {
                <span class="badge badge-danger">未驗證</span>
            }
        </td>
        <td>
            @Html.ActionLink("修改個人資料", "Edit", new { id = item.admin_id }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("修改密碼", "Editpwd", new { id = item.admin_id }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("刪除", "Delete", new { id = item.admin_id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
