@model IEnumerable<TravelCat.Models.admin>

@{
    ViewBag.Title = "Index";
}

<h2>管理員</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.admin_account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.admin_password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.admin_account)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.admin_password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.admin_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.admin_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.admin_id })
        </td>
    </tr>
}

</table>
