@model TravelCat.ViewModels.RestaurantPhotoViewModel

@{
    ViewBag.Title = "修改餐廳";
}

<link href="~/Content/back-end-Create.css" rel="stylesheet" />
<h2 class="ml-3 mt-3 text-danger text-center">修改餐廳</h2>

<form method="post" action="@Url.Action("Edit")" enctype="multipart/form-data">

    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.restaurant.restaurant_id)

        <!--頁面狀態-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.restaurant.page_status, htmlAttributes: new { @class = "txt" })
                <select id="Select1" name="restaurant.page_status" class="form-control">
                    <option value="False">顯示</option>
                    <option value="True">隱藏</option>
                </select>
            </div>
        </div>

        <!--編號-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.restaurant.restaurant_id, htmlAttributes: new { @class = "txt" })
                <input id="restaurant_id" name="restaurant_id" type="text" readonly="readonly" value="@Model.restaurant.restaurant_id" class="form-control" />
            </div>
        </div>

        <!--名稱-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.restaurant.restaurant_title, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.restaurant.restaurant_title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.restaurant.restaurant_title, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--電話-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.restaurant.restaurant_tel, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.restaurant.restaurant_tel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.restaurant.restaurant_tel, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--經度-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.restaurant.longitude, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.restaurant.longitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.restaurant.longitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--緯度-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.restaurant.latitude, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.restaurant.latitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.restaurant.latitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--城市-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.restaurant.city, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.restaurant.city, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.restaurant.city, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--行政區-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.restaurant.district, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.restaurant.district, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.restaurant.district, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--街道地址-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.restaurant.address_detail, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.restaurant.address_detail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.restaurant.address_detail, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--營業時間-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.restaurant.open_time, htmlAttributes: new { @class = "txt" })
                @Html.EditorFor(model => model.restaurant.open_time, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.restaurant.open_time, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--簡介-->
        <div class="row">
            <div class="co col-6">
                @Html.LabelFor(model => model.restaurant.restaurant_intro, htmlAttributes: new { @class = "txt" })
                @Html.TextAreaFor(model => model.restaurant.restaurant_intro, new { @class = "form-control", rows = "5" })
                @Html.ValidationMessageFor(model => model.restaurant.restaurant_intro, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row">
            <div class="co col-6">
                <label class="">圖片</label>

                <div class="row">
                    @{ var photo = Model.restaurant_photos.Where(m => m.tourism_id == Model.restaurant.restaurant_id).ToList();
                        for (int i = 0; i < 3; i++)
                        {
                            <div class="col-md-4">
                                @if (i > photo.Count - 1)
                                {
                                    <h3>no image</h3>
                                }
                                else
                                {
                                    <img src="/images/restaurant/@photo[i].tourism_photo1" width="150" />
                                    <input id="oldImg" name="oldImg" type="text" value="@photo[i].tourism_photo1" />
                                }
                                <input id="tourism_photo" name="tourism_photo" type="file" class="form-control" />
                                @Html.ValidationMessageFor(model => model.restaurant_photos[i].tourism_photo1, "", new { @class = "text-danger" })
                            </div>
                        }
                    }
                </div>
            </div>
        </div>



        <!--下方按鈕-->
        <div class="row text-center m-3">
            <div class="col-1">
                <input type="submit" value="儲存" class="btn btn-primary" />
            </div>
            <div class="col-1">
                @Html.ActionLink("刪除", "Delete", new { id = Model.restaurant.restaurant_id }, new { @class = "btn btn-danger", onclick = "return confirm('確定不後悔?')" })
            </div>
            <div class="col-2">
                @Html.ActionLink("回到景點列表", "Index", new { page = Session["pg"] }, new { @class = "btn btn-primary" })
            </div>

        </div>

    </div>
</form>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $('#Select1 option[value=@Model.restaurant.page_status]').attr('selected', 'selected');
    </script>

}