@model TravelCat.ViewModels.RestaurantPhotoViewModel

@{
    ViewBag.Title = "修改餐廳";
}

<h2>修改餐廳</h2>

<form method="post" action="@Url.Action("Edit")" enctype="multipart/form-data">

        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>restaurant</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.restaurant.restaurant_id)

        <div class="form-group">
            @Html.LabelFor(model => model.restaurant.restaurant_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="restaurant_id" name="restaurant_id" type="text" readonly="readonly" value="@Model.restaurant.restaurant_id" class="form-control" />
            </div>
        </div>




        <div class="form-group">
            @Html.LabelFor(model => model.restaurant.restaurant_title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.restaurant.restaurant_title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.restaurant.restaurant_title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.restaurant.restaurant_tel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.restaurant.restaurant_tel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.restaurant.restaurant_tel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.restaurant.restaurant_intro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.restaurant.restaurant_intro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.restaurant.restaurant_intro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.restaurant.latitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.restaurant.latitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.restaurant.latitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.restaurant.longitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.restaurant.longitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.restaurant.longitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.restaurant.city, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.restaurant.city, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.restaurant.city, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.restaurant.district, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.restaurant.district, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.restaurant.district, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.restaurant.address_detail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.restaurant.address_detail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.restaurant.address_detail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.restaurant.open_time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.restaurant.open_time, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.restaurant.open_time, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.restaurant.page_status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.restaurant.page_status)
                    @Html.ValidationMessageFor(model => model.restaurant.page_status, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">圖片</label>
            <div class="col-md-10">
                <input id="tourism_photo" name="tourism_photo" type="file" class="form-control" />
                @if (Model.restaurant_photos.tourism_photo1 != null)
                {
                    @:原圖：<img src="/images/restaurant/@Model.restaurant_photos.tourism_photo1" width="150" />
                }
                else
                {
                    <h3>原無圖示</h3>
                }
                <input id="oldImg" name="oldImg" type="hidden" value="@Model.restaurant_photos.tourism_photo1" />
                @Html.ValidationMessageFor(model => model.restaurant_photos.tourism_photo1, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
    </form>

<div>
    @Html.ActionLink("刪除", "Delete", new { id = Model.restaurant.restaurant_id }, new { @class = "btn btn-sm btn-outline-danger", onclick = "return confirm('確定不後悔?')" })
    @Html.ActionLink("回到餐廳列表", "Index")
</div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
