@model IEnumerable<TravelCat.Models.restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.restaurant_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.restaurant_tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.restaurant_intro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.district)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address_detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.open_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.page_status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.restaurant_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.restaurant_tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.restaurant_intro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.district)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address_detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.open_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.page_status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.restaurant_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.restaurant_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.restaurant_id }, new { onclick = "return confirm('確定不後悔?')" })
        </td>
    </tr>
}

</table>
